[2018-06-07 09:31] #2110 closed

[2018-06-07 10:07] ajeis opened #2113 "Uploading source files in PyPI repository"
Hello,

Currently the Pyarrow package in PyPI has only wheel files and not the source code, unlike some of the other open source projects. Some of the proprietary package manners require the source code be also uploaded to PyPI. Would it be possible for the maintainers to upload the source code as well to PyPI?
Apologies if this is not the right place for this discussion.

[2018-06-07 11:14] fredlorry opened #2114 "Add __iter__ method to pyarrow.lib.NativeFile."
Hello,

Currently, NativeFile does not pass the check of pandas for being a "file-like" object because it does not have `__iter__` method. It can be easily added using code from native python `io` module as a reference. Another way would be to subclass `io.IOBase`.

The exact code of pandas check can be found [here](https://github.com/pandas-dev/pandas/blob/master/pandas/core/dtypes/inference.py#L

[2018-06-07 11:30] arturomichel commented on #2110
Yeh, that makes sense. Thank for explanation.

On Thu, 7 Jun 2018 at 10:31 Uwe L. Korn <notifications@github.com> wrote:

[2018-06-07 13:43] xhochy commented on #2113
We have source tarballs uploaded: https://pypi.org/project/pyarrow/0.9.0/#files

The display is currently a bit weird as we had to upload a bugfix wheel for OSX. We will fix this with the upcoming 0.10.0.

[2018-06-07 13:43] #2113 closed

[2018-06-07 17:02] wesm commented on #2110
Perhaps we should add documentation how a user can supply column types for such columns to skip the inference.

[2018-06-07 18:13] arturomichel commented on #2110
A note regarding this in the `from_pandas()` method would prevent a lot of
frustration. Maybe?

On Thu, 7 Jun 2018, 18:02 Wes McKinney, <notifications@github.com> wrote:

[2018-06-08 00:14] ruixuel opened #2115 "[JS] Arrow 0.3.1 cannot compile with typescript 2.8.3 and ES6"
Arrow version: 0.3.1
Typescript version: 2.8.3
tsconfig.json:
{
    "compilerOptions": {
        "allowJs": true,
        "jsx": "react",
        "types": ["node"],
        "module": "commonjs",
        "lib": [
            "dom",
            "webworker",
            "ES6",
            "scripthost",
        ],
        "target": "ES6",
        "sourceMap": true,
        "allowSyntheticDefaultImport

[2018-06-08 07:19] xhochy commented on #2110
@arturomichel I added some documentation: https://github.com/apache/arrow/pull/2116

[2018-06-08 15:08] wesm commented on #2114
Thanks for pointing this out. Can you open a JIRA to track this bug/feature request?

[2018-06-08 16:20] domoritz opened #2119 "Create .arrow format"
I'm working on a JavaScript application and would like to load my data via arrow. I got stuck at the point where I create a `.arrow` file (I don't want to use parquet or feather) as used in https://github.com/apache/arrow/tree/master/js. I have a python program to read the data into a pandas data frame but https://arrow.apache.org/docs/python/ipc.html didn't mention how to write such a file. Is th

[2018-06-08 17:53] wesm commented on #2119
This is described here http://arrow.apache.org/docs/python/ipc.html#writing-and-reading-random-access-files. This could probably be made a bit more discoverable from the documentation table of contents -- could you create a JIRA about making some improvements to the section headers?

[2018-06-08 17:53] #2119 closed

[2018-06-08 18:08] domoritz commented on #2119
Ahh, I got confused because IPC of my appears in the title and never again. I'll create a ticket.

[2018-06-08 19:20] domoritz commented on #2119
https://issues.apache.org/jira/browse/ARROW-2684

[2018-06-08 19:42] domoritz opened #2123 "Invalid Arrow Buffer"
I'm trying to load an arrow file in my typescript application. I'm using https://github.com/parcel-bundler/parcel to bundle my app.

[code]

I get the following error `Uncaught (in promise) Error: Invalid Arrow buffer`.

[2018-06-08 19:43] domoritz commented on #2119
I think the answer is

[code]

[2018-06-08 19:48] domoritz commented on #2123
Maybe I need to convert the blob to a buffer

[code]

Now I get `Uncaught TypeError: Cannot read property 'fields' of undefined`.

[2018-06-08 19:51] domoritz commented on #1870
I wanted to do the same. Here are the two related issues: https://github.com/apache/arrow/issues/2119 and https://github.com/apache/arrow/issues/2123

[2018-06-08 19:51] wesm commented on #2112
Opened https://issues.apache.org/jira/browse/ARROW-2685

[2018-06-08 19:51] #2112 closed

[2018-06-08 19:54] wesm commented on #2123
cc @trxcllnt @TheNeuralBit. The version of the project on npm is slightly stale, do we need to do a 0.4.0 JS release soon?

@domoritz in general we prefer to use either JIRA or the mailing list for these discussions, but we have GitHub issues available to capture information from users who aren't yet familiar with how the project works

[2018-06-08 19:56] wesm commented on #2119
Yes, that looks right. I think you can pass the file name to `RecordBatchFileWriter` instead of opening the file yourself (the performance should even be better this way)

[2018-06-08 19:59] domoritz commented on #2123
I can post on the mailing list or create JIRA tickets instead. My questions are probably very naive and I wasn't sure where the right place is to ask them. I'll close this issue and move it to JIRA.

[2018-06-08 20:04] wesm commented on #2123
No worries, thanks!

[2018-06-08 20:07] wesm commented on #2115
I think you should be able to `npm install` from the `js/` directory of the git repo, similar to how we test release candidates https://github.com/apache/arrow/blob/master/dev/release/js-verify-release-candidate.sh#L93

Seems like this could be a bug, or something that's been fixed since the 0.3.1 release. Could you open a JIRA with this report? Thank you

[2018-06-08 20:18] domoritz commented on #2123
https://issues.apache.org/jira/browse/ARROW-2686

[2018-06-08 20:18] #2123 closed

[2018-06-08 21:33] trxcllnt commented on #2123
@domoritz you should use `response.arrayBuffer()`, and then wrap the ArrayBuffer in a Uint8Array like this:

[code]

[2018-06-08 21:41] domoritz commented on #2123
Oh, perfect. That works!

[2018-06-09 01:02] ruixuel commented on #2115
Thank you for your response. I find that in arrow repo: js/tsconfig/tsconfig.base.json, "ESNext" is included in the lib for typescript compilation.  That's why "npm install" works in your branch. However, since SharedArrayBuffer is not supported in most browsers for now, we don't want to support ESNext for our application. So I just add "skipLibCheck": true in the tsconfig.json to skip all *.d.ts

[2018-06-10 20:09] dmadeka opened #2131 "pyarrow 0.10.0 project tracking"
Quick question -

Is there a task list/link for the `0.10.0` release? Is this the right place to ask questions like this?

[2018-06-10 22:04] wesm commented on #2131
hi @dmadeka, the release milestone is tracked on the ASF's JIRA https://issues.apache.org/jira/projects/ARROW?selectedItem=com.atlassian.jira.jira-projects-plugin:release-page.

We are unlikely to make the 0.10.0 release until the packaging automation work (see prior mailing list discussions, pull requests) is completed. It would be great if that happened by the end of this month

In general the b

[2018-06-10 22:04] #2131 closed

[2018-06-11 08:34] asfimport commented on #42805
[Tham](https://issues.apache.org/jira/browse/PARQUET-1252?#comment-16507810) / @thamht4190:
@xhochy  it should be helpful if Boost_USE_STATIC_LIBS is passed on to thrift EP as well :) I have a problem in MacOS that thrift automatically uses dynamic lib that having different version with BOOST_ROOT that I passed on.

[2018-06-11 20:46] asfimport opened #42828 "[C++][Parquet] Fix compiler warnings with clang-6.0"
Observed when building today

[code]

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=wesm) / @wesm
**Assignee**: Wes McKinney](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=wesm) / @wesm
#### PRs and other links:
- [GitHub Pull Request #478](https://github.com/apache/parquet-cpp/pull/478)

<sub>**Note**: *This issue was originally created as

[2018-06-12 18:52] asfimport commented on #42773
[Keith Godwin Chapman](https://issues.apache.org/jira/browse/PARQUET-1158?#comment-16510027):
@xhochy Do you have a timeline in mind for when this would be ready? 

[2018-06-12 19:06] csutera opened #2135 "parquet.py does not include filters method for ParquetDataset through pip"
The file included in the distribution on pip does not include the latest parquet.py filters method for ParquetDataset found in this repository.

[2018-06-12 19:58] wesm commented on #2135
This will be part of the 0.10 release. I'm not sure on timeline as we are blocked on some release process / packaging improvements. Hopefully by sometime in July

[2018-06-12 19:58] #2135 closed

[2018-06-13 12:47] randomgambit opened #2138 "pyarrow fails to split large dataframe into tiny parquet files"
Hello there, I am following up on a discussion with @xhochy .

It seems writing a large dataframe into a single `parquet` is no problem, whereas trying to split the writing into many different `parquet` files creates memory issues.

Please have a look here for a complete reprex.

https://stackoverflow.com/questions/50824943/how-to-efficiently-split-a-large-dataframe-into-many-parquet-files

Thanks

[2018-06-13 15:13] randomgambit commented on #2138
related https://github.com/dask/dask/issues/3598#issuecomment-396970081

[2018-06-13 15:49] rpanai commented on #2138
This [asnwer](https://stackoverflow.com/a/50841152/4819376) should solve the problem. The dask solution is 2.5x faster but doesn't use `flavor='spark'`. I think it would be interesting to implement this feature on the dask side.

[2018-06-13 18:32] rpanai commented on #2138
Yes you are right about memory usage. In order to free some RAM you can add these three line between `pa.Table` and `pq.write`

[code]

[2018-06-13 19:38] wesm commented on #2138
I recall there being a JIRA open about performance and memory use of `write_to_dataset`; sometime will need to do some work on it to possibly improve memory use and performance. Can you open a JIRA with the reproducible example copy-pasted there? Thanks

[2018-06-13 21:15] randomgambit commented on #2138
@wesm done

[2018-06-13 23:39] wesm commented on #2138
https://issues.apache.org/jira/browse/ARROW-2709

[2018-06-13 23:39] #2138 closed

[2018-06-14 15:36] asfimport commented on #42773
[Uwe Korn](https://issues.apache.org/jira/browse/PARQUET-1158?#comment-16512624) / @xhochy:
`[~keithgchapman]` No, I'm not actively working on this.

[2018-06-14 15:58] mbandrews commented on #1946
Changing `pq.ParquetFile(filename)` to `pq.ParquetFile(pa.OSFile(filename))` doesn't seem to help. In fact, making this change even in the older `pyarrow==0.7.1` version where `pq.ParquetFile(filename)` still worked, now crashes too:

[code]
From the relevant Pytorch [documentation](https://github.com/pytorch/pytorch/blob/master/docs/source/notes/multiprocessing.rst):

The DataLoader itself is use

[2018-06-19 02:26] aradtke opened #2145 "ndarray to arrow conversion fails when downcasted from pandas to_numeric"
The following snippet:

[code]
fails to convert with message:

[code]

This is a Windows 64-bit machine, running Python 3.6.5, pyarrow 0.9.0, pandas 0.23.1 and numpy 1.14.5.

Seems to be fine for uint16 or uint8 downcasting. Unfortunately I didn't had the time to dig deeper or try on a Linux machine but it feels like its related to the LLP64 model.

[2018-06-19 03:45] wesm commented on #2145
Can you open a JIRA with this bug report? Thanks

[2018-06-19 18:04] aradtke commented on #2145
Added as [ARROW-2722](https://issues.apache.org/jira/browse/ARROW-2722).

[2018-06-20 00:30] #2145 closed

[2018-06-20 08:18] pranav-kohli opened #2147 "Pyarrow not adding partition columns when given a glob path"
I am saving a dask dataframe to parquet with two partition columns using the pyarrow engine. The problem arises in scanning the partition columns. When I scan using the directory path, I get the partition columns in the output dataframe, whereas if I scan using the glob path, I dont get these columns

pyarrow : 0.9.0.post1

dask : 0.17.1

    import dask.dataframe as dd

    size = 20
    tmpdir =

[2018-06-20 08:19] pranav-kohli commented on #2147
The file in question(_make_manifest())
https://github.com/apache/arrow/blob/master/python/pyarrow/parquet.py

[2018-06-21 10:15] wesm commented on #2147
@pranav-kohli could you create a JIRA with this feature request? A patch would be welcome

[2018-06-21 10:59] pranav-kohli commented on #2147
Created the jira
https://issues.apache.org/jira/browse/ARROW-2728

[2018-06-21 11:05] wesm commented on #2147
Thanks!

[2018-06-21 11:05] #2147 closed

[2018-06-22 02:22] asfimport opened #42829 "[C++][Parquet] Add bloom filter utility class"
This is subtask of PARQUET-41, this JIRA is used to track adding bloom filter class to paruqet-mr and parquet-cpp.

**Reporter**: [Junjie Chen](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=junjie) / @chenjunjiedada
**Assignee**: Junjie Chen](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=junjie) / @chenjunjiedada
#### Related issues:
- [Add bloom filters to parquet stat

[2018-06-22 02:26] asfimport commented on #42829
[Junjie Chen](https://issues.apache.org/jira/browse/PARQUET-1332?#comment-16519914) / @chenjunjiedada:
PR for parquet-cpp: https://github.com/apache/parquet-cpp/pull/432

[2018-06-22 06:44] asfimport opened #42352 "[C++][Parquet] Reading of files with dictionary size 0 fails on Windows with bad_alloc"
Account for total_size being 0, having no dictionary entries to allocate for.

The call with size 0 ends up in arrows memory_pool, <https://github.com/apache/arrow/blob/884474ca5ca1b8da55c0b23eb7cb784c2cd9bdb4/cpp/src/arrow/memory_pool.cc#L50>, and the according allocation fails. See according documentation, <https://docs.microsoft.com/en-us/cpp/c-runtime-library/reference/aligned-malloc>. Only ha

[2018-06-22 06:47] asfimport opened #42830 "[C++][Parquet] memory_map parameter seems missleading in parquet file opener"
If memory_map parameter is true, normal file operation is executed, while in negative case, the according memory mapped file operation happens. Seems either be used via inverted logic or being bug.

**Reporter**: [Philipp Hoch](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=hoch.phil) / @philhoch

<sub>**Note**: *This issue was originally created as [PARQUET-1334](https://issues.apach

[2018-06-25 17:26] michaelnowotny opened #2163 "Installing the Python package without having Cython installed first"
Dear arrow developers,

there is a small issue in that the pip install fails if Cython is not yet installed on the system. Here is the error message:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/private/var/folders/kj/w0rvnqw174709h_46v87mbf40000gp/T/pip-req-build-zylhd17x/setup.py", line 28, in <module>
        from Cython.Distutils import build_e

[2018-06-26 02:55] asfimport commented on #42820
[Tham](https://issues.apache.org/jira/browse/PARQUET-1300?#comment-16523113) / @thamht4190:
@majetideepak @ggershinsky I've just discovered this ticket. I'm also working on it (for my project) and almost done. May I know your progress and is there anyway to co-work then we can have this feature sooner?

[2018-06-26 06:19] asfimport commented on #42820
[Gidon Gershinsky](https://issues.apache.org/jira/browse/PARQUET-1300?#comment-16523267) / @ggershinsky:
@thamht4190 this is excellent news! In parquet-cpp, I'm working on the two bottom layers: the format / thrift (PR#463), and the crypto package (PR#464). The former is up to date with the current design and the Java version, while the latter is not. If your crypto code supports both encryption a

[2018-06-26 06:40] asfimport commented on #42820
[Tham](https://issues.apache.org/jira/browse/PARQUET-1300?#comment-16523291) / @thamht4190:
@ggershinsky My code is based on 2 pull requests you created for  PARQUET-1301 &  PARQUET-1227, and I also has to modify some code after looking at 4 uploaded files in this ticket. However, I didn't do any interop testing with Java version (mainly because I have very little experience with Java code). What

[2018-06-26 06:54] asfimport commented on #42820
[Gidon Gershinsky](https://issues.apache.org/jira/browse/PARQUET-1300?#comment-16523308) / @ggershinsky:
@thamht4190 Sounds good, I'll update then the PR#464 to support the second cipher. Lets sync with Deepak and discuss the next steps, details of interop testing, etc.

[2018-06-26 08:09] asfimport commented on #42820
[Tham](https://issues.apache.org/jira/browse/PARQUET-1300?#comment-16523387) / @thamht4190:
Thanks @ggershinsky. Looking forward to your PR with second cipher.

@majetideepak I'm curious and would like to know how you plan to change in parquet-cpp API to pass encryption key, encryption type, etc. Can you please share?

[2018-06-26 11:08] asfimport commented on #42805
[Tham](https://issues.apache.org/jira/browse/PARQUET-1252?#comment-16523577) / @thamht4190:

I'm wrong. Passing Boost_USE_STATIC_LIBS to thrift EP doesn't help. Still don't know why thrift use dynamic boost libs. Any idea? @xhochy

[2018-06-26 13:36] asfimport commented on #42820
[Deepak Majeti](https://issues.apache.org/jira/browse/PARQUET-1300?#comment-16523726) / @majetideepak:
@thamht4190, I have not started writing any code in either of the layers @ggershinsky mentioned. I will be happy to work with you on the parquet-cpp API as well as the Java interop testing. Can you open a new pull request on the parquet-cpp project with your current code? We can get some early fe

[2018-06-26 21:06] sripathivenky opened #2173 "Not able to do PIP isntall from dist tar ball."
## GitHub Issues for Apache Arrow
Hi I am trying to install latest master, my current pyarrow works installs fine with pip install pyarrow. I am trying to get latest changes and create a tar so I can install on multiple system via pip.

I have closened the git and created my tar by doing:

[code]

My Pip packeges:

[code]

Here is the log:

[code]

[2018-06-26 22:59] sripathivenky commented on #2173
Is this the right Arrow c++ libraries https://github.com/apache/arrow/tree/master/cpp (This one talk about only debian). I am Centos can you point me to the right Arrow C++ lib installation info.

But I have already done this from https://arrow.apache.org/install/
sudo yum install -y https://packages.red-data-tools.org/centos/red-data-tools-release-1.0.0-1.noarch.rpm
sudo yum install -y --enablere

[2018-06-26 23:15] wesm commented on #2173
I see. I don't know enough about Centos / Vagrant to know what might be going wrong:

[code]

Can you set `$ARROW_HOME` to the root path where the libraries were installed by yum?

[2018-06-26 23:16] wesm commented on #2173
@kou may know more about this

[2018-06-27 01:34] kou commented on #2173
You can't use Arrow C++ packages to use PyArrow at master because PyArrow at master requires Arrow C++ at master. Arrow C++ packages are provided for each release. They aren't provided for master.

If you want to use PyArrow at master, you need to build Arrow C++ too.

[2018-06-27 06:01] asfimport commented on #42820
[Gidon Gershinsky](https://issues.apache.org/jira/browse/PARQUET-1300?#comment-16524613) / @ggershinsky:
@thamht4190, I've added the second cipher and made some other modifications (inc driven by [~James C] PR review). Please update your code to accommodate for changes in PR#464 and PR#463.

Also, I'm attaching an additional file (thrift.h) that demonstrates encryption of Parquet metadata, eg foot

[2018-06-27 06:35] asfimport commented on #42820
[Tham](https://issues.apache.org/jira/browse/PARQUET-1300?#comment-16524653) / @thamht4190:
@ggershinsky Thanks for your updates. I will modify my code due to your changes and create a PR soon.

[2018-06-27 18:21] sripathivenky commented on #2173
Somthing worked and or not,
I pulled the latest from arrow and did

%:arrow/cpp: cmake  -DCMAKE_BUILD_TYPE=Release
%:arrow/cpp: make install
export ARROW_HOME=/usr/local/
pip install pyarrow-0.9.1.dev304+g8c9890c.tar.gz

I see below error it's not able to find  "arrow/python/benchmark.h"

    INFOCompiler id: GNU
    Selected compiler gcc 4.8.5
    -- Performing Test CXX_SUPPORTS_SSE3
    -- Perfo

[2018-06-27 20:04] wesm commented on #2173
@sripathivenky the source version for pyarrow must match the version of C++ libraries you have installed, so the source tarball in https://pypi.org/project/pyarrow/0.9.0/#files is the one you want.

[2018-06-27 20:53] sripathivenky commented on #2173
@wesm   I did a git pull from master, but code that I am intrested in getting so from this change
https://issues.apache.org/jira/browse/ARROW-2661

We have hdfs cluster and pyarrow allowing me to connect to name nodes is essential. The change https://pypi.org/project/pyarrow/0.9.0/#files here doesn't have the change above ticket.

[2018-06-27 21:38] wesm commented on #2173
OK. I advise you to build your own wheels: you can follow the instructions in https://github.com/apache/arrow/tree/master/python/manylinux1 to build wheels for pip from the master branch

[2018-06-27 23:02] sripathivenky commented on #2173
@wesm  Thank for all the help, I was able to build the linux wheel and install via pip. Will test the changes and connection to hdfs cluster.

Thanks a bunch!!

[2018-06-27 23:43] sripathivenky commented on #2173
@wesm  Not sure how to turn on the debug more, code from 0.9.0 connects to my hdfs gets the file fine, after installing the latest code from master. I get Segmentation fault (core dumped) /lib/python3.6/site-packages/pyarrow/compat.py(132)tobytes()->b 'hadfs-host:9820'

python pdb debug took me up to

[2018-06-28 00:16] sripathivenky commented on #2173
I was able to collect this from /var/log/messages

Jun 27 17:15:47 vagrant-centos7 kernel: python[29046]: segfault at 0 ip           (null) sp 00007fffd8f27cb8 error 14 in python3.6[400000+1000]
Jun 27 17:15:47 vagrant-centos7 abrt-hook-ccpp: Process 29046 (python3.6) of user 0 killed by SIGSEGV - dumping core
Jun 27 17:15:47 vagrant-centos7 abrt-hook-ccpp: Failed to create core_backtrace: dwfl_ge

[2018-06-28 00:32] sripathivenky commented on #2173
[core.3654.zip](https://github.com/apache/arrow/files/2143331/core.3654.zip)
Core dump attached.

[2018-06-28 15:23] asfimport commented on #42830
[Deepak Majeti](https://issues.apache.org/jira/browse/PARQUET-1334?#comment-16526424) / @majetideepak:
Issue resolved by pull request 471
<https://github.com/apache/parquet-cpp/pull/471>

[2018-06-28 15:23] #42830 closed

[2018-06-28 15:27] asfimport commented on #42352
[Deepak Majeti](https://issues.apache.org/jira/browse/PARQUET-1333?#comment-16526429) / @majetideepak:
Issue resolved by pull request 472
<https://github.com/apache/parquet-cpp/pull/472>

[2018-06-28 15:27] #42352 closed

[2018-06-28 17:36] ophiry opened #2189 "Does pyarrow support analytic (dataframe like) functions?"
From what I understand, pyarrow is intended to supply (or at least support) 'inplace' analytical functions, similar to pandas.
But from the documentation, I didn't find something more then direct access to the data, or conversion to pandas.

Is there some support for such functions without using pandas (which requires copying the memory)?
specifically I need group by and indexing capabilities

[2018-06-28 18:06] paddyhoran commented on #2189
@ophiry Arrow will serve as the computational core of pandas eventually.  When you say **dataframe like** functions, I believe that these will always be in pandas, but pandas users can expect to see many improvements due to moving to an Arrow backend.

What is in-scope for Arrow is more low level in this regard, things like query planning and compute graph optimization operating on Arrow memory.

[2018-06-28 18:47] sripathivenky commented on #2173
@wesm Help, please.

[2018-06-28 18:51] sripathivenky commented on #2173
Any info on when will the next pip public release, so if this custom install doesn't work will plan things around.

[2018-06-28 19:15] wesm commented on #2173
Sorry, I am unable to help much more right now. I suggest making a debug source build (see Python docs) so you can get a proper backtrace so we can have an idea what is wrong. You can also edit flags in the manylinux1 to produce a wheel with debug symbols

[2018-06-28 21:14] xhochy commented on #2189
At the moment the best reference is my prototype repository https://github.com/xhochy/fletcher where I use Arrow Arrays as the memory backend for Pandas columns. You can use Arrow with that in Pandas without copies while getting most of the functionality. There is also some code that uses Numba to get highly efficient analytical functions on Arrow arrays. Note that the code in this repository is h

[2018-06-28 22:03] asfimport opened #19146 "[JS] Benchmark script improvements"
- We don't seem to be using `perf/config.js` anymore. Let's remove it and replace it with `perf/table_config.js`.
- Make target and module configurable.
- Make it possible to select benchmarks to run with a RegEx

**Reporter**: [Brian Hulette](https://issues.apache.org/jira/browse/ARROW-2762) / @TheNeuralBit

<sub>**Note**: *This issue was originally created as [ARROW-2762](https://issues.apache.o

[2018-06-28 23:45] sripathivenky commented on #2173
@wesm Correction, the build works fine, I was able to use the native hdfs java and connect to hdfs by setting the core-site.xml and use the ha. when I use driver libhdfs3 and pass extra_conf it fails with a segmentation fault. But When I use "libhdfs" or mention not driver param both instances it pics the core-site.xml from HADOOP_HOME path and connects.

[2018-06-29 01:05] wesm commented on #2173
Ok, newer builds of libhdfs3 don't work here yet because of ABI changes https://issues.apache.org/jira/browse/ARROW-1445

[2018-06-29 01:06] wesm commented on #2173
I'm not sure if that's the issue you're running into but we need someone to help fix libhdfs3 support

[2018-06-29 13:14] alokgogate opened #2192 "Unable to read a parquet file"
I am unable to read a parquet file created by converting a csv to parquet using yarrow (0.9.0). This is the error I get
ArrowIOError                              Traceback (most recent call last)
<timed exec> in <module>()

~/anaconda3/lib/python3.6/site-packages/pyarrow/parquet.py in read_table(source, columns, nthreads, metadata, use_pandas_metadata)
    937             return fs.read_parquet(so

[2018-06-29 13:53] xhochy commented on #2192
Can you provide a minimal reproducible example? https://stackoverflow.com/help/mcve

[2018-07-01 22:18] asfimport opened #19157 "[Python] Implement pa.array() with type=union type"
It would be useful to be able to generate unions during type inference:

[code]

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/browse/ARROW-2774) / @wesm
#### Related issues:
- [[Python] Create UnionArray from mixed-type pandas categorical](https://github.com/apache/arrow/issues/19391) (relates to)

<sub>**Note**: *This issue was originally created as [ARROW-2774](https://issues.apac

[2018-07-02 21:44] eode opened #2209 "[js] Are there plans to support Parquet as a data format?"
Title pretty much says it all.   I'm using Javascript, and would like to be able to read/write (read, mainly) Parquet data.  I know it's not currently available, but is this a planned feature?

[2018-07-02 22:08] wesm commented on #2209
It's a good-sized project because of the dependency stack involved (Thrift, various compression libraries) and because Parquet itself is a somewhat complex file format. I opened https://issues.apache.org/jira/browse/ARROW-2786 so the feature can be tracked there

[2018-07-02 22:08] #2209 closed

[2018-07-03 15:28] eode commented on #2209
Thanks.  There's some existing work under an MIT license or similar variant [here](https://github.com/ironSource/parquetjs).  It doesn't work for me, as it attempts to compile LZO, and it seems I don't have the right dev environment configured for that -- but it might be a useful start, or have some useful tidbits.

[2018-07-03 21:48] rgruener opened #2212 "Not reading parquet statistics correctly"
I have a dataset generated by spark which shows it has statistics for the string column when using the java parquet-mr code (shown by using `parquet-tools meta`) however reading from pyarrow shows that the statistics for that column are not set.  I should not the column only has a single value, though it still seems like a problem that pyarrow can't recognize it (it can recognize statistics set fo

[2018-07-04 00:05] cpiscos opened #2213 "ImportError on Ubuntu 18.04"
I installed pyarrow from conda-forge and I'm getting this error on import:

[code]

[2018-07-04 06:53] kszucs commented on #2213
Duplicate of https://issues.apache.org/jira/browse/ARROW-2783

[2018-07-04 11:44] xhochy commented on #2213
This should be fixed now, please try to reinstall `arrow-cpp`, `parquet-cpp` and `pyarrow` from `conda-forge`.

[2018-07-04 19:05] cpiscos commented on #2213
Can confirmed it's fixed. Thank you!

[2018-07-04 21:21] #2213 closed

[2018-07-05 01:18] dhirschfeld opened #2217 "Type Safety: is silent truncation a bug?"
Happy to move to JIRA if this is confirmed as a bug

[code]
...so if the `schema` matches the pandas datatypes all is well - we can roundtrip the DataFrame.

Now, say we have some bad data such that column 'B' is now of type float64. The datatypes of the DataFrame don't match the explicitly supplied `schema` object but rather than raising a `TypeError` the data is silently truncated and the roundt

[2018-07-05 12:42] wesm commented on #2217
hi @dhirschfeld -- yes I would expect the silent truncation to not happen unless the user passes `safe=False` to be consistent with `Array.cast`. Could you open a JIRA to add a safe/unsafe option to Table.from_pandas?

Thanks!

[2018-07-05 16:07] rob-dempsey-esure opened #2219 "Error inferring Arrow type for Python object array. Got Python object of type dict but can only handle these types: string, bool, float, int, date, time, decimal, list, array"
Hi

I am reading in a parquet file, processing using pandas and then writing it back to the same parquet file.  One column payload contains nested JSON records.  When trying to convert back to a parquet file I get the following

                                             payload
0  {'data': {'document_id': None, 'document_type'...
1  {'data': {'document_id': None, 'document_type'...
2  {'data':

[2018-07-05 21:35] wesm commented on #2209
Ah, interesting. LZO isn't really used anymore (as soon as Snappy came around people largely stopped using it because of the *GPL licensing issues)

[2018-07-05 22:51] wesm commented on #2189
Just to add some context from my perspective: I don't really see pandas moving to an Arrow-based backend. There is too much legacy code. About 2.5 years ago we started discussing the idea of "pandas2", an API-incompatible future iteration of pandas. This was around the time that we were starting Apache Arrow, and to me it makes a lot of sense to base the future of in-memory analytics in Python on

[2018-07-05 23:29] pcmoritz commented on #2189
This is great, thanks for sharing your thoughts!

Given that there are already many people out there who know the pandas API well, do you think it's a good idea to make a subset of the pandas functionality work backed by arrow (say similar to the fletcher project that xhochy linked) and give errors or performance warnings for pandas functionality that can't be implemented in this way (and say perf

[2018-07-06 01:57] paddyhoran commented on #2189
Thanks for correcting me @wesm.

```I expect work in analytic functions in the style of pandas to happen in this repository to happen over the coming 2-3 years. We need as much help as possible with this; it is likely to be a mix of precompiled C/C++ functions as well as just-in-time compiled LLVM functions.```

```this respository``` being ibis, right?

Wouldn't this mean that the scope of Arrow

[2018-07-06 10:19] dhirschfeld commented on #2217
Moved to [`ARROW-2799`](https://issues.apache.org/jira/browse/ARROW-2799)

[2018-07-06 14:40] #2217 closed

[2018-07-06 14:47] wesm commented on #2189
@paddyhoran no, I mean this codebase, Apache Arrow. Ibis is a front end-only system; currently it is a front end for SQL-based systems and pandas (which serve as back ends). Analytic function implementations are "back end" concerns.

[2018-07-06 15:16] paddyhoran commented on #2189
Right, sorry for the confusion, that was my originally understanding.  Thanks

[2018-07-06 15:33] wesm commented on #2219
hi Rob, can you open a JIRA for this and provide a reproducible example? https://stackoverflow.com/help/mcve

[2018-07-06 16:50] asfimport opened #42355 "[C++][Parquet] Python] Unavailable Parquet column statistics from Spark-generated file"
I have a dataset generated by spark which shows it has statistics for the string column when using the java parquet-mr code (shown by using `parquet-tools meta`) however reading from pyarrow shows that the statistics for that column are not set.  I should not the column only has a single value, though it still seems like a problem that pyarrow can't recognize it (it can recognize statistics set fo

[2018-07-06 16:53] wesm commented on #2212
I migrated this to JIRA: https://issues.apache.org/jira/browse/ARROW-2800

I just created a wiki page for Python Parquet support: https://cwiki.apache.org/confluence/display/ARROW/Python+Parquet+Format+Support. You can add issues to the JIRA filter by adding the "parquet" label to Arrow issues

Please feel free to add anything else to the wiki page you like (you'll have to create an account)

[2018-07-06 16:53] #2212 closed

[2018-07-06 18:02] buchanae commented on #2189
I'm interested. Can you point me to a good starting point? What's the lowest hanging fruit? I can poke around the codebase and guess, but some guidance would speed things up.

[2018-07-06 21:41] wesm commented on #2189
You can look in https://github.com/apache/arrow/blob/master/cpp/src/arrow/compute/compute-test.cc. Note this is the most unrefined part of the codebase, so very little is set in stone

[2018-07-06 21:41] #2189 closed

[2018-07-09 10:31] rob-dempsey-esure commented on #2219
Hi Wes

I hope that has all the details you need https://issues.apache.org/jira/browse/ARROW-2814

Rob

[2018-07-09 15:43] asfimport commented on #42355
[Antoine Pitrou](https://issues.apache.org/jira/browse/PARQUET-1369?#comment-16537091) / @pitrou:
If it's not a regression, I think this should target 0.11.0.

[2018-07-09 17:00] wesm commented on #2219
Thank you!

[2018-07-09 17:00] #2219 closed

[2018-07-09 20:33] #2173 closed

[2018-07-09 20:34] wesm commented on #2114
Opened https://issues.apache.org/jira/browse/ARROW-2816

[2018-07-09 20:34] #2114 closed

[2018-07-09 20:35] wesm commented on #2115
@trxcllnt @TheNeuralBit can you open a JIRA to track this issue?

[2018-07-09 20:37] wesm commented on #2163
Our source build presently requires both CMake and Cython. It would be a great deal of effort for us to fix this.

[2018-07-09 20:37] #2163 closed

[2018-07-09 20:39] wesm commented on #1952
I created https://issues.apache.org/jira/browse/ARROW-2817

[2018-07-09 20:39] #1952 closed

[2018-07-09 20:40] wesm commented on #1902
Closing as stale. @alphinside if you can provide instructions for us to reproduce this please create a JIRA so we can have a look

[2018-07-09 20:40] #1902 closed

[2018-07-09 20:40] TheNeuralBit commented on #2115
Ah thanks for tagging us @wesm. I think @trxcllnt ran into this (and fixed it) when he did an upgrade to 2.9. Maybe we should back port that fix and cut an 0.3.2 release, not sure how long it will be until we do 0.4

[2018-07-09 20:43] wesm commented on #1894
The best way would be to convert the DataFrame to dense then write. It's possible with some effort we could blow up one column at a time, but since pandas is considering deprecating or splitting `pandas.sparse` into a separate package I'm not sure how much we'll want to do. patches welcome of course. I created https://issues.apache.org/jira/browse/ARROW-2818 as one follow up to improve UX

[2018-07-09 20:43] #1894 closed

[2018-07-09 20:44] wesm commented on #1946
Closing in favor of tracking the issue on JIRA

[2018-07-09 20:44] #1946 closed

[2018-07-09 20:44] wesm commented on #1987
Closing as stale

[2018-07-09 20:44] #1987 closed

[2018-07-09 20:44] #2067 closed

[2018-07-09 20:47] asfimport opened #42831 "[C++][Parquet] It is possible to overflow a TMemoryBuffer when serializing the file metadata"
I'm not sure if this is fixable, but see issue reported to Arrow:

https://github.com/apache/arrow/issues/2077

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=wesm) / @wesm

<sub>**Note**: *This issue was originally created as [PARQUET-1345](https://issues.apache.org/jira/browse/PARQUET-1345). Please see the [migration documentation](https://issues.apache.

[2018-07-09 20:47] wesm commented on #2077
I have created https://issues.apache.org/jira/browse/PARQUET-1345 on the Parquet project

[2018-07-09 20:47] #2077 closed

[2018-07-09 20:48] wesm commented on #2089
Closing this in favor of tracking progress in ARROW-2651

[2018-07-09 20:48] #2089 closed

[2018-07-09 20:50] wesm commented on #2115
Cool. Since there's so much new stuff for 0.4 it'd be awesome to get that out sooner rather than later. Just let me know when you want to release

[2018-07-09 20:50] #2115 closed

[2018-07-09 20:57] wesm commented on #2098
Thanks for the bug report. I opened https://issues.apache.org/jira/browse/ARROW-2820; closing this issue to track progress fixing it on JIRA

[2018-07-09 20:57] #2098 closed

[2018-07-09 20:59] wesm commented on #2192
Closing for now. @alokgogate if you can provide a reproducible example or any additional information to help us debug, please open a JIRA with the bug report.

[2018-07-09 20:59] #2192 closed

[2018-07-10 14:38] dmadeka opened #2240 "Java support for Feather"
Is there a roadmap/guide on how the Java bindings could support Feather reading/writing? It would make spark pipelines output a pretty Python friendly file format --

[2018-07-10 14:51] wesm commented on #2240
It would be easier and a better idea to write the Arrow file format as it supports all Spark types (including nested types), chunked files, etc. Feather in its current form should be considered deprecated. Writing the Arrow file format from Java is already supported, so you would need to propose a patch to Spark to make this functionality available

[2018-07-10 14:52] #2240 closed

[2018-07-10 14:55] dmadeka commented on #2240
Is the Arrow file format supported by R?

[2018-07-10 15:49] asfimport opened #42832 "[C++][Parquet] Protect against null values data in empty Arrow array"
See ARROW-2744.

**Reporter**: [Antoine Pitrou](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=apitrou) / @pitrou
**Assignee**: Antoine Pitrou](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=apitrou) / @pitrou
#### Related issues:
- [[Python] Writing to parquet crashes when writing a ListArray of empty lists ](https://issues.apache.org/jira/browse/ARROW-2744) (is related

[2018-07-10 15:52] dragan224 opened #2241 "Using struct in c++"
Hi,

Does anyone have a working example of using structs in arrow in c++? How would I write code that creates an arrow table using the following schema for example:

[code]

I really tried to look all over the place and couldn't find it, so maybe consider updating the example in the repository with something more complex?

[2018-07-10 16:02] wesm commented on #2241
You'll want to build the child arrays using e.g. `arrow::StringBuilder` and then construct the StructArray directly, see e.g. some code we use in the unit tests: https://github.com/apache/arrow/blob/master/cpp/src/arrow/ipc/test-common.h#L378

[2018-07-10 16:02] #2241 closed

[2018-07-10 16:14] wesm commented on #2240
Not yet, hopefully by year end. I remain hopeful. See http://wesmckinney.com/blog/feather-arrow-future/

[2018-07-10 23:12] danielcompton opened #2244 "[pyarrow] Should Table.from_pandas default to preserve_index=False?"
I spent a bit of time tracking down why an `__index_level_0__` columns was being written to our Parquet files. Eventually we found that it was coming from the `from_pandas` method on Table. There is an optional parameter `preserve_index` which defaults to True. Setting it to False dropped the index on transfer and led to drastically smaller file sizes (4MB -> 1MB, 2M rows).

[code]

https://github

[2018-07-10 23:36] wesm commented on #2244
It really depends on the user. We selected the defaults to faithfully store the data represented by the pandas DataFrame, so my view is that we should leave the default as is. This issue could probably be better highlighted in the Python documentation, though

We could possibly implement an optimization for the case of simple RangeIndex (similar to https://issues.apache.org/jira/browse/ARROW-1639)

[2018-07-11 23:16] jkulzick opened #2254 "Pandas Series of NaNs with dtype np.unicode_ converted to Null"
When creating a PyArrow Array from a Pandas Series of dtype np.unicode_, the type will be null instead of string if all values in the Series are NaNs.

I'm unsure what the expected behavior is. I also found ARROW-1941, which seems related.

To reproduce in Arrow 0.9.0:
[code]

This results in the following output:
[code]

[2018-07-12 06:34] AmitRTK commented on #1309
While installing Pyarrow from source I am getting the following error:
Could not find the Arrow Library

[2018-07-12 06:40] asfimport commented on #42832
[Uwe Korn](https://issues.apache.org/jira/browse/PARQUET-1346?#comment-16541220) / @xhochy:
Issue resolved by pull request 474
<https://github.com/apache/parquet-cpp/pull/474>

[2018-07-12 06:40] #42832 closed

[2018-07-12 06:47] xhochy commented on #2254
This is the expected bahaviour as Pandas does not support `np.unicode_ as a dtype and converts it to `object` instead. With this conversion, any type information is lost and cannot be reretrieved by Arrow alter on.

[code]

[2018-07-12 12:10] jkulzick commented on #2254
Makes sense. I did not think about the pandas type conversion. Thank you.

[2018-07-12 12:10] #2254 closed

[2018-07-12 15:04] asfimport opened #42833 "[C++][Parquet] Allow Arrow FileWriter To Write FileMetaData"
The arrow [FileWriter open method](https://github.com/apache/parquet-cpp/blob/master/src/parquet/arrow/writer.h#L111) only takes in a schema (which does not include row group information) and not the full FileMetaData. This does not allow the summary _metadata file to be created, and will need to be changed to write the full file metadata object.

**Reporter**: [Robbie Gruener](https://issues.apac

[2018-07-12 16:18] wesm commented on #1309
@AmitRTK did you install the Arrow C++ libraries separately?

[2018-07-12 21:05] tat2133 opened #2260 "[pyarrow] additional pickling types only present in mac distribution"
On 3/22, [this commit](https://github.com/apache/arrow/commit/29268ec5a0a10da639d0dd5684bc57fcd1c8f7e3) was merged as a fix for [this issue](https://issues.apache.org/jira/browse/ARROW-2342) to be included in 0.10.0. However, it's present in the 0.9.0.post1 mac-only distribution from April 6th (potentially along with all of the other commits to master between when 0.9.0 got tagged on 3/16 and when

[2018-07-12 21:08] wesm commented on #2260
Sorry about this. We're about ~3 weeks away from the 0.10.0 release I would estimate, so waiting for that is probably best. Could you tell us more about how you're using pickle (we haven't invested much energy in the pickle code paths since many applications use Arrow's native serialization)?

[2018-07-12 21:53] tat2133 commented on #2260
Sure. My team uses parquet files stored in S3 for archival purposes and as an intermediate storage format for loading data into our data warehouse. I was trying to parallelize a function that converts a chunk of data from our db into a pyarrow table (given the raw data, a pyarrow schema, and an s3 path as parameters) and then uploads it to S3. I wanted to use the multiprocessing library (specifica

[2018-07-13 16:58] den-rifiniti opened #2262 "pyarrow latest parquet map column type isn't supported"
Hello
When I trying read parquet file with  column of type `map`, `pyarrow.lib.ArrowNotImplementedError: lists with structs are not supported.` exception is throws.

Seems like this was fixed here https://github.com/apache/arrow/pull/1530, and only release is required?

[2018-07-14 17:28] asfimport opened #42353 "[C++][Parquet]  PARQUET_RPATH_ORIGIN is not picked by the build"
**Reporter**: [Uwe Korn](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=uwe) / @xhochy
**Assignee**: Uwe Korn](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=uwe) / @xhochy
#### PRs and other links:
- [GitHub Pull Request #476](https://github.com/apache/parquet-cpp/pull/476)

<sub>**Note**: *This issue was originally created as [PARQUET-1349](https://issues.apache.org/jir

[2018-07-14 17:54] xhochy commented on #2262
No, this would also require https://github.com/apache/parquet-cpp/pull/462

[2018-07-14 19:57] asfimport commented on #42353
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1349?#comment-16544328) / @wesm:
Issue resolved by pull request 476
<https://github.com/apache/parquet-cpp/pull/476>

[2018-07-14 19:57] #42353 closed

[2018-07-16 22:36] asfimport opened #19231 "[Packaging] Add unit tests for crossbow"
As this code grows we should start adding unit tests to make sure we can make changes safely.

**Reporter**: [Phillip Cloud](https://issues.apache.org/jira/browse/ARROW-2858) / @cpcloud

<sub>**Note**: *This issue was originally created as [ARROW-2858](https://issues.apache.org/jira/browse/ARROW-2858). Please see the [migration documentation](https://github.com/apache/arrow/issues/14542) for furth

[2018-07-16 23:42] wesm commented on #2260
@tat2133 I see. I don't think there's anything we can really do for you to fix this.

If you build your own Linux wheels https://github.com/apache/arrow/tree/master/python/manylinux1 then I think the pickles produced by those wheels should be readable by the latest macOS version that's in PyPI.

I hope we can get the pickle protocol improved and reasonably stabilized (using the binary IPC protocol

[2018-07-16 23:42] #2260 closed

[2018-07-17 15:42] asfimport opened #42834 "[C++][Parquet] Use abstract ResizableBuffer instead of concrete PoolBuffer"
`PoolBuffer` is an implementation detail in Arrow and we're aiming to make it private.

**Reporter**: [Antoine Pitrou](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=apitrou) / @pitrou
**Assignee**: Antoine Pitrou](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=apitrou) / @pitrou
#### Related issues:
- [[C++] ArrayBuilder::null_bitmap returns PoolBuffer](https://issues.ap

[2018-07-17 19:37] asfimport opened #19242 "[Python] Define API for handling null markers from Array.to_numpy"
This is follow-up work for `Arrow.to_numpy` started in ARROW-564

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/browse/ARROW-2870) / @wesm

<sub>**Note**: *This issue was originally created as [ARROW-2870](https://issues.apache.org/jira/browse/ARROW-2870). Please see the [migration documentation](https://github.com/apache/arrow/issues/14542) for further details.*</sub>

[2018-07-18 07:14] nasica88 opened #2281 ""arrow/python/platform.h: No such file or directory" error"
I am trying to install pyarrow on Redhat 7.5ALT ppc64le with pip 10.0.1, but I end up with "arrow/python/platform.h: No such file or directory" error.

What did I do wrong ?

At first, I got "No package 'arrow' found" error, even though I did install arrow.

$ pip list | grep arrow
arrow                              0.12.1

So I had to build arrow from source (from this github), and installed liba

[2018-07-18 09:19] chineking opened #2283 "Arrow plasma can only use a small part of specified shared memory"
Hi, thanks for the great job of arrow, it helps us a lot.

However, we encounter a problem when we were using plasma.

The sample code:

[code]

We start a plasma store with 1G memory, but the nbytes output above is only 496000000, which cannot even reach half of the memory we specified.

I cannot figure out why plasma can only use such a small part of shared memory. Could anybody help me? Thanks

[2018-07-18 13:59] xhochy commented on #2281
[code]

This is a different Arrow, not the project here.

To debug this problems, it would be good to have answers to the following questions:

* Does `/usr/local/include/arrow/python/platform.h` exist?
* Does setting `export ARROW_HOME=/usr/local` help?
* I see in your path, that you have anaconda. What about using our conda recipes (https://github.com/conda-forge/arrow-cpp-feedstock, https://git

[2018-07-18 17:08] gabomgp opened #2284 "[js] can i deseralize a dictionary of dataframes in the js implementation?"
Excelent project and i would like to use it, but i have a question about maturity/scope for the project...

The idea is to serialize a dictionary of pandas dataframes in python, send it to the browser and deserialize the dictionary, getting all tables and to work with the tables/dataframes. Is it a supported workflow just now? in the future?

[2018-07-18 19:39] IceS2 opened #2286 "[Firehose Partition]"
I was wondering if support for Firehose Partition was in the roadmap.
I actually tried to code it myself, but I couldnt build pyarrow locally with `pip install -e` .

[2018-07-18 20:06] dragan224 opened #2287 "Using arrow to write parquet (ends up with an empty table)"
Hi all,

I have this piece of code which produces a valid parquet file (using an arrow table), however the contents of the file are empty.

Code: https://ideone.com/DJkKUF

When I run "parquet-tools cat test.parquet" and actually try to read the file, i get an empty output, shouldn't the file have 5 entries?

Edit: Furthermore when i run "parquet-tools schema test.parquet" the schema prints correc

[2018-07-18 21:01] wesm commented on #2287
This is really a Parquet issue, can you open an issue with this information on the Apache Parquet JIRA?

[2018-07-18 21:02] wesm commented on #2287
FWIW, It looks like the non-nullable case might not be handled properly. Does it work if you make the string field nullable?

[2018-07-18 21:06] dragan224 commented on #2287
Nope.

And I just notice that it throws this error: lemented: Level generation for Struct not supported yet. Sorry, didn't realize it before, but for some reason it still creates a file with a valid schema.

I'll go ask parquet folks. My guess is that they intended for structs to be written differently than what I'm doing there?

[2018-07-18 21:16] asfimport opened #42835 "[C++][Parquet] PP] Trying to write an arrow table with structs to a parquet file"
Relevant issue:<https://github.com/apache/arrow/issues/2287>

 

I'm creating a struct with the following schema in arrow: https://pastebin.com/Cc8nreBP
 

When I try to convert that table to a .parquet file, the file gets created with a valid schema (the one I posted above) and then throws this exception: "lemented: Level generation for Struct not supported yet".

 

Here's the code: <https://ide

[2018-07-18 22:33] wesm commented on #2287
Thanks. It'll be the same people responding there but we'll see what's up

[2018-07-18 22:33] #2287 closed

[2018-07-18 22:44] wesm commented on #2284
You can send individual data frames but reading more complex collections isn't supported in JS yet. You could help by contributing to the respective libraries

[2018-07-18 22:44] #2284 closed

[2018-07-19 02:14] wesm commented on #2286
Are you talking about AWS?

Installing with `pip install -e .` is not a supported method. See the documentation about building from source: https://github.com/apache/arrow/blob/master/python/doc/source/development.rst

[2018-07-19 02:23] IceS2 commented on #2286
Hey, yes I'm talking about aws firehose. While hive partitions like year=2018/month=01/day=01 firehose partitions like 2018/01/01

[2018-07-19 04:50] nasica88 commented on #2281
@xhochy

1.  No, platform.h does not exist, nor the /usr/local/include/arrow/python directory.   I see /usr/local/include/arrow only.

2.  No, it doesn't work.

3.  It doesn't work, either, at least not for ppc64le.

# conda install arrow-cpp
Solving environment: failed

PackagesNotFoundError: The following packages are not available from current channels:

  - arrow-cpp

Current channels:

  - ht

[2018-07-19 05:36] chineking commented on #2283
The problem is solved in the jira: https://issues.apache.org/jira/browse/ARROW-2879

[2018-07-19 05:36] #2283 closed

[2018-07-19 13:38] wesm commented on #2286
This is being worked on in https://github.com/apache/parquet-cpp/pull/462

The Apache JIRA instance is https://issues.apache.org/jira. You'll need to open an account

[2018-07-19 13:44] wesm commented on #2281
@nasica88 you are missing `libarrow_python` -- did you build and install the C++ libraries from source? See instructions in https://github.com/apache/arrow/blob/master/python/doc/source/development.rst

[2018-07-19 13:46] wesm commented on #2281
Note we have not packaged and tested Arrow on ppc64le because we don't have access to such a system; your help testing things out and reporting issues would be appreciated

[2018-07-19 13:48] IceS2 commented on #2286
thanks for the help, created an issue. Not sure it's well made though.
https://issues.apache.org/jira/browse/ARROW-2882
If changes need to be made, please let me know

[2018-07-19 13:52] wesm commented on #2286
Thank you

[2018-07-19 13:52] #2286 closed

[2018-07-19 13:52] #2244 closed

[2018-07-19 13:53] wesm commented on #2262
Assistance with this would be much appreciated. Unfortunately we haven't been able to get this done in time for 0.10, so it will have to be later this year

[2018-07-19 13:53] #2262 closed

[2018-07-20 08:06] nasica88 commented on #2281
@wesm   Thank you for the link anove.  It helps.  I succeeds in building pyarrow as below.

$ MAKEFLAGS=-j16 python setup.py build_ext --build-type=$ARROW_BUILD_TYPE --with-parquet --with-plasma --inplace
...
[100%] Built target lib
-- Finished cmake --build for pyarrow
Bundling includes: release/include
Moving generated C++ source lib.cpp to build path /home/data/arrow/python/pyarrow/lib.cpp
Movi

[2018-07-20 13:53] wesm commented on #2281
Did you set $ARROW_HOME to `/home/data/dist`?

[2018-07-20 14:10] peterclearmetal commented on #1992
In the meantime a workaround to support 0.9.0 in cross platform (mac + linux) environments is to use this in your requirements.txt:

[code]

Or on the command-line:
[code]

[2018-07-20 14:48] jkulzick opened #2297 "Preserve schema in write_to_dataset"
When using `pyarrow.parquet.write_to_dataset` with `partition_cols` set, the schema of the `table` passed into the function is not enforced when iterating over the `subgroup` to create the `subtable`. See [here](https://github.com/apache/arrow/blob/master/python/pyarrow/parquet.py#L1146).

Since pandas is used to generate the subtables, there is a risk that some specificity is lost from the origin

[2018-07-20 21:18] wesm commented on #2297
hi @jkulzick, can you open a JIRA with your bug report? Would you like to submit a PR with a fix for this?

Thanks

[2018-07-21 00:17] nasica88 commented on #2281
@wesm Yes I did.

[2018-07-21 04:41] jkulzick commented on #2297
@wesm I opened [ARROW-2891](https://issues.apache.org/jira/browse/ARROW-2891). I can submit a PR with a fix.

[2018-07-21 04:43] #2297 closed

[2018-07-22 00:18] wesm commented on #2281
hi @nasica88 can you please open a JIRA with the details from this issue? I'm not sure how to proceed as I do not have access to a ppc64le machine to test. Perhaps you can also open a request with Anaconda to get their assistance with packaging pyarrow as part of the Anaconda distribution

[2018-07-23 01:18] nasica88 commented on #2281
@wesm  By the way, you can always access a ppc64le (IBM POWER8) machine with the linux OS of your choice for free.  Visit the following site for IBM Power Development Platform.   You get two weeks of a small ppc64le VM for free, and store it after two weeks, and request another two weeks for free perpetually.  They do not give you a GPU, though.

[](https://www-356.ibm.com/partnerworld/wps/servlet

[2018-07-23 08:39] nasica88 commented on #2281
@wesm  I finally could work around that "/home/data/dist/lib64/libarrow.so. does not exist" error with the following.

$ ln -s /usr/local/lib64/libarrow.so.10.0.0 /usr/local/lib64/libarrow.so.
$ ln -s /usr/local/lib64/libarrow_python.so.10.0.0 /usr/local/lib64/libarrow_python.so.
$ ln -s /usr/local/lib64/libplasma.so.10.0.0 /usr/local/lib64/libplasma.so.

In short, CMakeLists.txt tries to concaten

[2018-07-23 18:23] wesm commented on #2281
That seems buggy. We should try to diagnose the underlying cause so it can be fixed

[2018-07-23 18:29] asfimport commented on #42834
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1350?#comment-16553220) / @wesm:
Issue resolved by pull request 477
<https://github.com/apache/parquet-cpp/pull/477>

[2018-07-23 18:29] #42834 closed

[2018-07-23 19:06] asfimport opened #19269 "[Python] Implement type unification abstraction for type inference code"
Our code for type inference is a bit ad hoc at the moment, see discussion in
https://github.com/apache/arrow/pull/2308#discussion_r204519816

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/browse/ARROW-2899) / @wesm

<sub>**Note**: *This issue was originally created as [ARROW-2899](https://issues.apache.org/jira/browse/ARROW-2899). Please see the [migration documentation](https://gith

[2018-07-23 23:23] jkulzick opened #2310 "Compression not in Parquet filename extension"
I noticed that Spark will write out Snappy compressed Parquet files as '.snappy.parquet'. However, in `pyarrow.parquet.write_to_table` for example [here](https://github.com/apache/arrow/blob/master/python/pyarrow/parquet.py#L1157), the file extension is always '.parquet' regardless of the `compression`. Is this the intended behavior?

[2018-07-24 01:14] asfimport commented on #42828
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1323?#comment-16553653) / @wesm:
Issue resolved by pull request 478
<https://github.com/apache/parquet-cpp/pull/478>

[2018-07-24 01:14] #42828 closed

[2018-07-24 02:05] asfimport opened #42836 "[C++][Parquet] Fix deprecated Arrow builder API usages"
I see warnings like the following:

[code]

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=wesm) / @wesm
**Assignee**: Wes McKinney](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=wesm) / @wesm

<sub>**Note**: *This issue was originally created as [PARQUET-1354](https://issues.apache.org/jira/browse/PARQUET-1354). Please see the [migration doc

[2018-07-24 08:09] xhochy commented on #2310
Yes this is intended behaviour. The compression is part of the format specification and applied on a per-column basis (see https://github.com/apache/parquet-format/blob/518e206c3e6586b76e8315d5f62a8666ed62fa90/src/main/thrift/parquet.thrift#L631) Normally all interfaces only support setting compression globally but there are users that actually use the low-level interface to apply the compression

[2018-07-24 10:26] pearu opened #2316 "Setting -DARROW_HDFS=OFF breaks arrow build when linking against boost libraries"
When using `cmake -DARROW_HDFS=OFF ..` then boost libraries are not detected (ubuntu 16.04) and the arrow build fails:
[code]

With `ARROW_HDFS=ON`, the build succeeds.

The problematic code appears to be
https://github.com/apache/arrow/blob/078b8068f1c7176ff4a56aa95c9b57800aacce82/cpp/CMakeLists.txt#L307

Removing the `else` block with `ARROW_BOOST_HEADER_ONLY=1` makes `cmake -DARROW_HDFS=OFF ..`

[2018-07-24 13:11] jkulzick commented on #2310
Thank you for the detailed explanation!

[2018-07-24 13:11] #2310 closed

[2018-07-24 13:40] wesm commented on #2316
hi @pearu, can you open a JIRA for this? Would you be up to submit a patch? https://github.com/apache/arrow#how-to-contribute

[2018-07-24 14:54] wesm commented on #2316
Thanks! This got broken when we added decimal support (which uses boost::regex, non-header-only) a while back. Will see that it's fixed for 0.10.0

[2018-07-24 14:54] #2316 closed

[2018-07-24 15:40] parachutepy commented on #2219
Hi, we are seeing this issue for time field. Is this a related issue?

File 'error.pxi', line 77, in pyarrow.lib.check_status~pyarrow.lib.ArrowInvalid: Error inferring Arrow type for Python object array. Got Python object of type **NaTType** but can only handle these types: string, bool, float, int, date, time, decimal, list, array~

[2018-07-24 15:43] wesm commented on #2219
No, this is something else. See https://issues.apache.org/jira/browse/ARROW-842

[2018-07-25 06:18] dmadeka commented on #2240
Is there an example of writing the arrow format from Python?

[2018-07-25 13:34] wesm commented on #2240
Sure, see http://arrow.apache.org/docs/python/ipc.html

[2018-07-26 08:02] asfimport opened #42354 "[C++][Parquet]  FormatStatValue truncates binary statistics on zero character"
As `FormatStatValue` is currently called with a C-style string, we cannot pass the actual binary content with its length. Instead change the interface to `std::string`.

**Reporter**: [Uwe Korn](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=uwe) / @xhochy
**Assignee**: Uwe Korn](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=uwe) / @xhochy
#### PRs and other links:
- [Gi

[2018-07-26 08:41] asfimport commented on #42355
[Uwe Korn](https://issues.apache.org/jira/browse/PARQUET-1369?#comment-16558071) / @xhochy:
This is expected behaviour. The file was written using `parquet-mr==1.8.3` which only fills the old statistics 

<https://github.com/apache/parquet-format/blob/518e206c3e6586b76e8315d5f62a8666ed62fa90/src/main/thrift/parquet.thrift#L211> but `pyarrow/parquet-cpp` only read the new statistics fields: 

<http

[2018-07-26 11:47] asfimport opened #42837 "[C++][Parquet] index_page_offset should be unset as it is not supported."
We currently set to 0 while this is an optional attribute and should not be set at all.

**Reporter**: [Uwe Korn](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=uwe) / @xhochy
**Assignee**: Uwe Korn](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=uwe) / @xhochy
#### PRs and other links:
- [GitHub Pull Request #480](https://github.com/apache/parquet-cpp/pull/480)

<sub>**N

[2018-07-26 14:12] asfimport commented on #42355
[Robbie Gruener](https://issues.apache.org/jira/browse/PARQUET-1369?#comment-16558352) / @rgruener:
Ah, I see. Though why can parquet-cpp read the statistics for the int and double fields in that case?

[2018-07-26 17:05] dvanasseldonk opened #2328 "toPandas() speed on small dataframes with Arrow"
Is it normal to expect similar or worse speed of toPandas() on a dataframe of 100 rows and 5 columns after enabling Apache Arrow on Spark 2.3.0.

For
spark.conf.set("spark.sql.execution.arrow.enabled", "true")
toPandas() runs in ~600ms

and for
spark.conf.set("spark.sql.execution.arrow.enabled", "false")
toPandas() runs in ~200ms

code here:
---------------
import pandas
import time
from timeit im

[2018-07-26 17:24] icexelloss commented on #2328
Hi,

Seems like this is more appropriate for the Spark project, do you mind open a Jira ticket here?
https://issues.apache.org/jira/projects/SPARK/issues/SPARK-14220?filter=allopenissues

[2018-07-26 19:33] #2328 closed

[2018-07-26 21:12] asfimport commented on #42837
[Uwe Korn](https://issues.apache.org/jira/browse/PARQUET-1358?#comment-16558897) / @xhochy:
Issue resolved by pull request 480
<https://github.com/apache/parquet-cpp/pull/480>

[2018-07-26 21:12] #42837 closed

[2018-07-28 15:21] asfimport commented on #42833
[Uwe Korn](https://issues.apache.org/jira/browse/PARQUET-1348?#comment-16560773) / @xhochy:
Issue resolved by pull request 481
<https://github.com/apache/parquet-cpp/pull/481>

[2018-07-28 15:21] #42833 closed

[2018-07-28 16:35] asfimport opened #42838 "[C++][Parquet] Minor API + style changes follow up to PARQUET-1348"
see comments in https://github.com/apache/parquet-cpp/pull/481

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=wesm) / @wesm
**Assignee**: Wes McKinney](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=wesm) / @wesm
#### PRs and other links:
- [GitHub Pull Request #482](https://github.com/apache/parquet-cpp/pull/482)

<sub>**Note**: *This issue

[2018-07-29 23:57] asfimport commented on #42838
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1360?#comment-16561305) / @wesm:
Resolved by https://github.com/apache/parquet-cpp/commit/853abb96e95bd440b7a175a01909e70fe760665b

[2018-07-29 23:57] #42838 closed

[2018-07-30 11:13] tekumara commented on #1992
[code]

errors with

[code]

On Linux. Works on Mac.

[2018-07-31 03:30] wesm commented on #1992
What is the error?

[2018-07-31 13:49] notpeter commented on #1992
You've provided no mention of Linux distribution, python version or other environmental details so I'm not sure how you expect someone to help you.

@tekumara We use the pip/requirements line I mentioned above on Mac and Linux without issue.
For example this works, so your issue is likely environment specific.
[code]
Similarly Python2/pip2 worked fine.

PS @peterclearmetal is my work GitHub. Sorry

[2018-07-31 20:49] IceS2 opened #2352 "ArrowInvalid: Error inferring Arrow type for Python object array. Got Python object of type dict but can only handle these types: string, bool, float, int, date, time, decimal, list, array"
I know reading complex nested types is being implemented, I wanted to know if writing a python dict from pandas to  parquet is going to be implemented as well, thanks (=

[2018-07-31 21:28] wesm commented on #2352
I'm working on this in ARROW-2814

[2018-07-31 21:28] #2352 closed

[2018-08-01 12:10] tekumara commented on #1992
I was hoping your workaround for `pip` would work for `pipenv` but it uses `0.9.0.post1` regardless. Some more detail as requested:

[code]

This has been discussed over here https://github.com/pypa/pipenv/issues/2490

[2018-08-01 13:35] asfimport commented on #42354
[Uwe Korn](https://issues.apache.org/jira/browse/PARQUET-1357?#comment-16565332) / @xhochy:
Issue resolved by PR https://github.com/apache/parquet-cpp/pull/479

[2018-08-01 13:35] #42354 closed

[2018-08-01 13:43] wesm commented on #1992
So it sounds like pipenv is just buggy:

https://github.com/pypa/pipenv/issues/2490#issuecomment-401860216

"This is a restriction of our resolver at the moment, but we expect each package to at least have an sdist for each version. Please help suggest pyarrow to publish it."

We are working as quickly as we can to get the 0.10.0 release out. This will be resolved when that happens. You can help b

[2018-08-01 14:07] asfimport opened #42839 "[C++][Parquet] Streamline use of Arrow bit-util.h"
Required for ARROW-2950: stop using certain bit-util APIs that will be removed.

**Reporter**: [Antoine Pitrou](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=apitrou) / @pitrou
**Assignee**: Antoine Pitrou](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=apitrou) / @pitrou
#### PRs and other links:
- [GitHub Pull Request #483](https://github.com/apache/parquet-cpp/pull/48

[2018-08-01 19:14] asfimport commented on #42839
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1366?#comment-16565842) / @wesm:
Issue resolved by pull request 483
<https://github.com/apache/parquet-cpp/pull/483>

[2018-08-01 19:14] #42839 closed

[2018-08-01 20:01] camerondavison opened #2358 "[js] how to filter on large numbers"
I put the following gist together to try and distill down how to interact with arrow from javascript after building a dataframe from python
https://gist.github.com/camerondavison/cbe43c326f37ab0fe34680baa960634e

It works, but I cannot figure out how to match Int64 types. Reading the code if I am not mistaken https://github.com/apache/arrow/blob/567e33b5dd23dd236be46bbd90b15d85b8847775/js/src/pred

[2018-08-02 00:13] kylebarron opened #2360 "Floating point exception when running df.to_parquet(engine='pyarrow')"
Running `df.to_parquet(path, engine='pyarrow')` crashes Python and the shell tells me `floating point exception`. Sadly, I can't share the source data, so I'll give the dtypes and general schema with the hope that someone knows an area of code that's the likely culprit.

The DataFrame has 11761443 rows x 9 columns. Column dtypes are
[code]

The index is a MultiIndex with two levels, `object` and `

[2018-08-02 08:24] AnthonyJacob opened #2361 "What frameworks / libraries support arrow?"
Hi,

apart from the image on arrow website I could not find a comprehensive list of all framework and libraries where I can get a interoperability benefit by using arrow.

For example if I were about to display pandas dataframe in java, I can do it like this: pandas->pyarrow->plasma->java, so even though I will still have to convert pandas datframe to pyarrow table, the rest will be noop, which sh

[2018-08-02 09:16] wesm commented on #2361
Hi -- could you ask on the Arrow mailing list? Thanks

[2018-08-02 09:16] #2361 closed

[2018-08-02 20:56] asfimport commented on #42355
[Robbie Gruener](https://issues.apache.org/jira/browse/PARQUET-1369?#comment-16567478) / @rgruener:
So I have dug into the code here a bit out of curiosity and see that indeed when column order is set it will use the new statistics <https://github.com/apache/parquet-cpp/blob/853abb96e95bd440b7a175a01909e70fe760665b/src/parquet/metadata.cc#L53>

The column order is passed in from InitColumnOrders()

[2018-08-02 21:39] asfimport commented on #42355
[Robbie Gruener](https://issues.apache.org/jira/browse/PARQUET-1369?#comment-16567515) / @rgruener:
Nevermind, I found <https://github.com/apache/parquet-cpp/blob/master/src/parquet/metadata.cc#L125>

[2018-08-02 22:11] asfimport commented on #42355
[Robbie Gruener](https://issues.apache.org/jira/browse/PARQUET-1369?#comment-16567531) / @rgruener:
Ok so I was wondering why parquet-mr 1.10.0 can read the old corrupt statistics but parquet-cpp would not and I found that <https://github.com/apache/parquet-mr/blob/master/parquet-hadoop/src/main/java/org/apache/parquet/format/converter/ParquetMetadataConverter.java#L633> is the java code. Basicall

[2018-08-03 08:39] asfimport commented on #42355
[Uwe Korn](https://issues.apache.org/jira/browse/PARQUET-1369?#comment-16567966) / @xhochy:
Yes, this would be a nice handling to also have in `parquet-cpp`. We can use the old statistics for some types (e.g. signed integer) that were correctly computed in previous `parquet-mr` releases. Only things like unsigned integers cannot be reused as they were wrongly computed.

[2018-08-03 14:11] asfimport commented on #42355
[Robbie Gruener](https://issues.apache.org/jira/browse/PARQUET-1369?#comment-16568244) / @rgruener:
Is there a way to move this ticket to be under PARQUET? (I do not see move under the options) Otherwise I can make a new ticket for this there.

[2018-08-03 14:15] asfimport commented on #42355
[Uwe Korn](https://issues.apache.org/jira/browse/PARQUET-1369?#comment-16568247) / @xhochy:
@rgruener Moved it.

[2018-08-03 15:35] asfimport opened #42840 "[C++][Parquet] Read consecutive column chunks in a single scan"
Currently parquet-cpp calls for a filesystem scan with every single data page see <https://github.com/apache/parquet-cpp/blob/a0d1669cf67b055cd7b724dea04886a0ded53c8f/src/parquet/column_reader.cc#L181>

For remote filesystems this can be very inefficient when reading many small columns. The java implementation already does this and will read consecutive column chunks (and the resulting pages) in a

[2018-08-03 15:39] asfimport commented on #42840
[Uwe Korn](https://issues.apache.org/jira/browse/PARQUET-1370?#comment-16568368) / @xhochy:
@rgruener I was also plagued by this issue but I wrapped my Python code in <https://docs.python.org/3/library/io.html#io.BufferedReader> and this gave me sufficient performance. This was especially useful for me as I'm working with object stores like S3 or Azure Blob where consecutive reads of 40kb or 512kb

[2018-08-03 15:52] asfimport commented on #42840
[Robbie Gruener](https://issues.apache.org/jira/browse/PARQUET-1370?#comment-16568384) / @rgruener:
Thanks for the tip @xhochy! Though we are reading parquet using pyarrow so I dont think it would be as straight forward as adding that buffer. Unless there is something I am not seeing?

 

Either way it would be nice to not have to worry about this as a user of the library.

[2018-08-03 15:59] asfimport commented on #42840
[Uwe Korn](https://issues.apache.org/jira/browse/PARQUET-1370?#comment-16568403) / @xhochy:
I'm doing the same, my code looks as follows:
[code]
This was so simple that I thought it might not be relevant for now. Having a general C++ implementation of `io.BufferedReader` in Arrow C++ might be a simpler approach to our problem. The usage of `io.BufferedReader` involves probably some additional memo

[2018-08-03 16:15] asfimport commented on #42840
[Robbie Gruener](https://issues.apache.org/jira/browse/PARQUET-1370?#comment-16568428) / @rgruener:
I see, in my case I am using the file handle from the pyarrow hdfs class which does not seem to implement the RawIOBase API. Though it should be pretty easy to work around.

[2018-08-04 15:35] asfimport commented on #42840
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1370?#comment-16569210) / @wesm:
I have opened some issues related to buffering / concurrent IO in C++, e.g. https://issues.apache.org/jira/browse/ARROW-501

@rgruener In 0.10.0 the pyarrow file handles implement RawIOBase now

I don't think it would be to difficult to add a buffering reader to the Parquet hot path with a configurable bu

[2018-08-04 21:56] wesm commented on #2360
Can you open a JIRA for this, please? If you come up with a minimum viable repro that would be helpful

[2018-08-04 22:44] #42821 closed

[2018-08-07 08:00] nevi-me commented on #2358
Hi @camerondavison, I've had a look, and seems like two `Int64` classes with the same value aren't equal. Maybe what's needed is a `toString()` as part of the comparison, but that doesn't seem clean enough.

[2018-08-07 08:50] nevi-me commented on #2358
I got the comparison working with the below (didn't modify the source thought, was just testing)

[code]
It looks like an `IntVector` needs its own comparison path, but I'm not sure if `toString()` is the best comparison. `toString()` compares `Int32Array` instances, so I'm able to get away with the comparison.

The full change's here:

[code]

[2018-08-07 09:00] nevi-me commented on #2358
@camerondavison, I looked on JIRA and found https://issues.apache.org/jira/browse/ARROW-2797.

[2018-08-07 15:04] kylebarron commented on #2360
I'll try to find some time to search for a reproducible example.

[2018-08-07 17:16] AlexMendelson opened #2396 "Addition of option to allow empty row groups in pyarrow"
While our use case is not common, I was able to find one related request from roughly a year ago. Could this be added as a feature?

https://issues.apache.org/jira/browse/PARQUET-1047

**Motivation**

We have an application where each row is associated with one of N contexts, though a minority of contexts may have no associated rows. When encountering the Nth context, we will wish to retrieve all

[2018-08-08 01:30] asfimport commented on #42835
[Sam Oluwalana](https://issues.apache.org/jira/browse/PARQUET-1352?#comment-16572543):
@wesm I'm also having issues with this. What needs to be done in order to get Level Generation into Parquet. This is a deal breaker for me.

[2018-08-08 09:01] AlexMendelson commented on #2396
JIRA created.

https://issues.apache.org/jira/browse/ARROW-3020

[2018-08-08 19:08] asfimport commented on #42835
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1352?#comment-16573720) / @wesm:
Either you can contribute to the nested data support project (which is ongoing in https://github.com/apache/parquet-cpp/pull/462) or wait for other people to do it. I hope it gets done by the end of 2018

[2018-08-09 04:34] brightsparc opened #2409 "Reading native ARROW format"
Is there a way to load a file stored in the native ARROW format (instead of PARQUET)
eg: https://unpkg.com/@jpmorganchase/perspective-examples@0.1.18/build/superstore.arrow

I'm able to use the following code to get the read the raw bytes.

[code]
I have been able to verify that I can read a parquet formatted file.

[code]

Is there a way to load the native ARROW file with `pyarrow`?

[2018-08-09 04:37] wesm commented on #2409
See http://arrow.apache.org/docs/python/ipc.html#writing-and-reading-random-access-files

[2018-08-09 04:37] #2409 closed

[2018-08-09 05:03] brightsparc commented on #2409
@wesm Thanks, not sure how I missed that but simple in the end:

[code]

[2018-08-09 05:55] asfimport commented on #42803
[Alex Wang](https://issues.apache.org/jira/browse/PARQUET-1241?#comment-16574328):
Hi, I and @wesm discussed the issue on parquet-cpp mailing list,

And upon further investigation I found from the hadoop Jira ticket (https://issues.apache.org/jira/browse/HADOOP-12990) that hadoop LZ4 format prefixes the compressed data with **original data length (big-endian)** and then **compressed data length (b

[2018-08-10 07:27] deter3 commented on #2098
I have seen value error "Arrays were not all the same length" when I am having different length array in pyarrow-0.10.0 . The problem is I will need to include all tags in a tweets into one array , the array length for tags is variable , finally , all tweets records with different length of tags arrays will form a table .   Is there any other way to do it ? Thanks .

[2018-08-10 19:18] petacube opened #2422 "documentation states pyarrow hdfs readline(s) method availvable but its not implemented"
https://arrow.apache.org/docs/python/generated/pyarrow.HdfsFile.html#pyarrow.HdfsFile.readlines
see above docs but in pyarrow 0.10.0 hdfsFile object does not implement either readline or readlines

what am i to make out of this?

[2018-08-10 23:22] asfimport opened #42841 "[C++][Parquet] replace shared_ptr to unique_ptr in Bloom filter buffer allocation"
**Reporter**: [Junjie Chen](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=junjie) / @chenjunjiedada
**Assignee**: Junjie Chen](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=junjie) / @chenjunjiedada

<sub>**Note**: *This issue was originally created as [PARQUET-1377](https://issues.apache.org/jira/browse/PARQUET-1377). Please see the [migration documentation](https://is

[2018-08-14 05:21] asfimport commented on #42803
[Alex Wang](https://issues.apache.org/jira/browse/PARQUET-1241?#comment-16579277):
Kindly check on the ticket,

 

current arrow uses non framed LZ4, so either change arrow to detect hadoop lz4 format or add a LZ4 implementation like the SnappyCompress which is based on `org.xerial.snappy.Snappy`,

 

[2018-08-14 10:04] gsakkis commented on #2110
This looks related to https://github.com/dask/dask/issues/3454; is it something to be fixed on the dask or pyarrow side? I can open a new issue if it's the latter.

[2018-08-14 14:04] asfimport commented on #42803
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1241?#comment-16579852) / @wesm:
`[~ee07b291]` would you be able to contribute a patch to Apache Arrow to add support for the framed LZ4 format?

[2018-08-14 14:48] wesm commented on #2098
@deter3 can you ask this question on the mailing list and provide an example? Thanks

[2018-08-14 19:25] asfimport commented on #42775
[Ted Haining](https://issues.apache.org/jira/browse/PARQUET-1160?#comment-16580316):
The Data Integration software from HVR (<https://www.hvr-software.com/)> produces Parquet files that have BYTE_ARRAY-backed decimals.  A small sample data file with random data produced by HVR is attached.

[20180726193815980.parquet](20180726193815980.parquet)

[2018-08-14 20:31] asfimport commented on #42775
[Ted Haining](https://issues.apache.org/jira/browse/PARQUET-1160?#comment-16580409):
The change (diff from apache-parquet-cpp-1.4.0) to support BYTE_ARRAY-backed decimals seems to look like this:
[code]

[2018-08-15 12:57] #42829 closed

[2018-08-15 12:57] asfimport commented on #42829
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1332?#comment-16581040) / @wesm:
Issue resolved by pull request 432
<https://github.com/apache/parquet-cpp/pull/432>

[2018-08-15 14:55] asfimport opened #42842 "[C++][Parquet] move Bloom filter test binary to parquet-testing repo"
**Reporter**: [Junjie Chen](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=junjie) / @chenjunjiedada
**Assignee**: Wes McKinney](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=wesm) / @wesm

<sub>**Note**: *This issue was originally created as [PARQUET-1380](https://issues.apache.org/jira/browse/PARQUET-1380). Please see the [migration documentation](https://issues.apache

[2018-08-16 00:10] asfimport commented on #42842
[Junjie Chen](https://issues.apache.org/jira/browse/PARQUET-1380?#comment-16581758) / @chenjunjiedada:
Hi @wesm,

I created this to track following thing after moving binary. Do you want a new PR against parquet-testing or you will help copy binary and organize directory?

[2018-08-16 07:51] asfimport opened #42843 "[C++][Parquet] Prepare for arrow::test namespace removal"
ARROW-3059 will remove the `arrow::test` namespace, make sure the parquet-cpp codebase doesn't break.

**Reporter**: [Antoine Pitrou](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=apitrou) / @pitrou
**Assignee**: Antoine Pitrou](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=apitrou) / @pitrou
#### Related issues:
- [[C++] bloom_filter-test is very slow under valgrind](h

[2018-08-16 12:53] Josef-Vonasek opened #2438 "cl.exe is not able to compile a simple test program."
When executing `cmake -G "NMake Makefiles" -DCMAKE_BUILD_TYPE=Release ..`, I get:
[code]

[2018-08-16 13:45] wesm commented on #2438
Hello, can you please open a JIRA or write to the mailing list? The NMake builds should work fine, so it may be an issue with your environment.

[2018-08-16 13:49] cpcloud commented on #2438
You're trying to link a program compiled with cl.exe using the ld linker that ships with mingw. Please ask questions like this over on dev@arrow.apache.org.

[2018-08-16 13:52] wesm commented on #2438
Probably `C:\PROGRA~1\HASKEL~1\842051~1.2\mingw\bin` is in your %PATH% so you will need to remove that

[2018-08-16 13:52] #2438 closed

[2018-08-16 23:03] asfimport opened #42844 "[C++][Parquet] lang compiler warnings in bloom_filter-test.cc"
[code]

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=wesm) / @wesm
**Assignee**: Junjie Chen](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=junjie) / @chenjunjiedada
#### PRs and other links:
- [GitHub Pull Request #488](https://github.com/apache/parquet-cpp/pull/488)
- [GitHub Pull Request #490](https://github.com/apache/parquet-cpp/pull/4

[2018-08-17 06:07] asfimport opened #42845 "[C++][Parquet] bloom_filter-test is very slow under valgrind"
This test takes ~5 minutes to run under valgrind in Travis CI

[code]

Either we should change the FPPTest parameters to be faster, or we should not run that test when using valrind

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=wesm) / @wesm
#### Related issues:
- [[C++] Prepare for arrow::test namespace removal](https://issues.apache.org/jira/browse/PAR

[2018-08-17 06:21] asfimport commented on #42845
[Junjie Chen](https://issues.apache.org/jira/browse/PARQUET-1385?#comment-16583425) / @chenjunjiedada:
The GetRandomString function is very slow, I can change to test count to 1/10 size.  Or let me optimize it for a while.

[2018-08-17 06:26] asfimport commented on #42824
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1308?#comment-16583432) / @wesm:
Issue resolved by pull request 467
<https://github.com/apache/parquet-cpp/pull/467>

[2018-08-17 06:26] #42824 closed

[2018-08-17 07:19] asfimport commented on #42845
[Junjie Chen](https://issues.apache.org/jira/browse/PARQUET-1385?#comment-16583489) / @chenjunjiedada:
std::seed_seq::generate takes more than 75% cpu cycles from perf. we can change to use system clock as seed to optimize this to about 1/5 time (on my machine). Anyway skip this in case of valgrind is also ok.

[2018-08-17 14:10] asfimport commented on #42843
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1382?#comment-16583973) / @wesm:
Issue resolved by pull request 487
<https://github.com/apache/parquet-cpp/pull/487>

[2018-08-17 14:10] #42843 closed

[2018-08-17 16:56] asfimport commented on #42844
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1384?#comment-16584162) / @wesm:
Issue resolved by pull request 490
<https://github.com/apache/parquet-cpp/pull/490>

[2018-08-17 16:56] #42844 closed

[2018-08-17 21:20] asfimport commented on #42840
[Robbie Gruener](https://issues.apache.org/jira/browse/PARQUET-1370?#comment-16584397) / @rgruener:
That seems to only be the case for python3. Do the pyarrow file handles not implement RawIOBase in python2 as well? As far as I can tell the code does not suggest that though those have been my results.

[2018-08-17 21:53] #42807 closed

[2018-08-17 21:53] asfimport commented on #42807
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1256?#comment-16584432) / @wesm:
Issue resolved by pull request 450
<https://github.com/apache/parquet-cpp/pull/450>

[2018-08-18 15:45] stonebig commented on #1125
still no Python-3.7 wheel on pypi ...

[2018-08-18 15:58] wesm commented on #1125
@stonebig would you like to lend a hand?

[2018-08-18 21:38] asfimport commented on #42775
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1160?#comment-16584937) / @wesm:
Can you submit a pull request?

[2018-08-19 13:03] asfimport opened #42846 "[C++][Parquet] Supply row group indices to parquet::arrow::FileReader::ReadTable"
By looking at the Parquet statistics, a user can already determine with its own logic which RowGroups are interesting for him. Currently we only provide functions to read the whole file or individual RowGroups. By supplying `parquet::arrow` with the RowGroups at once, it can better optimize its memory allocations as well as make better use of the underlying thread pool.

**Reporter**: [Uwe Korn](h

[2018-08-19 22:41] asfimport commented on #42803
[Alex Wang](https://issues.apache.org/jira/browse/PARQUET-1241?#comment-16585285):
@wesm sorry for this delayed replay,

 

-I'd like to add a lz4-hadoop(framed) format to arrow which aligns with my work interest.-  For official LZ4-framed, I'd like to help with that as well but depends on my work schedule.

 

Sorry on second thought I meant to add LZ4 compressor (which uses open source github/lz

[2018-08-19 23:09] asfimport commented on #42803
[Jonathan Underwood](https://issues.apache.org/jira/browse/PARQUET-1241?#comment-16585288):
I think there's a danger here of misunderstanding, as a few different things are being discussed. There are 3 possible implementations:
1. The current arrow implementation which uses the LZ4 <u>block</u> storage format for column data, with the size of the <u>_uncompressed_</u> data stored as external colum

[2018-08-19 23:42] asfimport commented on #42803
[Alex Wang](https://issues.apache.org/jira/browse/PARQUET-1241?#comment-16585290):
Thanks a lot [~jonathan.underwood@gmail.com] for the clarification, did not mean to cross posting and saw there was a discussion about how Hadoop codec works.

 

If need, I could create another ticket for "parquet-mr using Hadoop codec not compatible with arrow/cpp codec".

[2018-08-19 23:45] asfimport commented on #42803
[Jonathan Underwood](https://issues.apache.org/jira/browse/PARQUET-1241?#comment-16585291):
`[~ee07b291]` - not sure there's any need for separate tickets (I have no strong feeling either way-I'm not a contributor!), I just wanted to make sure everyone was on the same page.

[2018-08-19 23:51] asfimport commented on #42803
[Jonathan Underwood](https://issues.apache.org/jira/browse/PARQUET-1241?#comment-16585292):
Here are some questions that we should probably answer.

Referring to my list of 3 implementations above:
- Should Arrow have implementations (1) and (2), or should (1) be replaced by (2)? Replacing (1) with (2) will break backwards compatibility and wouldn't be very customer friendly.
- Referring to the fr

[2018-08-20 09:15] asfimport opened #42356 "[C++][Parquet] Linking errors with boost_regex"
I'm now getting linking errors with boost_regex:

[code]

Compiler is clang-6.0. There are no system boost headers. I'm using boost-cpp 1.67.0 from Anaconda, and `-D_GLIBCXX_USE_CXX11_ABI=0` is in the compile flags.

**Reporter**: [Antoine Pitrou](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=apitrou) / @pitrou

<sub>**Note**: *This issue was originally created as [PARQUET-1394](http

[2018-08-20 09:22] asfimport commented on #42356
[Antoine Pitrou](https://issues.apache.org/jira/browse/PARQUET-1394?#comment-16585681) / @pitrou:
Here are the only versions of boost-regex present on my system:
[code]

[code]

[2018-08-20 09:57] asfimport opened #42847 "[C++][Parquet] Tests fail due to not finding libboost_system.so"
When building:
[code]

Then:
[code]
[code]

It looks like our cmake build script doesn't link explicitly with the conda env's libboost_system.so.

**Reporter**: [Antoine Pitrou](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=apitrou) / @pitrou
**Assignee**: Wes McKinney](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=wesm) / @wesm

<sub>**Note**: *This issue was originall

[2018-08-20 09:58] asfimport commented on #42847
[Antoine Pitrou](https://issues.apache.org/jira/browse/PARQUET-1395?#comment-16585732) / @pitrou:
(note this is with gcc 7.3.0 on Ubuntu 18.04)

[2018-08-20 09:58] asfimport commented on #42356
[Antoine Pitrou](https://issues.apache.org/jira/browse/PARQUET-1394?#comment-16585733) / @pitrou:
Ok, so, weirdly, this seems to be solved using `-D_GLIBCXX_USE_CXX11_ABI=1`. Though I get a loading error at runtime now (PARQUET-1395).

[2018-08-20 10:19] asfimport commented on #42847
[Antoine Pitrou](https://issues.apache.org/jira/browse/PARQUET-1395?#comment-16585754) / @pitrou:
Actually the problem here might be the transitive dependency through `libarrow.so`:
[code]

@wesm @xhochy why would this be?

[2018-08-20 10:20] asfimport commented on #42847
[Antoine Pitrou](https://issues.apache.org/jira/browse/PARQUET-1395?#comment-16585757) / @pitrou:
(also seems like we're using a different linking scheme in parquet-cpp and in Arrow? The former uses the full boost library path, the latter doesn't)

[2018-08-20 11:53] asfimport commented on #42847
[Antoine Pitrou](https://issues.apache.org/jira/browse/PARQUET-1395?#comment-16585834) / @pitrou:
Ok, I don't understand anything anymore. These are the two same files but:
[code]

Note how the installed version doesn't manage to resolve the boost shared libraries...

[2018-08-20 11:59] asfimport commented on #42847
[Antoine Pitrou](https://issues.apache.org/jira/browse/PARQUET-1395?#comment-16585837) / @pitrou:
Actually, not the same files.
[code]

Which begs the question: what happens when installing that modifies .so files?

[2018-08-20 12:03] asfimport commented on #42847
[Antoine Pitrou](https://issues.apache.org/jira/browse/PARQUET-1395?#comment-16585839) / @pitrou:
Also, looks like Arrow unittest are linked statically with `libarrow.so` (and all dependencies), while parquet-cpp unittests are linked dynamically with `libarrow.so` and `libparquet.so` (and boost). Why?

@cpcloud @majetideepak

[2018-08-20 12:19] asfimport commented on #42847
[Antoine Pitrou](https://issues.apache.org/jira/browse/PARQUET-1395?#comment-16585849) / @pitrou:
Ok, so things seem to work if I pass `-DCMAKE_INSTALL_RPATH_USE_LINK_PATH=on` to cmake when building Arrow. But why is that needed? I find myself trying to turn all knobs at random...

[2018-08-20 13:27] asfimport commented on #42847
[Uwe Korn](https://issues.apache.org/jira/browse/PARQUET-1395?#comment-16585927) / @xhochy:
We should have a look at what `conda` is doing internally. I know that `conda` is adjusting the RPATH during installation to ensure that the correct libs are used. This is most likely a thing we also need to do when we install into a conda environment.

I'm still a bit confused as why this pops up now, this

[2018-08-20 13:28] asfimport commented on #42847
[Antoine Pitrou](https://issues.apache.org/jira/browse/PARQUET-1395?#comment-16585928) / @pitrou:
I upgraded to Ubuntu 18.04 this week-end. So this might be a side-effect of how the dynamic loader works or something.

[2018-08-20 13:31] asfimport commented on #42847
[Uwe Korn](https://issues.apache.org/jira/browse/PARQUET-1395?#comment-16585931) / @xhochy:
@pitrou can you post the output of ?

[code]

[2018-08-20 13:33] asfimport commented on #42847
[Antoine Pitrou](https://issues.apache.org/jira/browse/PARQUET-1395?#comment-16585933) / @pitrou:
[code]

[2018-08-20 13:58] asfimport commented on #42847
[Uwe Korn](https://issues.apache.org/jira/browse/PARQUET-1395?#comment-16585947) / @xhochy:
Ok, that is definitely the root of the problem.

In the cmake version I use locally, I have CMAKE_SKIP_INSTALL_RPATH=OFF and CMAKE_SKIP_RPATH=OFF. The CMAKE_INSTALL_RPATH_USE_LINK_PATH option was not set by cmake. I have cmake 3.10.0 from conda-forge installed.

[2018-08-20 14:21] asfimport commented on #42847
[Antoine Pitrou](https://issues.apache.org/jira/browse/PARQUET-1395?#comment-16586000) / @pitrou:
I have cmake 3.12.0 from Anaconda. cmake 3.10 from Ubuntu wouldn't work.

[2018-08-20 14:43] asfimport commented on #42847
[Antoine Pitrou](https://issues.apache.org/jira/browse/PARQUET-1395?#comment-16586027) / @pitrou:
The default (\?) cmake options here are:
[code]

(gotta love how some boolean options use ON/OFF and others YES/NO...)

[2018-08-20 15:04] asfimport commented on #42356
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1394?#comment-16586053) / @wesm:
This may be related to the Anaconda compiler migration (to gcc 7.x)

[2018-08-20 16:07] #42349 closed

[2018-08-20 20:11] KhagayN opened #2451 "Dataframe to apache arrow scala api"
Is there work being done or staged to convert dataframe to arrow format, similar to dataframe.write.parquet

Thanks

[2018-08-21 10:55] yarco commented on #1125
You should probably add a warning on "https://arrow.apache.org/install/" saying that you currently cannot install with pip. The current text is misleading in that it tells me that it should work. I tried compiling/installing arrow/cpp from source (OSX / python 3.7) and then installing pyarrow==0.10.* with pip and it still did not work. Got a strange error

`Collecting pyarrow
  Using cached https:

[2018-08-21 11:35] xhochy commented on #1125
It does work for Python<3.7. For Python 3.7, you need to have installed the Arrow C++ packages via different means.

[2018-08-21 11:35] xhochy commented on #1125
Locking this as the discussions here go into various directions and should continue as separate issues on https://issues.apache.org/jira/projects/ARROW

[2018-08-21 16:02] TaihuaLi opened #2455 "NameError for 'pdcompat' (pyarrow=0.10.0)"
I just updated pyarrow from 0.9.0 to 0.10.0 and I got a name error while trying to read a directory containing parquet files.

    ---------------------------------------------------------------------------
    NameError                                 Traceback (most recent call last)
    <ipython-input-5-d0f3e11a6edb> in <module>()
    ----> 1 _ = pq.ParquetDataset(path).read(nthreads=8)

    ~/

[2018-08-21 16:04] wesm commented on #2455
Did you install Jupyter, pyarrow, and pandas in the same conda environment? That's usually what causes this

[2018-08-21 16:20] asfimport commented on #42803
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1241?#comment-16587678) / @wesm:
Please either add a new codec or add an option to `Lz4Codec` to use the framed format. We can discuss further in a relevant Arrow JIRA

[2018-08-21 16:28] TaihuaLi commented on #2455
@wesm Thank you! It did solve the problem.

[2018-08-21 16:28] #2455 closed

[2018-08-21 20:33] asfimport opened #19457 "[C++] Define common abstract APIs for database clients"
Most databases feature common notions:

- Connection
- Session
- Operation or Cursor
- Result set

  Result sets for example should support a standard API for conversion to an Arrow record batch (though some databases may require additional options for some conversions)

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/browse/ARROW-3101) / @wesm

<sub>**Note**: *This issue was originall

[2018-08-22 23:44] asfimport opened #42848 "[C++][Parquet] incorrect calculation column start offset for files created by parquet-mr 1.8.1"
parquet-mr (at least version 1.8.1-fast-201712141648170019-ab0622b)

writes to ColumnChunk's metadata dictionary_page_offset == 0 when it is (supposed?) equal to data_page_offset.

calculation of col_start in std::unique_ptr<PageReader> GetColumnPageReader(int i)

works incorrectly in this case.

**Reporter**: [Renat Valiullin](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=rip.nsk@gm

[2018-08-23 11:36] asfimport opened #23537 "[C++] Coerce Arrow half-precision float to float32"
When trying to save a Pandas DF using "to_parquet" when that DF has a column with a dtype of float16, I get the error: "pyarrow.lib.ArrowNotImplementedError: Unhandled type for Arrow to Parquet schema conversion: halffloat"

**Reporter**: [Naor Volkovich](https://issues.apache.org/jira/browse/ARROW-7242)

<sub>**Note**: *This issue was originally created as [ARROW-7242](https://issues.apache.org/j

[2018-08-23 13:18] #42846 closed

[2018-08-23 13:18] asfimport commented on #42846
[Uwe Korn](https://issues.apache.org/jira/browse/PARQUET-1392?#comment-16590203) / @xhochy:
Resolved by PR https://github.com/apache/parquet-cpp/pull/492

[2018-08-23 22:19] asfimport commented on #42775
[Ted Haining](https://issues.apache.org/jira/browse/PARQUET-1160?#comment-16590875):
Done, Wes.

[2018-08-24 17:11] lpatruno opened #2468 "AttributeError: module 'pyarrow' has no attribute 'compat' upong importing pyarrow"
Hi folks,

I just installed pyarrow with `pip`. Here is the output:

[code]

However when I try to import the package I get an errror:
[code]

I tried uninstalling and reinstalling but it did not help. Any ideas?

[2018-08-24 17:17] lpatruno commented on #2468
Hmm. Installing with `conda install -c conda-forge pyarrow` fixes this issue. Let me know if you folks need any diagnostics to help debug.

[2018-08-24 17:32] kszucs commented on #2468
With `numpy=1.13.3`:

<img width="1234" alt="image" src="https://user-images.githubusercontent.com/961747/44598586-ca5f9580-a7d3-11e8-83fb-db713b996ec8.png">

[2018-08-24 17:37] wesm commented on #2468
You might have had two different versions of pyarrow installed (one with pip, another older one with conda)

[2018-08-24 17:37] #2468 closed

[2018-08-24 18:26] lpatruno commented on #2468
Thanks @kszucs . I was able to replicate the issue.

If I install `pyarrow` with numpy version 1.13.1, I get the error.

If I uninstall numpy 1.13.1, install 1.15.1, and then install pyarrow (with `pip`) I can import pyarrow with error.

FYI @wesm ...

[2018-08-26 17:04] asfimport commented on #42840
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1370?#comment-16592961) / @wesm:
That would be a question for @pitrou or @alendit

[2018-08-26 19:10] wesm commented on #2468
Is there an ABI conflict? AFAIK we are building wheels against NumPy 1.14

[2018-08-27 08:42] asfimport opened #42849 "[C++][Parquet] Add index pages to the format to support efficient page skipping to parquet-cpp"
The scope of the Jira is to take advantage of indexes added as part of PARQUET-922

It is easier to implement this if we create sub-tasks

**Reporter**: [Renato Javier Marroquín Mogrovejo](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=renato2099) / @renato2099
**Assignee**: Gang Wu](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=wgtmac) / @wgtmac
#### Subtasks:
- [X] [Ad

[2018-08-27 17:52] #2396 closed

[2018-08-28 08:11] MarkiesFredje opened #2485 "ArrowIOError: Arrow error: Capacity error"
Hi,

I'm using pyarrow 0.10

I have a dataframe about 90GB size in memory, with one object column contain strings up to 27 characters max.

basket_plateau.to_parquet("basket_plateau.parquet", compression=None) writes this file to disk just fine
basket_plateau = pd.read_parquet("basket_plateau.parquet") fails however.

ArrowIOError: Arrow error: Capacity error: BinaryArray cannot contain more than

[2018-08-28 15:11] wesm commented on #2485
Hi, can you open a JIRA? If you can write down a minimal reproduction that would also be helpful. Thanks!

[2018-08-28 18:42] jpcampb2 opened #2490 "[ARROW-3137] pyarrow 0.10 requires newer version of numpy than specified in requirements"
pyarrow 0.10 appears to have a binary incompatibility with numpy versions prior to the 1.14.x series, but its requirements file claims support for numpy>=1.10.0

If an older version of numpy is used, the following RuntimeError results: `RuntimeError: module compiled against API version 0xc but this version of numpy is 0xb`

The following tox.ini file demonstrates the issue:
[code]

Using a simple

[2018-08-28 18:52] wesm commented on #2490
Can you open a JIRA please? Thank you

[2018-08-28 18:59] jpcampb2 commented on #2490
Created https://issues.apache.org/jira/browse/ARROW-3137

[2018-08-28 18:59] wesm commented on #2490
Thanks

[2018-08-28 18:59] #2490 closed

[2018-08-28 19:45] srp33 opened #2491 "Querying files with 10,000s of columns and 100,000s of rows"
We have some biological datasets with 10,000s of columns and 100,000s of rows. Currently, we are storing the data in Parquet files and using pyarrow+pandas to read and filter the data. Users specify queries to filter the rows. And they indicate which columns they want to select.

This works well in most cases. But sometimes our users want to select *all* columns (but only some of the rows). Curren

[2018-08-28 20:49] asfimport opened #42850 "[C++][Parquet] 'Couldn't deserialize thrift' error when reading large binary column"
We've run into issues reading Parquet files that contain long binary columns (utf8 strings).  In particular, we were generating WKT representations of polygons that contained ~34 million characters when we ran into the issue. 

The attached example generates a dataframe with one record and one column containing a random string with 10^7 characters.

Pandas (using the default pyarrow engine) succes

[2018-08-28 22:36] asfimport commented on #42850
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1405?#comment-16595670) / @wesm:
Moved this to Parquet

[2018-08-29 07:34] MarkiesFredje commented on #2485
Created [ARROW-3139]( https://issues.apache.org/jira/browse/ARROW-3139)

[2018-08-29 10:59] rs2 opened #2493 "[DOC]: Tpyo in doc/source/ipc.rst"
`s/support/suppose` in https://github.com/apache/arrow/commit/712b9d2c98d82b6f3a37ba8a2944bfda6f186994#diff-d64c165c862558c5f89b016f6b2aba89R273

Assign it to me for a PR?

[2018-08-29 11:17] rs2 opened #2494 "feather drops MultiIndices from pandas DataFrames on serialize/deserialize"
[code]

[2018-08-29 13:12] #2485 closed

[2018-08-29 13:28] xhochy commented on #2468
We're actually building against 1.10 to support old NumPy version. I'll have a look at the docker output to see what's going wrong there.

[2018-08-29 13:44] xhochy commented on #2491
Parquet supports predicate pushdown on RowGroup and Page level. While page-level filtering is not yet available and will be a bit more complex to implement, you can already do basic RowGroup filtering using `pyarrow`. With `pyarrow.ParquetFile(…).metadata.row_group(…).column(…).{min,max}` you get the minimum and maximum of a RowGroup for a given column. When you compare your filters against these

[2018-08-29 14:03] xhochy commented on #2468
This is a problem introduced by installing tensorflow: https://travis-ci.org/apache/arrow/jobs/421710986#L9970

[2018-08-29 14:10] xhochy commented on #2468
Actual cause and JIRA: https://issues.apache.org/jira/browse/ARROW-3141

[2018-08-29 15:10] wesm commented on #2493
You can skip JIRA for a typo fix. Please submit a PR

[2018-08-29 15:25] srp33 commented on #2491
@xhochy Thanks for your response! Would it be unreasonable to create a separate RowGroup for each row of data in the parquet file? Instead of getting the min or max, could we use that to just grab all the data in that single row? Would that have significantly negative side effects?

[2018-08-29 16:32] xhochy commented on #2491
Yes, that would remove most of the benefits of a columnar file format. If you really want to filter exactly to one row (assuming that your rows are quite large). It would be better to use a row-wise format like Avro.
To use Parquet, you should at least have 100 rows per RowGroup and for effective use, this should be well above 10k rows per RowGroup.

[2018-08-29 17:33] #2493 closed

[2018-08-29 18:14] asfimport opened #42851 "[C++][Parquet] unit test fails on some cases"
Hi, i'm trying to integrate parquet-cpp 1.5.0rc0 with arrow 0.10.0 and thrift 0.11.0 but experiencing unit test failure as follows:
[code]
Any idea to fix these failures?

BTW, i needed to **manually** replace references to `AllocateEmptyBitmap` with `GetEmptyBitmap` to make this rc build successfully before i could do this unit test. Can it be fixed as well?

 

**Environment**: Ubuntu Linux: 18.

[2018-08-29 19:29] asfimport commented on #42851
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1406?#comment-16596768) / @wesm:
Can you post the output of `ctest -VV`?

[2018-08-29 19:30] asfimport commented on #42851
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1406?#comment-16596771) / @wesm:
Also, you'll have to use Arrow master for the time being

[2018-08-29 20:25] asfimport commented on #42851
[Peter Pan](https://issues.apache.org/jira/browse/PARQUET-1406?#comment-16596812):
Here you go. 
[code]

[2018-08-29 20:30] asfimport commented on #42851
[Peter Pan](https://issues.apache.org/jira/browse/PARQUET-1406?#comment-16596822):
From ctest ^, it seems the failures are from unsupported compression methods builtin in my arrow library. Question is do i need to enable all compression methods in arrow to pass the unit tests?

[2018-08-29 20:50] asfimport commented on #42851
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1406?#comment-16596840) / @wesm:
- parquet-cpp requires zlib, brotli, and snappy for its unit tests to pass
- Please set the PARQUET_TEST_DATA environment variable as described in https://github.com/apache/parquet-cpp#testing

[2018-08-31 22:27] asfimport opened #42357 "[C++][Parquet] Upgrade to use LogicalType annotations instead of ConvertedType"
Keeping in line with format evolution

see also PARQUET-1410

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=wesm) / @wesm
**Assignee**: TP Boudreau](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=tpboudreau) / @tpboudreau
#### Related issues:
- [[C++] Support for writing TIMESTAMP_NANOS Parquet metadata](https://issues.apache.org/jira/browse/

[2018-08-31 22:38] asfimport opened #19503 "[C++] Native client interface to SQL Server / TDS protocol"
It would be useful to be able to use the FreeTDS API or native SQL Server APIs on Windows to query data efficiently to Arrow format from SQL server.

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/browse/ARROW-3155) / @wesm

<sub>**Note**: *This issue was originally created as [ARROW-3155](https://issues.apache.org/jira/browse/ARROW-3155). Please see the [migration documentation](http

[2018-09-03 07:33] rw opened #2509 "Official Rust FlatBuffers is now available"
IIRC this project wanted to use FlatBuffers in Rust. It was just merged, please give it a go and let us know if it serves your needs: https://github.com/google/flatbuffers/pull/4898

[2018-09-03 08:32] rs2 commented on #2494
`feather` is a lightweight container. If you want to preserve nearly all features of a Pandas `DataFrame`, consider serializing `pyarrow.Table`.

[2018-09-03 08:32] #2494 closed

[2018-09-04 16:53] wesm commented on #2509
Indeed, and thank you. @andygrove is taking the lead on this, we will be in touch I'm sure

[2018-09-04 16:53] #2509 closed

[2018-09-04 17:18] asfimport opened #42852 "[C++][Parquet] Incorporate CLI utilities and benchmarks into Arrow codebase"
Follow-up work to ARROW-3075

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=wesm) / @wesm
#### Related issues:
- [[C++] Incorporate apache/parquet-cpp codebase into Arrow C++ codebase and build system](https://issues.apache.org/jira/browse/ARROW-3075) (is superceded by)

<sub>**Note**: *This issue was originally created as [PARQUET-1412](https://issues.ap

[2018-09-04 19:25] yingw787 opened #2511 "Segmentation fault when reading a Parquet partitioned dataset to a Parquet file"
Steps to reproduce:

1. Create a partitioned dataset with the following code:

[code]

2. Create a Parquet file from a PyArrow Table created from the partitioned Parquet dataset:

[code]

EXPECTED:
- Successful write

GOT:
- Segmentation fault

[2018-09-04 19:26] yingw787 commented on #2511
I may be missing something critical of the Parquet format, so please let me know if I am, but it would also be nice if this error was caught before the C extension and a nicer message was printed out.

[2018-09-04 19:41] yingw787 commented on #2511
Note: There may be a relationship to the 'category' dtype in pandas, as I just tried to generate a datashape from a pandas dataframe generated from this partitioned dataset and I got a TypeError as the partition keys have dtype 'category'.

[2018-09-04 20:45] asfimport opened #42853 "[C++][Parquet] Remove virtual calls from parquet::Comparator hot paths on writing file"
Having virtual calls on the innermost loop of writing to a file would be best avoided. While we need to provide for users to write custom comparators (I think?), an implementation of a single-value comparison should be inlined into an array-oriented update step so that the per-element looping does not contain a virtual call

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/secure/ViewPr

[2018-09-05 06:43] sephib commented on #2213
Hi,
I'm still having the same problem.
I'm working on `dask_yarn` and need to read hdfs files. I have installed  `arrow-cpp 0.10.0` and `parquet-cpp 1.5.0.pre`, but when I try to import pyarrow I get the following error:

[code]
I reinstalled the the packages put I'm still getting the same error
`conda install --offline -f arrow-cpp-0.10.0-py36h70250a7_0.tar.bz2 parquet-cpp-1.5.0.pre-h83d4a3d_0.ta

[2018-09-06 10:38] sephib commented on #2213
Hi,
Thank you very much for your reply and solution
I updated all the packages to be from `conda-forge`  and it workes now.
Thx

[2018-09-06 10:57] asfimport opened #19525 "[Python] Move all the test data files to apache/arrow-testing"
To reduce the number of binary files in apache/arrow

**Reporter**: [Krisztian Szucs](https://issues.apache.org/jira/browse/ARROW-3179) / @kszucs

<sub>**Note**: *This issue was originally created as [ARROW-3179](https://issues.apache.org/jira/browse/ARROW-3179). Please see the [migration documentation](https://github.com/apache/arrow/issues/14542) for further details.*</sub>

[2018-09-06 15:45] zzhao0 opened #2516 "[JAVA] Supporting zero copy arrow-vector"
Hello Team,

While arrow-format/flatbuffers does support zero copy, current arrow-vector java implementation is not. I was trying to hack zero copy for readonly scenarios, but saw two main blockers:

1. ArrowBuf is the only buffer implementation used exclusively across ArrowReader/ArrowRecordBatch/Vectors. It's final, which means there isn't a way for me to override its logic in order to wrap some

[2018-09-06 17:38] icexelloss commented on #2516
Hi,

Arrow java memory is always offheap memory that is allocated and managed by Arrow's memory allocator. In order to support any ByteBuffer or netty ByteBuf, it would change Arrow java's memory model.

I would also suggest you to send this to dev@arrow as that's the official channel to discuss such issues,

[2018-09-06 18:20] vmuriart opened #2517 "get_library_dirs on Windows gives the wrong directory"
Python Version: Anaconda 3.6
PyArrow Version: 0.9.0 and 0.10.0
Installed by: conda

The function `pa.get_library_dirs()` points to the wrong directory

[code]

returns: (the extra spaces are due to the bolding)

`['C:\\Anaconda\\lib\\site-packages\\pyarrow', 'C:\\Anaconda\\`**`lib`**`\\Library\\lib']`

but it should be:

    ['C:\\Anaconda\\lib\\site-packages\\pyarrow', 'C:\\Anaconda\\Library\\lib

[2018-09-06 18:26] vmuriart commented on #2517
@wesm to answer your question on the [`TODO`](https://github.com/apache/arrow/blob/e0c07f4dfe4305aadfd7288403f6f3c6272a8369/python/pyarrow/__init__.py#L222-L223). I don't use `conda` to build my local Cpp extensions, so that section of code is useful for the cases in which the user uses `setuptools` directly to build.

[2018-09-06 18:54] wesm commented on #2517
Can you please open a JIRA issue

[2018-09-06 20:27] wesm commented on #2516
Yes can you please repost on the dev mailing list so we can discuss there?

[2018-09-06 20:29] vmuriart commented on #2517
Just opened. https://issues.apache.org/jira/browse/ARROW-3183

On a side note, Should I just open issue directly on Jira? I usually post here before Jira in case its my own user-error.

[2018-09-06 20:54] wesm commented on #2517
Well, in this case the bug report was fairly clear, or at least more than 50%. If you aren't sure either here or the mailing list is OK

[2018-09-06 20:54] #2517 closed

[2018-09-06 21:29] zzhao0 commented on #2516
Thanks, just posted

[2018-09-06 23:35] vmuriart commented on #2517
Should I go ahead and open a pull-request with the changes needed?

[2018-09-06 23:37] wesm commented on #2517
Be our guest

[2018-09-07 04:05] asfimport opened #19531 "[C++] Address libparquet SO version convention in unified build"
Follow up work to ARROW-3075

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/browse/ARROW-3185) / @wesm
#### Related issues:
- [[C++] Set shared library version for linux and mac builds](https://issues.apache.org/jira/browse/PARQUET-1540) (is duplicated by)

<sub>**Note**: *This issue was originally created as [ARROW-3185](https://issues.apache.org/jira/browse/ARROW-3185). Please see

[2018-09-07 04:10] wesm commented on #2516
I don't see the post?

[2018-09-07 05:19] zzhao0 commented on #2516
posted to: dev@arrow.apache.org. Is that the right email?

[2018-09-07 05:29] zzhao0 commented on #2516
Just subscribed and reposted. Did you see it now?

[2018-09-07 05:32] wesm commented on #2516
Yes, thank you

[2018-09-07 05:32] #2516 closed

[2018-09-07 09:58] giapoce opened #2521 "pip3.7 install pyarrow fails on ubuntu14.04"
## GitHub Issues for Apache Arrow

We support GitHub issues as a lightweight way to ask questions and engage with
the Arrow developer community. We use the Apache Software Foundation's JIRA
instance for maintaining a queue of development work and as the public record
for work on the project. So, feel free to delete this text and open an issue
here if you have a question or aren't sure whether some

[2018-09-07 09:59] giapoce commented on #2521
Attempt to install pyarrow library for python 3.7 fails on ubuntu 14.04 with error:

pip3.7 install pyarrow

.........
[ 66%] Building CXX object CMakeFiles/lib.dir/lib.cpp.o
    /tmp/pip-install-yxfa9q27/pyarrow/build/temp.linux-x86_64-3.7/lib.cpp:593:35: fatal error: arrow/python/platform.h: No such file or directory
     #include "arrow/python/platform.h"

[2018-09-07 18:41] asfimport opened #19534 "[Python] Support seek(...) on writable files that support it"
See relevant mailing list discussion

https://lists.apache.org/thread.html/67fc945fa01b7cf682a241f36de09fe495b84b119868dd7c9f8168ba@%3Cdev.arrow.apache.org%3E

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/browse/ARROW-3189) / @wesm

<sub>**Note**: *This issue was originally created as [ARROW-3189](https://issues.apache.org/jira/browse/ARROW-3189). Please see the [migration documenta

[2018-09-08 01:13] ak-gupta commented on #2110
@xhochy I'm still having issues with `pyarrow`. I have no issues writing the parquet files but when I try to read them back using Dask I get an error saying that the schema is different between the common metadata and the other partitions. When I individually read in each parquet partition, however, the resulting pyarrow table has the correct schema (I am specifying a schema when I write the files

[2018-09-08 02:05] wesm commented on #2110
@ak-gupta this isn't the best place for this discussion. Can you open a JIRA issue for Arrow and preferably post a reproducible example? Thanks

[2018-09-09 16:35] albertoRamon opened #2529 "Make Install: not declared in this scope"
Error: When execute _make install_

- Timezone.cc:748:7: error: 'uint' was not declared in this scope
- Timezone.cc:749:11: error: 'nameStart' was not declared in this scope
- Timezone.cc:756:59: error: 'nameStart' was not declared in this scope

**To Reproduce it:**
`
docker pull python:2.7.15-alpine3.8
docker run -it python:2.7.15-alpine3.8 /bin/sh
apk add  wget git
apk add  gcc musl-dev cmake m

[2018-09-09 18:03] asfimport opened #19546 "[C++] Utilize zero-copy protobuf parsing from upstream whenever it becomes available"
This has been discussed for a couple of years now; perhaps with Abseil this could happen at some point:

https://github.com/protocolbuffers/protobuf/issues/1896

Using zero-copy proto parsing (which is standard practice inside Google, but not available in open source protocol buffers) would obviate the need for the zero-copy workaround that I'm going to implement for C++ Flight RPCs

**Reporter**:

[2018-09-09 18:14] wesm commented on #2529
Can you please open a JIRA issue? Thank you

[2018-09-09 18:40] albertoRamon commented on #2529
[ARROW-3202](https://issues.apache.org/jira/browse/ARROW-3202)

[2018-09-09 18:46] wesm commented on #2529
Thanks

[2018-09-09 18:46] #2529 closed

[2018-09-09 18:47] wesm commented on #2521
Did you install the C++ libraries first? We hope to make wheels for 3.7 available in the next release

[2018-09-09 18:47] #2521 closed

[2018-09-09 18:48] wesm commented on #2511
@yingw787 can you open a JIRA issue, please? The software should not segfault

[2018-09-09 18:48] wesm commented on #2360
@kylebarron any luck on this?

[2018-09-09 18:49] wesm commented on #2281
@nasica88 can you open a JIRA issue summarizing your findings on this? We need to track development work / bugs there and not here

[2018-09-09 18:50] #2491 closed

[2018-09-09 18:54] kylebarron commented on #2360
Sorry, I haven't spent any more time trying to reproduce it. If I come across it again, I'll try to reproduce it again.

[2018-09-09 18:54] #2360 closed

[2018-09-09 22:42] albertoRamon opened #2532 "Arrow in Debian Buster"
There is a error with Debian Buster (In Debian Stretch works fine) when execute _make install_

You can test it easily change the first line from dockerfile (attached)

[code]
[DockerfileRV.zip](https://github.com/apache/arrow/files/2364728/DockerfileRV.zip)

[2018-09-09 22:47] albertoRamon commented on #2532
Could you tell me In witch operating system has been tested , Arrow, parquet ccp,  pyarrow and tuboDBC?

[2018-09-09 22:51] wesm commented on #2532
Can you please open a JIRA? Thanks

[2018-09-09 22:58] albertoRamon commented on #2532
[ARROW-3203](https://issues.apache.org/jira/browse/ARROW-3203)

Thanks

[2018-09-09 23:21] albertoRamon opened #2533 "Parquet-CCP on Debian Stretch"
There is a error on Debian Stretch when execute _make install_ :
- schema.cc:32:14: error: 'arrow::TypePtr' has not been declared
- schema.cc:32:14: error: 'arrow::TypePtr' has not been declared

You can test it easily change the first line from dockerfile [DockerfileRV.zip](https://github.com/apache/arrow/files/2364749/DockerfileRV.zip):

[code]
NOTE: [credits of main idea](https://hub.docker.com

[2018-09-10 00:39] wesm commented on #2533
Please, JIRA

[2018-09-10 00:40] #2532 closed

[2018-09-10 00:43] wesm commented on #2533
I think this isn't a bug because the parquet-cpp repo is deprecated. See ARROW-3075

[2018-09-10 00:43] #2533 closed

[2018-09-10 09:20] albertoRamon opened #2534 "ARROW_HIVESERVER2"
Hello

Activate, support for hive, generate exception in CMake:

[code]

[2018-09-10 12:55] wesm commented on #2534
@albertoRamon this is the 4th GitHub issue you've opened in the last 24 hours -- can you please use JIRA going forward to report problems or feature requests? You'll be saving the maintainers like me time. Thanks

[2018-09-10 13:06] albertoRamon commented on #2534
No problem of course,
I did not want to create JIRAS that were not validated as bugs

[2018-09-10 13:09] wesm commented on #2534
Right in this case, "Building with ARROW_HIVESERVER2=ON without unit tests disabled fails" is definitely a bug. This code only just landed in the codebase so it will need some work before being production-ready. If you feel even 20% confidence that something is a bug I would prefer that it go on JIRA and be resolved as "Not A Bug".

We have GitHub issues available mostly to capture information fro

[2018-09-10 13:16] asfimport opened #42854 "[C++][Parquet] Deprecate parquet/api/* in favor of simpler public API "parquet/api.h""
The public API for this project is simple enough that I don't think we need anything more complex than a single public API header file

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=wesm) / @wesm

<sub>**Note**: *This issue was originally created as [PARQUET-1416](https://issues.apache.org/jira/browse/PARQUET-1416). Please see the [migration documentation

[2018-09-10 14:06] #2534 closed

[2018-09-10 19:13] yingw787 commented on #2511
@wesm will do. Closing bug on GitHub mirror.

[2018-09-10 19:13] #2511 closed

[2018-09-10 19:18] yingw787 commented on #2511
Issue referenced in ARROW-3208.

[2018-09-12 14:42] dmadeka opened #2549 "PyArrow ArrowMemoryError in 0.10"
When I try to read a table and convert it to pandas, I get a strange error I haven't seen before:

[code]

[2018-09-12 14:43] dmadeka commented on #2549
The pyarrow version is `0.10.0`

[2018-09-12 14:53] xhochy commented on #2549
This means that your system does not have enough memory left to convert the Table to a Pandas DataFrame.

[2018-09-12 14:53] dmadeka commented on #2549
And it did in `0.8.0`? That doesnt make any sense

[2018-09-12 14:54] #2549 closed

[2018-09-12 15:06] wesm commented on #2549
@dmadeka if you get the error reproducibly in 0.10.0 but not 0.8.0 could you please open a JIRA issue

[2018-09-12 15:17] dmadeka commented on #2549
@wesm sounds good. But I also updated a bunch of C++ libraries to install some new simd stuff. I need to backtrace that in my virtual image

[2018-09-12 15:18] dmadeka commented on #2549
Or it could be a system thing - I need to deep dive it a bit to reproduce it meaningfully

[2018-09-13 22:12] asfimport commented on #42848
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1402?#comment-16614119) / @wesm:
[~rip.nsk@gmail.com] we need you to use your real name when submitting patches – it's a legal requirement for IP provenance purposes.

[2018-09-14 14:54] chutchinson opened #2559 "Extra padding in Arrow file format?"
![arrow-hex](https://user-images.githubusercontent.com/2136005/45557397-7dd40c80-b80b-11e8-93e5-0f9275401f0e.png)

I am working on an Arrow implementation according to the specification as of the 0.10 release, and I’m confused about what appears to be extra padding in the file format. I generated a record batch and serialized it to the file format using pyarrow (0.10) and inspected the file in a h

[2018-09-14 17:55] wesm commented on #2559
hi @chutchinson do you want to work on your Arrow implementation in the community rather than externally? That would be the ideal way to collaborate and prevent the maintainers here having to go through a bunch of paperwork if you ever want to donate your codebase to the Apache project.

Here's where the magic number and padding is written:

https://github.com/apache/arrow/blob/master/cpp/src/arro

[2018-09-14 18:03] wesm commented on #2559
Hm, I am seeing a 9th byte that shouldn't be there:

[code]

Digging in to see what's going on

[2018-09-14 18:08] chutchinson commented on #2559
I would love to donate the code (C#); however, I don't have freedom over that choice due to my employer. I'll be an advocate for such a decision, but for now I have to keep the implementation under wraps.

[2018-09-14 18:10] wesm commented on #2559
@chutchinson there's a bug in the C++ library. I'm a bit mystified why the unit tests did not catch it. I'm working on a patch now

[2018-09-14 19:00] chutchinson commented on #2559
I've put in a formal request to donate our implementation to the Apache project. That's the most I can do at the moment. Is there a way I can reach you @wesm  to help with the process?

[2018-09-14 19:03] wesm commented on #2559
Yes, please send me an e-mail -- you can find my e-mail address in the commit logs

[2018-09-14 21:35] naroom opened #2562 "Big strings cause AssertionError: found X raw bytes (expected Y)"
Writing really long strings from pyarrow causes exception in fastparquet read.

[code]

If written with compression, it reports compression errors instead:

SNAPPY: `snappy.UncompressError: Error while decompressing: invalid input`

GZIP: `zlib.error: Error -3 while decompressing data: incorrect header check`

Minimal code to reproduce:
[code]

Versions:
`fastparquet==0.1.6`
`pyarrow==0.10.0`
`pan

[2018-09-14 21:51] wesm commented on #2562
Can you please open a JIRA issue? Thanks

[2018-09-14 22:38] naroom commented on #2562
Done: https://issues.apache.org/jira/browse/ARROW-3238

[2018-09-14 22:38] #2562 closed

[2018-09-17 00:07] asfimport opened #19589 "[Python] Support spark parquet array and map types"
As far I understand, there is already some support for nested array/dict/structs in arrow. However, spark Map and List types are structured one level deeper (I believe to allow for both NULL and empty entries). Surprisingly, fastparquet can load these. I do not know the plan for arbitrary nested object support, but it should be made clear.

Schema of spark-generated file from the fastparquet test

[2018-09-17 23:10] PMende commented on #1920
I am encountering this issue without ever explicitly creating a pandas `DataFrame` myself. It seems that when trying to use `pyarrow.parquet.write_to_dataset`, if one specifies an argument for `partition_cols`, pyarrow (for whatever reason) creates a `pandas.DataFrame` object for each partition, then converts that `DataFrame` back to a `pyarrow.Table` (see [source code](https://github.com/apache/a

[2018-09-18 17:29] asfimport opened #19603 "[R] Use R sentinel values for missingness in addition to bitmask"
R uses sentinal values to indicate missingness within Atomic vectors (read arrays in Arrow parlance, AFAIK). 

Currently according to @wesm, the current value in the array in memory is undefined if the bitmap indicating missingness is set to 1. 

This will force R to copy and modify data whenever adopting Arrow data which has missingness present as a native vector.

If the value were written to th

[2018-09-18 21:05] wesm commented on #1920
Can you please post your comment on JIRA? Thanks

[2018-09-20 13:34] asfimport opened #42855 "[C++][Parquet] Thrift-generated symbols not exported in DLL"
Thirft-generated symbols don't have any `PARQUET_EXPORT`-like annotation, so they are not reachable from the Parquet DLL. In turn this makes it impossible to link Parquet unit tests with the Parquet DLL (instead of the Parquet static lib). I'm not sure it can impact other applications.

Example linking error:
[code]

**Reporter**: [Antoine Pitrou](https://issues.apache.org/jira/secure/ViewProfile.

[2018-09-20 22:11] asfimport commented on #42855
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1420?#comment-16622787) / @wesm:
We probably want to remove dependency on these symbols from the unit tests

[2018-09-21 15:32] asfimport opened #42358 "[C++][Parquet] Use Arrow IO interfaces natively rather than current parquet:: wrappers"
We are beginning to do some work on asynchronous IO in Arrow and it would be great to be able to leverage this in the Parquet core internals.

I am proposing to remove the Parquet-specific virtual file interfaces in

https://github.com/apache/arrow/blob/master/cpp/src/parquet/util/memory.h#L221

and instead rely directly on the Arrow ones in arrow::io. In addition to reducing the amount of code we

[2018-09-22 15:02] asfimport commented on #42358
[Uwe Korn](https://issues.apache.org/jira/browse/PARQUET-1422?#comment-16624704) / @xhochy:
+1 from me, that's one of the refactoring benefits I was hoping for to see.

[2018-09-23 03:42] asfimport opened #19639 "[JS] Reduce number of dependencies"
I installed the dependencies for arrow js today and it took 10 minutes (5 minutes the for the second run) with npm and less than one minute with yarn (I think there is an argument for using yarn instead of npm). Arrow js has 2792 dependencies right now. Installation takes very long but there is also some danger that the library will be hard to maintain in the future with this many dependencies.

*

[2018-09-24 12:32] asfimport commented on #42358
[James Clampffer](https://issues.apache.org/jira/browse/PARQUET-1422?#comment-16625752):
How about leaving pure virtual interfaces in the parquet headers and have those use the Arrow implementations by default?  It looks like doing this as described will require more Arrow headers to be included in the build of the core parquet library.  This way parquet-core can be slimmed down without adding new

[2018-09-24 13:43] asfimport commented on #42358
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1422?#comment-16625840) / @wesm:
hi [~James C] – I am not sure how we can maintain separate virtual interfaces while taking advantage of additional IO facilities (like asynchronous buffering) that require using shared abstractions. This is a proposal to perform a net code deletion.

[2018-09-24 13:51] asfimport commented on #42358
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1422?#comment-16625848) / @wesm:
Also on

This does not cause Parquet core to depend on additional Arrow headers. This work is in line with having less "platform code" in the Parquet core libraries, one of our objectives in bringing the communities closer together.

I will post a patch sometime soon for comment

[2018-09-25 10:28] tumido opened #2624 "`pyarrow.parquet.DataDataset` memory leak when reading and exporting `pandas.DataFrame`"
Hi, I'm being unable to process a Pandas `DataFrame` (stored as a Parquet dataset -multiple parts, `snappy` compression). Python is being killed due to reaching memory limit.

## Steps to reproduce

Sample data:
[code]

Python code:
[code]

Now the python process memory allocation reaches (in kilobytes):
[code]

When the read is chained with an export to pandas, it results in reaching a memory lim

[2018-09-25 11:09] wesm commented on #2624
This is probably the same thing as https://github.com/apache/arrow/issues/2614. I'm opening a JIRA as we need to block 0.11 until we figure out what's going on

[2018-09-25 11:10] wesm commented on #2624
@tumido any chance you can share a file that has the same characteristics as what you are reading?

[2018-09-25 11:11] wesm commented on #2624
@pitrou or @kszucs any chance you can take a look? I am traveling internationally and speaking at a conference this week so my time is highly fragmented

[2018-09-25 13:38] tumido commented on #2624
@wesm unfortunately I can't release the original dataset, thought I can give you the scheme:
[code]

[2018-09-25 13:47] wesm commented on #2624
OK. Can you show me these summary statistics:

[code]

I'm interested in the dictionary cardinality of the string columns and the size to estimate the decoding footprint

[2018-09-25 14:09] tumido commented on #2624
[code]
`G` and `H` columns are UUID

[2018-09-25 14:15] wesm commented on #2624
Thanks. I will do the math to see if there is legitimately a memory leak but the way that we are currently dealing with low-cardinality string columns is pretty unfavorable for you:

https://github.com/apache/arrow/blob/master/cpp/src/arrow/python/arrow_to_pandas.cc#L408

There's some immediate recourses we should investigate:

* Pass values through a hash table to deduplicate -- we do this in pan

[2018-09-25 14:15] wesm commented on #2624
cc @pitrou @xhochy @kszucs @cpcloud as relevant to all of you

[2018-09-25 14:27] tumido commented on #2624
@wesm: For me this was more about a kind heads up for you than a work order, haha :wink:

If it's not a priority for you right now, don't make it one just because of this ticket.

I've workarounded it by switching to `fastparquet` in my code for now and that works fine. Obviously they do things differently - which is good for my usecase and might be worse for other scenarios...

[2018-09-25 21:34] kavitajsheth opened #2627 "pyarrow column cast not working"
I want to cast pyarrow table column from decimal(38,4) to int64.

col.cast(pa.int64())

Error:
  File "pyarrow/table.pxi", line 443, in pyarrow.lib.Column.cast
  File "pyarrow/error.pxi", line 89, in pyarrow.lib.check_status
pyarrow.lib.ArrowNotImplementedError: No cast implemented from decimal(38, 4) to int64

Python version : 3.6.5
Pyarrow version : 0.10.0

is it not implemented yet or I am not

[2018-09-25 21:52] wesm commented on #2627
Can you open a JIRA issue with this information, please?

[2018-09-25 22:01] kavitajsheth commented on #2627
Thanks for the reply, I opened Jira issue, https://issues.apache.org/jira/projects/ARROW/issues/ARROW-3329

[2018-09-25 22:15] wesm commented on #2627
Thanks

[2018-09-25 22:15] #2627 closed

[2018-09-26 05:54] fjptwenger opened #2630 "pyarrow install error"
command: pip install  pyarrow

error ：
[code]
How to solve this?

[2018-09-26 08:04] fjptwenger commented on #2630
i use python3.6 ,then this  problem is solved

[2018-09-26 09:14] hugo-pires opened #2631 "Merge tables"
Hello

Is it possible to MERGE Arrow (I am using PyArrow) tables, just like we do on Pandas?

Thank you

[2018-09-26 13:57] #2631 closed

[2018-09-26 14:43] asfimport opened #42856 "[C++][Parquet] parquet-dump-schema has poor usability"
[code]

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=wesm) / @wesm
**Assignee**: Deepak Majeti](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=mdeepak) / @majetideepak
#### PRs and other links:
- [GitHub Pull Request #2715](https://github.com/apache/arrow/pull/2715)

<sub>**Note**: *This issue was originally created as [PARQUET-1426](https:/

[2018-09-26 14:44] asfimport opened #42857 "[C++][Parquet] Move example executables and CLI tools to Apache Arrow repo"
**Reporter**: [Wes McKinney](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=wesm) / @wesm
**Assignee**: Wes McKinney](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=wesm) / @wesm
#### PRs and other links:
- [GitHub Pull Request #2632](https://github.com/apache/arrow/pull/2632)

<sub>**Note**: *This issue was originally created as [PARQUET-1427](https://issues.apache.org/j

[2018-09-26 21:25] ostrokach opened #2637 "[Python] Segfault when reading parquet files if pytorch is imported before pyarrow"
`pyarrow` (version `0.10.0`) appears to crash sporadically with a segmentation fault when reading parquet files if it is used in a program where `torch` is imported first.

A self-contained example is available here: https://gitlab.com/ostrokach/pyarrow_pytorch_segfault.

Basically, running

[code]

sooner or later results in a segfault:

[code]

 The number of iterations before a segfault varies,

[2018-09-27 00:54] fsaintjacques commented on #2637
[code]

[2018-09-27 06:44] tarekrached opened #2640 "[JS] npm packages depends on outdated flatbuffers-esm"
Not sure what the root cause is here, or if this is even a real issue, but I figured I'd flag it...

It looks like the `apache-arrow` npm package (and the @apache-arrow/* packages) are pointing at an out of date fork of flatbuffers from @trxcllnt, which can be seen with:
[code]
which shows `github:trxcllnt/flatbuffers-esm` instead of `1.9.0`, which is what [js/package.json](https://github.com/apac

[2018-09-27 06:47] trxcllnt commented on #2640
Yep, we've updated the dependency master and it will go out in the next release.

[2018-09-27 06:50] tarekrached commented on #2640
👍 fantastic - thanks for the update.

[2018-09-27 06:50] #2640 closed

[2018-09-27 08:18] xhochy commented on #2637
The backtrace looks like the same problem as we see with the tensorflow wheels. They both use a newer libstdc++ version and when pyarrow is imported last, the virtual shared pointer destructor will be picked up from the torch libstdc++.

One should have a look at the symbols exported by the Torch wheel, maybe it could help if they would employ also the same symbol hiding as we do in pyarrow.

[2018-09-27 08:18] xhochy commented on #2637
@ostrokach Can you open a JIRA with your description? That would make it better to track long-term.

[2018-09-27 09:14] wesm commented on #2637
It's odd since in theory newer libstdc++ symbols should be ABI-compatible

[2018-09-27 12:10] xhochy commented on #2637
There are some bits that broke a bit in older versions which also could affect our manylinux1 wheels: https://gcc.gnu.org/wiki/Cxx11AbiCompatibility

[2018-09-27 12:20] asfimport commented on #42857
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1427?#comment-16630292) / @wesm:
Merged in https://github.com/apache/arrow/commit/723a437802143fd00d97c101caaf6deabea3f8c6

[2018-09-27 12:20] #42857 closed

[2018-09-27 14:09] asfimport commented on #42856
[Deepak Majeti](https://issues.apache.org/jira/browse/PARQUET-1426?#comment-16630484) / @majetideepak:
We should add tests for all the tools as well. I will open a Jira for that.

[2018-09-27 14:12] asfimport opened #42858 "[C++][Parquet] Add tests for C++ tools"
We currently do not have any tests for the tools.

**Reporter**: [Deepak Majeti](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=mdeepak) / @majetideepak

<sub>**Note**: *This issue was originally created as [PARQUET-1430](https://issues.apache.org/jira/browse/PARQUET-1430). Please see the [migration documentation](https://issues.apache.org/jira/browse/PARQUET-2502) for further details

[2018-09-27 15:50] asfimport opened #42859 "[C++][Parquet] Automaticaly set thrift to use boost for thrift versions before 0.11"
PARQUET_THRIFT_USE_BOOST is a cmake option. But instead parquet should automatically set the definition PARQUET_THRIFT_USE_BOOST based on the thrift version.

**Reporter**: [Deepak Majeti](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=mdeepak) / @majetideepak
**Assignee**: Deepak Majeti](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=mdeepak) / @majetideepak
#### PRs and

[2018-09-27 21:08] ostrokach commented on #2637
Link to JIRA issue: https://jira.apache.org/jira/browse/ARROW-3346

[2018-09-27 21:09] wesm commented on #2637
thanks

[2018-09-27 21:09] #2637 closed

[2018-09-28 06:35] kou commented on #2630
I think that your CMake is old.
Recent CMake ships `FindPythonInterp.cmake` that supports Python 3.7 or later.

[2018-09-28 06:35] #2630 closed

[2018-09-28 17:42] tarekrached opened #2656 "[JS] Unable to build with webpack with strictExportPresence: true"
This took me a while to track down, but the long and short of it is that the `apache-arrow` npm module can't be used in webpack with the `strictExportPresence` webpack config flag set to true.

This manifested when I tried using apache-arrow in a `create-react-app` application - it worked fine in the development mode, but failed when I tried to build the production bundle.  (Note that this was for

[2018-09-28 20:03] wesm commented on #2656
@trxcllnt @TheNeuralBit seems like we should try to get a new JS release out there. Could the data refactor wait until 0.5.0?

[2018-09-28 20:17] trxcllnt commented on #2656
@wesm yes definitely, I think that was the plan all along. I've also run into this issue with webpack, so we should fix this before 0.4.0. I'm not entirely sure how this webpack flag works, since the TS does compile down to compliant syntax for CommonJS and ESModules:

`Arrow.js`:
[code]

and the corresponding one in the ESModules file `Arrow.mjs`:
[code]

@tarekrached do you have any ideas on wha

[2018-09-28 21:49] tarekrached commented on #2656
@trxcllnt I don't have a clue what the fix would be, sorry.  I tried messing around with some of the ts compiler settings in `js/tsconfig` and rebuilding, but to no avail.  The TypeScript build process is something of a mystery to me.

FWIW it looks like this no longer manifests in the hot-off-the-presses `react-scripts@2.0.1`.  `npm start` and `npm run build` both work fine, and they both failed

[2018-09-28 22:01] tarekrached commented on #2656
I think the relevant react-scripts change may be here, in which they treat `*.mjs` files specially.

https://github.com/facebook/create-react-app/commit/3ae3cf3678725f86fe34234e59088a65a9458b8b#diff-d2bddbd3bfb7051f9381474c844674fa

I say this because the error that surfaced in `npm start` was:
[code]
and the flatbuffers source was `node_modules/flatbuffers/js/flatbuffers.mjs`

[2018-09-29 09:59] mlyknown commented on #2656
everybody has some solution?

[2018-09-29 11:12] #42859 closed

[2018-09-29 11:12] asfimport commented on #42859
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1431?#comment-16632951) / @wesm:
Issue resolved by pull request 2645
<https://github.com/apache/arrow/pull/2645>

[2018-09-30 08:58] asfimport commented on #42775
[Uwe Korn](https://issues.apache.org/jira/browse/PARQUET-1160?#comment-16633317) / @xhochy:
Issue resolved by pull request 2646
<https://github.com/apache/arrow/pull/2646>

[2018-09-30 08:58] #42775 closed

[2018-09-30 21:53] asfimport commented on #42355
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1369?#comment-16633518) / @wesm:
Issue resolved by pull request 2655
<https://github.com/apache/arrow/pull/2655>

[2018-09-30 21:53] #42355 closed

[2018-10-01 20:07] oberstet commented on #2630
FWIW, I have the latest CMake, but it doesn't work for me on Py 3.7 (and it does again work on Py 3.6 for me too):

[code]

[2018-10-01 20:38] wesm commented on #2630
Well `-- Found the Arrow Python library: ARROW_PYTHON_LIB_PATH-NOTFOUND` looks wrong, I would start there to see what's not found

[2018-10-01 23:17] tarekrached commented on #2656
I spoke too soon - `@apache-arrow/es2015-esm` compiles, but `flatbuffers` is undefined:

![image](https://user-images.githubusercontent.com/167218/46320889-50ba8480-c595-11e8-936f-a7f6cdc1b073.png)

This is with `react-scripts` `2.0.1` and `2.0.2`

[2018-10-03 08:33] KDra opened #2691 "Issue: halffloat implementation in pyarrow parquet"
Hi,

I am currently using pyarrow to store pandas datasets. Due to the very large amount of data it would be useful to use a lower precision for floats. I saw that it is implemented in the parquet standard but not currently available in pyarrow, since I get the following error:

ArrowNotImplementedError: Unhandled type for Arrow to Parquet schema conversion: halffloat

[2018-10-03 09:02] wesm commented on #2691
hi @KDra -- float16 is not part of the Parquet spec. We could coerce float16 to float32 on write, though. Please open a feature request

[2018-10-05 01:42] dhirschfeld opened #2707 "[Feature Request] Table.nbytes attribute"
As it says in the title, I think this would be a very handy attribute to have. You can get it by converting to pandas and using `DataFrame.nbytes` but this is wasteful of both time and memory so it would be good to have this information on the `pyarrow.Table` object itself.

Happy to move this to a JIRA if there's agreement this is a useful/desirable feature.

[2018-10-05 04:46] dhirschfeld commented on #2707
Suggest implementing via the [`__sizeof__`](https://docs.python.org/3/library/sys.html#sys.getsizeof) protocol.

[2018-10-05 05:39] wesm commented on #2707
Can you open a JIRA? We discuss feature requests there.

[2018-10-05 05:51] MSeal opened #2708 "Python 3.7 install on Ubuntu 17.10"
I ran into an issue on Travis around building pyarrow on python 3.7 and was able to reproduce it on my local machine. It seems like the manylinux builds for other versions of python don't require cython and install without issue. But python 3.7 throws fits. I followed installation instructions on https://arrow.apache.org/install/ to install the C++ and GLib bindings just in case, but no luck. I al

[2018-10-05 06:05] wesm commented on #2708
Can you kindly open a JIRA? I think this will be fixed with Arrow 0.11 (out soon), though

[2018-10-05 07:12] dhirschfeld commented on #2707
Discussion moved to https://issues.apache.org/jira/browse/ARROW-3444

[2018-10-05 07:12] #2707 closed

[2018-10-05 15:29] MSeal commented on #2708
Yes, I'll make one later this morning. Glad to hear 0.11 has the fix coming :)

[2018-10-05 17:19] MSeal commented on #2708
Done https://issues.apache.org/jira/browse/ARROW-3447

[2018-10-06 07:44] asfimport opened #19770 "[Python] Pandas roundtrip doesn't preserve list of datetime objects"
Adding the following to the pandas_example.py::dataframe_with_lists functionn:

[code]

breaks the tests cases, because the roundtrip doesn't preserve the object type.

**Reporter**: [Krisztian Szucs](https://issues.apache.org/jira/browse/ARROW-3448) / @kszucs
#### Related issues:
- [[Python] timestamp_as_object support for pa.Table.to_pandas in pyarrow](https://github.com/apache/arrow/issues/2181

[2018-10-06 09:04] wesm commented on #2708
Thanks. Feel free to test out the source release that's being voted on on the mailing list right now

[2018-10-06 09:04] #2708 closed

[2018-10-08 07:25] asfimport opened #19778 "[Gandiva] Add a string based expression parser"
Gandiva currently supports a tree-based expression builder. This requires writing a lot of code for even simple expressions.

For eg. to build an expression for "a + b < 10", the code is :
[code]
An alternate way to do this would be :

 
[code]
The expression syntax should be close to that of SQL.

 

To begin with, this'll simplify writing tests. And, it will provide an easier api to work with ga

[2018-10-08 14:07] asfimport commented on #42856
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1426?#comment-16641879) / @wesm:
Issue resolved by pull request 2715
<https://github.com/apache/arrow/pull/2715>

[2018-10-08 14:07] #42856 closed

[2018-10-09 12:44] wolfv opened #2733 "Spec array size int32 or int64?"
The spec mentions clearly that the array size and null count are signed int32_t (https://github.com/apache/arrow/blob/master/format/Layout.md#array-lengths)

However, it appears to have changed to int64_t in C++ implementation ( https://github.com/apache/arrow/blob/master/cpp/src/arrow/array.h#L171 )

So I was wondering wether the spec needs an update or if C++ just internally uses int64_t?

[2018-10-09 12:50] wesm commented on #2733
Hi -- best to discuss on JIRA. Yes, we permit 64-bit lengths. An implementation is valid if it does not, though. For best compatibility between languages, we recommend limiting lengths to 32 bits.

[2018-10-09 12:51] wesm commented on #2733
https://issues.apache.org/jira/browse/ARROW-3473

[2018-10-09 12:51] #2733 closed

[2018-10-09 14:00] asfimport opened #42860 "[C++][Parquet] Parquet build fails when PARQUET_ARROW_LINKAGE is static"
The error is as follows
[code]
 

 

**Reporter**: [Deepak Majeti](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=mdeepak) / @majetideepak
**Assignee**: Deepak Majeti](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=mdeepak) / @majetideepak
#### PRs and other links:
- [GitHub Pull Request #2735](https://github.com/apache/arrow/pull/2735)

<sub>**Note**: *This issue was ori

[2018-10-09 15:51] asfimport commented on #42836
[Antoine Pitrou](https://issues.apache.org/jira/browse/PARQUET-1354?#comment-16643662) / @pitrou:
Isn't this fixed already?

[2018-10-09 15:55] asfimport commented on #42803
[Antoine Pitrou](https://issues.apache.org/jira/browse/PARQUET-1241?#comment-16643666) / @pitrou:
For the record, in https://github.com/apache/arrow/pull/2696 I'm adding streaming compression and decompression APIs to Arrow. For LZ4, I had to use the framed format as it's the only simple way to stream-compress LZ4. Right now, this means the streaming and one-shot APIs are incompatible for LZ4. Mak

[2018-10-09 16:02] asfimport commented on #42836
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1354?#comment-16643677) / @wesm:
Yes this is fixed

[2018-10-09 16:02] #42836 closed

[2018-10-09 18:16] asfimport commented on #42855
[Antoine Pitrou](https://issues.apache.org/jira/browse/PARQUET-1420?#comment-16643878) / @pitrou:
I've started looking into this. Two main pain points seem to stick out:

- `schema-test.cc` invokes many Thrift-generated APIs, e.g. for creating schema elements
- `file-deserialize-test.cc` seems to test implementation details (PageHeader and DataPageHeader serialization)

[2018-10-09 19:49] asfimport commented on #42855
[Antoine Pitrou](https://issues.apache.org/jira/browse/PARQUET-1420?#comment-16644012) / @pitrou:
(note you can see the work in progress here:
 https://github.com/apache/arrow/compare/master...pitrou:ARROW-3442-tests-linking-shared)

[2018-10-10 18:01] Aldridgexia commented on #1830
alternatively if you want to do a type conversion after you read in the data, try df.some_col.astype(unicode)

[2018-10-11 23:11] tarekrached commented on #2656
I think [this issue](https://github.com/jaydenseric/apollo-upload-client/issues/72) in `apollo-upload-client` is related.  AFAICT the issue stems from a named export in an upstream non-esm module.

also possibly related: https://github.com/webpack/webpack/issues/7973 Broken cjs & esm interop

[2018-10-14 16:57] amachanic opened #2756 "zlib failure in PyArrow 0.11.0"
The following produces an exception on PyArrow 0.11.0: "zlib deflate failed, output buffer too small"

It works fine on 0.10.0, so I assume this is a regression?

[code]

[2018-10-14 19:07] kszucs commented on #2756
Although I can't reproduce it, the error must come from [here](https://github.com/apache/arrow/blob/e0f70bbf9bc8eb909373abaaf0b4c9f50bc0a2d6/cpp/src/arrow/util/compression_zlib.cc#L195).

How did You install pyarrow? Which platform?
Could You please create a [JIRA](https://issues.apache.org/jira/projects/ARROW/issues) ticket instead?

[2018-10-14 19:16] wesm commented on #2756
I think we are dynamically linking to zlib now in 0.11 so @amachanic could you let us know what other versions of zlib do you have installed on your system?

[2018-10-15 02:16] amachanic commented on #2756
@kszucs I installed pyarrow via pip. I had initially tested this on Amazon Linux (which I guess is Red Hat). Just tested on a couple of other machines: CentOS 7, and Ubuntu 16.04, and the repro works (which is to say, throws an exception) on both. I also just tested on Windows 7, and the repro does NOT throw an exception there.

Happy to create a JIRA ticket.

@wesm: both the Amazon Linux and Cent

[2018-10-17 21:06] kavitajsheth opened #2782 "Pyarrow -> pandas -> pyarrow null column Question"
I am reading parquet files using pyarrow where one of String type column has all null values when I convert it into pandas and back to pyarrow table column type changed to an integer. I read output using Spark. I also supplied schema when converting pandas to table.

Question: How to write a column with type string and all null values? I want to keep datatype as a string and null values.

Thank yo

[2018-10-18 07:52] romankarlstetter opened #2785 "Support for TIMESTAMP_NANOS"
Hi!

In parquet-format, there is now support for TIMESTAMP_NANOS: https://github.com/apache/parquet-format/pull/102

For parquet-cpp, this is not yet supported. I have a few questions now:
- is there an overview of what release of parquet-format is currently fully support in parquet-cpp (something like a feature support matrix)?
- how fast are new features in parquet-format adopted?

I think havin

[2018-10-18 15:16] tsellers-r7 commented on #2756
@amachanic It looks like the fix landed 2 days ago. Is there a projected date for when the code will be released and show up on PyPi?

Thanks.

[2018-10-18 16:08] wesm commented on #2756
We need to release 0.11.1. I am going to work on that today; so reckon updated packages would be on PyPI within the next 96 hours or so

[2018-10-18 16:08] #2756 closed

[2018-10-18 16:39] amachanic commented on #2756
@wesm many thanks!

[2018-10-19 01:42] rstuckey commented on #2213
This is really frustrating. I'm getting the same error as @cpiscos , but cannot reinstall libboost from conda-forge (does it even exist on that channel?).
[code]
Installing all but libboost results in the following error:
[code]
Any advice would be appreciated.

[2018-10-19 08:54] nonlimited opened #2793 "Assembling nested structures from existing buffers/arrays"
Hi Arrow Team,

I would like to assemble a struct from existing arrays in order to store an n-dimensional array within a parquet store. I would like to do the following:

[code]

When creating this struct with pure python objects with `pa.array([((3,), [0, 1, 2])], type=ts)`, everything works:

[code]

However, using existing arrays won't work anymore.

[code]

yields
[code]

A similar problem ari

[2018-10-19 12:34] wesm commented on #2213
Can you remove `libboost`? Having that and `boost-cpp` is going to cause you these problems

[2018-10-20 19:03] danielhaviv opened #2805 "Table schema does not match schema used to create file:"
I'm trying to write a large parquet file row group by group and avoid running out of memory.
When I'm writing closing the ParquetWriter I receive the following exception "Table schema does not match schema used to create file:".

My code:
`pq.read_metadata(f).schema.to_arrow_schema()
writer = pq.ParquetWriter('/tmp/example2.parquet', schema)
for i in range(parquet_file.num_row_groups):

[2018-10-20 19:05] danielhaviv commented on #2805
It's worth mentioning that the columns are identical, only the "metadata" part is different (pandas vs spark)

[2018-10-21 08:08] danielhaviv commented on #2805
Removed metadata from both schemas and it worked:
                schema = parquet_file.read_row_group(0).schema.remove_metadata()
                 tab = pa.Table.from_pandas(df, preserve_index=False).replace_schema_metadata()

[2018-10-21 08:08] #2805 closed

[2018-10-21 20:27] wesm commented on #2805
I think something ought to be documented about this issue in the Sphinx documentation. What do you think?

[2018-10-22 03:44] rstuckey commented on #2213
Yep, I think that's it. Looks like `libhdfs3` was restricting boost:
[code]
Thanks again!

[2018-10-22 08:45] asfimport opened #19897 "[Python] Update the documentation about Schema & Metadata usage"
Reusing the Schema object from a Parquet file written with Spark with Pandas fails due to Schema mismatch.

The culprit is in the metadata part of the schema which each component fills according to it's implementation. More details can be found here: <https://github.com/apache/arrow/issues/2805>

The documentation should point that out.

**Reporter**: [Daniel Haviv](https://issues.apache.org/jira/

[2018-10-22 08:46] danielhaviv commented on #2805
Created [ARROW-3585](https://issues.apache.org/jira/browse/ARROW-3585).
I'll attend to it by the beginning of next week.

[2018-10-23 19:28] h5rdly opened #2821 "RandomAccessSource for S3"
Since parquet is columnar, and S3 supports downloading parts of keys/files, I thought it would be awesome to have native support for querying / downloading from S3.

I tried to figure out how to do this without use of boto / other SDK's, using vanilla libraries, and ended up with a [snippet](https://gist.github.com/h5rdly/30e3dbb28f46ca5fdc404155438017c9).

[code]

I don't know c++ well, but this

[2018-10-23 19:30] wesm commented on #2821
Yes -- you can see such an implementation in TensorFlow here https://github.com/tensorflow/tensorflow/blob/9590c4c32dd4346ea5c35673336f5912c6072bf2/tensorflow/core/platform/s3/s3_file_system.cc#L168. See https://issues.apache.org/jira/browse/ARROW-453

[2018-10-23 19:30] #2821 closed

[2018-10-23 19:45] h5rdly commented on #2821
Thanks!

Will you be adding it to Arrow as well?

[2018-10-23 19:55] wesm commented on #2821
It's in the issue tracker. It's just a matter of time. It would be great if you could ask AWS directly to assist with the work

[2018-10-24 09:35] asfimport opened #42861 "[C++][Parquet] an't build with ARROW_BOOST_VENDORED=ON"
**Reporter**: [Kouhei Sutou](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=kou) / @kou
**Assignee**: Kouhei Sutou](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=kou) / @kou
#### PRs and other links:
- [GitHub Pull Request #2828](https://github.com/apache/arrow/pull/2828)

<sub>**Note**: *This issue was originally created as [PARQUET-1449](https://issues.apache.org/jira/

[2018-10-25 00:50] asfimport commented on #42861
[Kouhei Sutou](https://issues.apache.org/jira/browse/PARQUET-1449?#comment-16663069) / @kou:
Issue resolved by pull request 2828
<https://github.com/apache/arrow/pull/2828>

[2018-10-25 00:50] #42861 closed

[2018-10-26 06:14] kavitajsheth commented on #2782
Hi Wes, Thank you. Sorry for late reply. while creating a reproducible example, I realized that I am using
 write_to_dataset and that method divide that table into subtable and writes it. when I passed schema there, its working fine. API documentation doesn't have this method. I will close this issue now. Thanks again for help.

[2018-10-26 06:14] #2782 closed

[2018-10-26 18:10] wesm commented on #2782
I opened https://issues.apache.org/jira/browse/ARROW-3629 about adding this to the API listing

[2018-10-27 09:12] wesm commented on #2281
Closing as stale

[2018-10-27 09:12] #2281 closed

[2018-10-27 10:07] xhochy commented on #2213
@wesm This parquet-cpp version is one with a more open `arrow-cpp` pinning. Newer `parquet-cpp` version pin `arrow-cpp` more exactly. The correct behaviour would be to uninstall `parquet-cpp`.

[2018-10-27 10:09] wesm commented on #2213
I think the correct option here is to pin the parquet-cpp metapackage in https://github.com/conda-forge/pyarrow-feedstock/blob/master/recipe/meta.yaml#L33. This will cause other versions to be uninstalled I think

[2018-10-27 10:11] xhochy commented on #2213
That would make `parquet-cpp` a dependency again, do we want this?

[2018-10-27 11:40] wesm commented on #2213
It's an empty metapackage, I thought that was the idea anyway

[2018-10-27 12:00] wesm commented on #2213
I added here in the PR for 0.11.1 https://github.com/conda-forge/pyarrow-feedstock/pull/59/commits/74c3fba556c5076eea062639215367faf475e10f

[2018-10-27 12:14] kszucs commented on #2213
I don't know why parquet-cpp gets installed, it's not a dependency arrow-cpp or pyarrow.

[2018-10-27 12:19] kszucs commented on #2213
The most safe choice for now is indeed to pin parquet-cpp in pyarrow. However We should ask a forge developer about correctly handling this scenario.

[2018-10-27 12:59] asfimport opened #19943 "[Packaging] Substitute deb package names via crossbow"
Automatize: https://github.com/apache/arrow/commit/222632c67464a2bdd4724161c5ae79abf72a8bf7

Replace in tasks.yml: https://github.com/apache/arrow/blob/master/dev/tasks/tasks.yml#L400

Remove from prepare.sh https://github.com/apache/arrow/pull/2849

**Reporter**: [Krisztian Szucs](https://issues.apache.org/jira/browse/ARROW-3635) / @kszucs

<sub>**Note**: *This issue was originally created as [AR

[2018-10-27 13:50] xhochy commented on #2756
The fix was uploaded on PyPI some days ago.

[2018-10-27 15:57] kszucs commented on #2213
Conda now updates correctly:

[code]

[2018-10-28 09:18] wesm commented on #2213
That's great, thanks @kszucs!

[2018-10-28 14:16] kavitajsheth commented on #2782
Thank you.

[2018-10-29 15:54] aberres opened #2864 "[Python] Datetimes in mixed column index are read back as strings"
Consider the following example:

[code]

The serialized data frame has an index with a string and a datetime field (happened when resetting the index of a formerly datetime only column).
When reading the string back the datetime is converted into a string.

Is this the expected behavior as the column index should not mix types? If yes maybe the user should be somehow warned that information is los

[2018-10-29 15:59] behzadba opened #2865 "Error on Connect: FileNotFoundError: [WinError 2] The system cannot find the file specified"
I'm using python 3.6.6 64bit and just used pip to install pyarrow. But when I'm trying to connect I get this error while it does not look like an credential issue:

[code]
I installed Hadoop locally on my windows machine by the way. Any idea?

[2018-10-29 16:03] aberres commented on #2864
Just noticed: The same happens with other types like numbers as well. One can produce interesting situations:

`pd.DataFrame(1, index=[pd.to_datetime('2018/01/01')], columns=['1', 1])` can be written but fails to be read back as the index is no more unique with `'1'` showing up two times.

[2018-10-29 17:22] behzadba commented on #2865
I changed hdfs.py file this way and it passed that issue:

[code]
PS: my HADOOP_HOME env already was the bin folder of hadoop.

[2018-10-29 19:30] behzadba commented on #1437
I'm getting the same error in Windows, my JAVA_Home env is 'c:\java\bin' .... any idea?

[2018-10-29 20:34] wesm commented on #2864
Can you open a JIRA issue? Thanks

[2018-10-30 08:44] aberres commented on #2864
Done :)

https://issues.apache.org/jira/browse/ARROW-3650

[2018-10-30 08:44] #2864 closed

[2018-10-30 09:29] amittleider opened #2869 "Supported file format in C#"
Thanks for publishing the beginning of the C# library. I'm looking forward to using it.

I have a question about the file format that is supported. I am trying to read a file into C# that I have created using the python Arrow libraries. I assume that I am doing something wrong.

1. Attempt 1: `pq.write_table(table, "mytable.parquet")`
2. Attempt 2:
[code]

And on the C# side, reading like this:

[

[2018-10-30 09:42] xhochy commented on #2869
Your code above is writing Parquet file and in the second attempt serialized objects. Both are not the Arrow file format.

You want to take a look at https://arrow.apache.org/docs/python/ipc.html#writing-and-reading-random-access-files

[2018-10-30 11:40] amittleider commented on #2869
Thanks, @xhochy .

I used the following python code to write the arrow file format to disk.

[code]

[2018-10-30 11:40] #2869 closed

[2018-10-30 19:32] kavitajsheth opened #2874 "memory consumption question"
I am trying to read partitioned dataset(many small-files) of size 1GB from s3 and convert it into pandas.(data size is just an example)

dataset = pyarrow.parquet.ParquetDataset([list-of-files],filesystem =fs).read()
df = dataset.to_pandas()

This takes a very long time and it consumes around 50 GB memory(using top command to check memory used) and sometimes fails with a memory error.

I also trie

[2018-10-31 00:53] prithvi514 commented on #1868
Hi @neverfox . I am facing the same issue. Unfortunately restarting python did not fix it in my case.
[code]

Throws this exception:
[code]

[2018-10-31 12:31] xhochy commented on #2874
The size of your Parquet files is not the size that they will be later on in memory. As Parquet applies various forms of compression, the resulting pandas DataFrames can be upto 100x larger than the files on disk. In your case, you should read a single file from disk and then have a look at the memory usage of this file using `df.memory_usage(deep=True)`

[2018-10-31 15:08] mbrobbel commented on #2080
For version 0.10 of the C++ library this worked for me: https://github.com/mbrobbel/libarrow/blob/0.10.0/Dockerfile

However, for version 0.11 it failed because alpine's musl libc execinfo.h ( (https://github.com/apache/arrow/blob/master/cpp/src/arrow/util/logging.cc#L21) does not provide backtrace.

Relevant:
https://github.com/nodejs/node-report/commit/4691393e57f48d3f418fd636a6e80fdf12e03151
ht

[2018-10-31 15:45] ultrabug opened #2883 "read_csv behavior with blank lines differs between CSV deliimters"
Hi,

I was playing with `pyarrow.csv` `read_csv` and found a rather strange behavior that I'm not sure is normal.

Parsing will fail if the delimiter of the CSV file is a comma and there's a blank line after the header (see `basic_with_blank.csv` example)

Example output:
[code]

If I change the CSV delimiter to semicolon, the error disappears and everything is fine!

I'm providing python code and

[2018-10-31 15:47] kylebarron opened #2884 "pyarrow.schema example gives error"
The example provided in the docstring for [`pyarrow.schema`](https://arrow.apache.org/docs/python/generated/pyarrow.schema.html#pyarrow.schema) is:
[code]

Maybe this worked previously, but it appears to currently raise an error:
![image](https://user-images.githubusercontent.com/15164633/47800408-98ead500-dd02-11e8-8bbc-e9417980b6d9.png)

[2018-10-31 17:01] dwy904 commented on #2624
I have an instance that has about 250 GB Ram. The instance crashed when I tried to import a 2.5 GB parquet file into my jupyter notebook from s3.  I am not sure why it used up this much memory.

[code]

[2018-10-31 17:04] kavitajsheth commented on #2874
Thank you for the reply. Are there ways to reduce data frame memory usage or data compression with pandas? is there a parameter in pyarrow read method or to_pandas method that will help with data compression or memory usage?

Thank you.

[2018-10-31 21:31] prithvi514 opened #2885 "NameError: name 'pdcompat' is not defined pandas grouped udf"
Dependencies Installed:
[code]

UDAF example with pandas
[code]

Errors out:
[code]

[2018-11-01 09:40] xhochy commented on #2624
@dwy904 A 2.5 GB Parquet could easily turn into a 250G Pandas DataFrame when it has a lot of sparse data. Are you able to read this single file into a `pyarrow.Table` with `pyarrow.parquet.read_table` and then paste the number of rows and columns as well as the types of the columns here?

[2018-11-01 09:42] xhochy commented on #2874
@kavitajsheth There are several things you can do like using smaller integer types for columns where you don't int64 but an int16 is sufficient. But this can only be applied after the DataFrame was initially loaded.

[2018-11-01 09:48] xhochy commented on #2884
@kylebarron Eventhough I don't whether we ever supported this, we should support it as it is a convenient way to construct schemas. Can you open an issue at https://issues.apache.org/jira/projects/ARROW ?

[2018-11-01 09:54] xhochy commented on #2080
@mbrobbel This is the same as https://github.com/apache/arrow/issues/2818 thus I opened a JIRA at https://issues.apache.org/jira/browse/ARROW-3670

[2018-11-01 15:42] kylebarron commented on #2884
So sorry! I was in a virtual environment that hadn't upgraded to 0.11 yet.

Small note: it's helpful how Pandas' documentation has notes that say, i.e. "new in version 0.23.0". That might help prevent versioning mistakes like mine.

Thanks for all your work!

[2018-11-01 15:42] #2884 closed

[2018-11-01 15:48] mbrobbel commented on #2080
Ah, missed that issue. Thanks.

[2018-11-02 07:43] xhochy commented on #2080
@mbrobbel Fixed in master now

[2018-11-02 07:44] xhochy commented on #2624
@francoislauger Can you give us some insight about your pandas DataFrame types? Do you use a lot of categoricals?

[2018-11-02 13:28] wesm commented on #2624
At minimum we should deduplicate strings when converting to NumPy arrays of Python objects. I can look at this later in the year if no one beats me to it.

[2018-11-02 13:39] xhochy commented on #2624
The problem here is not the string deduplication but that we don't read back categorical columns from the Parquet files as categorical/dictionary encoded columns but first materialise them to their dense representation. The related JIRAs are:

- https://issues.apache.org/jira/browse/ARROW-3246
- https://issues.apache.org/jira/browse/ARROW-3325
- https://issues.apache.org/jira/browse/PARQUET-1423

[2018-11-02 17:38] wesm commented on #2624
Well, string duplication is a significant issue. Rather than a duplicate string taking 8 bytes for a `PyObject*`, each PyString copy comes with 48 bytes of overhead

[code]

[2018-11-02 19:31] kavitajsheth commented on #2874
Thank you, those are great suggestions. I will close this issue now.

[2018-11-02 19:31] #2874 closed

[2018-11-04 23:13] ultrabug commented on #2883
Hi Wes, thanks for your answer. I'll open a JIRA issue then!

I will reference the JIRA issue here and close the issue right after

[2018-11-04 23:20] ultrabug commented on #2883
JIRA ARROW-3700 created

https://issues.apache.org/jira/browse/ARROW-3700

Cheers!

[2018-11-04 23:20] #2883 closed

[2018-11-05 10:42] frutti93 opened #2905 "Column metadata is not transferred to tables"
Hello everyone,

this is my first contribution, so please forgive me if I am missing something. While working with pyarrow I noticed that field metadata does not get carried foreward when creating a table out of several columns. Is this intended behaviour or is there a way to add column metadata later on? The last command in my example does not return anything.
I also could not verify whether this

[2018-11-06 09:04] asfimport opened #20007 "[Python] Add "nrows" argument to parquet.read_table read indicated number of rows from file instead of whole file"
This patterns `nrows` in `pandas.read_csv`

inspired by https://stackoverflow.com/questions/53152671/how-to-read-sample-records-parquet-file-in-s3

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/browse/ARROW-3705) / @wesm

<sub>**Note**: *This issue was originally created as [ARROW-3705](https://issues.apache.org/jira/browse/ARROW-3705). Please see the [migration documentation](https:

[2018-11-07 10:21] jeanga commented on #2785
I can confirm TIMESTAMP_NANOS does not currently work at all with the nasty side effect of incomplete/corrupt parquet file if one tries to use it... 👎

[2018-11-07 15:52] romankarlstetter commented on #2785
Just for reference, this is the discussion on the mailing list:
[Support for TIMESTAMP_NANOS in parquet-cpp](https://lists.apache.org/thread.html/748dae4037d512afd228cb0c1e739263423df262cd90d7b25549a076@%3Cdev.arrow.apache.org%3E)

[2018-11-07 21:55] wesm commented on #2785
Looks like someone needs to open a JIRA issue

[2018-11-08 22:07] asfimport opened #20029 "[Python] Output a representation of pyarrow.Schema that can be used to reconstruct a schema in a script"
This would be like what `__repr__` is used for in many built-in Python types, or a schema as a list of tuples that can be passed to `pyarrow.schema`

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/browse/ARROW-3730) / @wesm

<sub>**Note**: *This issue was originally created as [ARROW-3730](https://issues.apache.org/jira/browse/ARROW-3730). Please see the [migration documentation](http

[2018-11-10 02:17] sadatnfs opened #2929 "R Build Failing"
I'm trying to install the R bindings for Apache Arrow and it's been erroring out for me for the last 3-5 days with the following trace (I'm building in a Debian Stretch Docker, with Arrow already built and `make install`d:

[code]

[2018-11-10 02:54] sadatnfs commented on #2929
@wesm for the time being, I'm installing the package directly pointing to the Github repo, something like `pacman::p_load_gh("apache/arrow/r")` would that do.

One thing to note though is that commit [d5f7b02fdf3c42663db8db6f385d94c17a865a10](https://github.com/apache/arrow/commit/d5f7b02fdf3c42663db8db6f385d94c17a865a10) is the last commit where I have been able to bulid the R package successfull

[2018-11-10 03:06] wesm commented on #2929
Try the latest master commit. Please post reproducible failure so @romainfrancois or others can take a look

[2018-11-10 15:33] kszucs commented on #2885
@prithvi514 I haven't reproduced it yet, but this should happen if pandas is [missing](https://github.com/apache/arrow/blob/master/python/pyarrow/table.pxi#L22-L28). Are You sure that pandas is installed on the workers?

[2018-11-10 20:05] sadatnfs commented on #2929
Can confirm that its working now! Thanks @wesm !

[2018-11-10 20:05] #2929 closed

[2018-11-10 20:37] asfimport commented on #42860
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1439?#comment-16682585) / @wesm:
Issue resolved by pull request 2735
<https://github.com/apache/arrow/pull/2735>

[2018-11-10 20:37] #42860 closed

[2018-11-11 22:08] asfimport commented on #42756
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1106?#comment-16683027) / @wesm:
This is done now as part of the monorepo merge

[2018-11-11 22:08] #42756 closed

[2018-11-11 22:09] asfimport commented on #42790
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1187?#comment-16683028) / @wesm:
I'm closing as this would be fixed concurrent in the Arrow build system (I think we may have an issue already there about this)

[2018-11-11 22:09] #42790 closed

[2018-11-11 22:10] asfimport commented on #42682
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-982?#comment-16683029) / @wesm:
I believe this is done already, correct me if I'm wrong

[2018-11-11 22:10] #42682 closed

[2018-11-11 22:10] #42299 closed

[2018-11-11 22:12] asfimport commented on #42425
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-530?#comment-16683030) / @wesm:
There isn't that much LZO in the wild anymore. Suggest we close this and revisit if someone has old files that use LZO that they want to read with parquet-cpp

[2018-11-11 22:12] #42425 closed

[2018-11-11 22:12] #42429 closed

[2018-11-11 22:12] asfimport commented on #42446
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-563?#comment-16683032) / @wesm:
This was accomplished with the Arrow monorepo merge

[2018-11-11 22:12] #42446 closed

[2018-11-11 22:13] asfimport commented on #42497
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-648?#comment-16683034) / @wesm:
This was accomplished in the monorepo merge

[2018-11-11 22:13] #42497 closed

[2018-11-11 22:13] asfimport commented on #42511
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-680?#comment-16683035) / @wesm:
Outdated now after monorepo merge

[2018-11-11 22:13] #42511 closed

[2018-11-11 22:15] asfimport commented on #42851
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1406?#comment-16683037) / @wesm:
Please reopen if you experience test failures in the Arrow/Parquet C++ monorepo

[2018-11-11 22:15] #42851 closed

[2018-11-11 22:16] asfimport commented on #42672
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-960?#comment-16683038) / @wesm:
Please let us know if you have issues building in the combined Arrow/Parquet C++ repo

[2018-11-11 22:16] #42672 closed

[2018-11-11 22:16] asfimport commented on #42644
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-916?#comment-16683040) / @wesm:
Fixed by monorepo merge

[2018-11-11 22:16] #42644 closed

[2018-11-11 22:17] asfimport commented on #42608
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-855?#comment-16683041) / @wesm:
Fixed by monorepo merge

[2018-11-11 22:17] #42608 closed

[2018-11-11 22:18] asfimport commented on #42415
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-517?#comment-16683042) / @wesm:
I renamed the issue. Using `arrow::MemoryPool` for allocations will ensure alignment

[2018-11-12 09:28] vlavorini opened #2945 "ArrowNotImplementedError: list<item: uint8>"
Hi, not sure if this is a bug or not.

I am trying to save a Pandas dataframe in feather format, and I get:

    ArrowNotImplementedError: list<item: uint8>

I see Feather accept `uint8` format, so probably this behavior should be due to the `list` content. I don't find any documnetation on this, so: Is this an expected issue?

cheers

[2018-11-12 14:49] frutti93 commented on #2905
Hi, thanks for your reply, I will try to do so!

[2018-11-12 14:49] #2905 closed

[2018-11-12 14:51] wesm commented on #2905
Could you post a link to the JIRA issue? Thanks

[2018-11-12 14:56] wesm commented on #2945
Feather doesn't support nested types yet. This is documented in http://arrow.apache.org/docs/python/ipc.html#feather-format

As soon as the R bindings for Apache Arrow are shipping, we can look at building a Feather V2 which will include nested data support (using the Arrow IPC protocol)

[2018-11-12 14:56] #2945 closed

[2018-11-12 18:00] asfimport commented on #42356
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1394?#comment-16684176) / @wesm:
Closing as this was a toolchain inconsistency it appears

[2018-11-12 18:00] #42356 closed

[2018-11-12 18:04] asfimport commented on #42818
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1291?#comment-16684183) / @wesm:
This was resolved with the monorepo migration. Now we have

[code]

[2018-11-12 18:04] #42818 closed

[2018-11-12 19:07] asfimport commented on #42292
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-445?#comment-16684253) / @wesm:
This will be addressed in the course of implementing nested data support for Arrow

[2018-11-12 19:07] #42292 closed

[2018-11-12 21:51] asfimport commented on #42729
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1056?#comment-16684392) / @wesm:
I just renamed the issue title. It's a fairly involved ask; if you would like to do the development work and make a PR, you can definitely go ahead

[2018-11-12 21:52] asfimport commented on #42714
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1030?#comment-16684393) / @wesm:
This issue is resolved by the monorepo merge. If you install libparquet using the common build system, Arrow and its headers will also be installed

[2018-11-12 21:52] #42714 closed

[2018-11-12 21:54] asfimport commented on #42711
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1022?#comment-16684395) / @wesm:
I'm closing as Won't Fix. Trying to modify existing files (overwriting the existing file footer) is a pretty big can of worms, and would add a bunch of complication to the codebase to initialize various classes with a partially written file

[2018-11-12 21:54] #42711 closed

[2018-11-12 21:57] asfimport commented on #42323
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-985?#comment-16684400) / @wesm:
We should create a JIRA issue for each new release to write this summary; I guess we have to decide where to put it since the changelog has been automatically generated so far

[2018-11-12 21:57] #42323 closed

[2018-11-12 21:59] asfimport commented on #42850
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1405?#comment-16684406) / @wesm:
I think a workaround here would be to disable computing/writing column statistics. @xhochy do we have the ability to do that now?

[2018-11-12 22:00] asfimport commented on #42847
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1395?#comment-16684412) / @wesm:
This should be resolved now with the monorepo merge

[2018-11-12 22:00] #42847 closed

[2018-11-12 22:02] asfimport commented on #42842
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1380?#comment-16684414) / @wesm:
This was accomplished in the monorepo merge https://github.com/apache/parquet-testing/commit/48a657ca05eb308539f3f00c698e8bb5185d9b38

[2018-11-12 22:02] #42842 closed

[2018-11-12 22:03] asfimport commented on #42822
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1306?#comment-16684415) / @wesm:
Addressed by monorepo merge

[2018-11-12 22:03] #42822 closed

[2018-11-12 22:04] asfimport commented on #42819
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1299?#comment-16684417) / @wesm:
We're using the latest in the Arrow toolchain now

[2018-11-12 22:04] #42819 closed

[2018-11-12 22:11] asfimport commented on #42634
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-896?#comment-16684426) / @wesm:
With the Arrow/Parquet monorepo merge, I think we've done the best we can. I would still like to see an "Apache C++ Commons" project at some point, but beyond what we have already done it doesn't seem like a priority

[2018-11-12 22:11] #42634 closed

[2018-11-12 22:26] blkerby opened #2948 "[RUST] Unsafe methods not declared unsafe"
Hi, I'm somewhat new here but am interested in this project and related efforts to bring tools for data science and machine learning to Rust.

I noticed some methods in [array.rs](https://github.com/apache/arrow/blob/1ef6c2644b654fa77c49cc20bb9d8fc66d3f0c4f/rust/src/array.rs) are unsafe but are not marked as such in their declaration:

PrimitiveArray<$native_ty>::value: https://github.com/apache/a

[2018-11-13 01:43] paddyhoran commented on #2948
Hi @blkerby, I think you are correct.  The rust implementation is not as complete as some of the other implementations so there are a lot small things to refine.  We manage issues on JIRA, I created an issue for you [here](https://issues.apache.org/jira/browse/ARROW-3776).  We would love to have you join the effort :)

I too believe that Rust could be a fantastic tool in scientific computing, etc

[2018-11-13 02:23] blkerby commented on #2948
Thanks for the welcome! I can take a closer look at this one and make a pull request. Then I'll hop on over to JIRA to continue the conversation.

[2018-11-13 15:04] #2948 closed

[2018-11-13 18:21] suvayu opened #2951 "[PARQUET] Segmentation fault when writing empty RecordBatches"
I have a curious problem.  I am trying to convert a very sparse dataset to parquet (~3% rows in a range are populated).  The file I am working with spans upto ~63M rows.  I decided to iterate in batches of 500k rows, 127 batches in total.  Each row batch is a `RecordBatch`.  I create 4 batches at a time, and write to a parquet file incrementally.  Something like this:

    batches = [..]  # 4 batc

[2018-11-13 19:24] wesm commented on #2951
Can you provide example code that reproduces the failure?

[2018-11-14 02:48] suvayu commented on #2951
So far I have not managed to replicate this with synthetic data.  The data I am using is from the 1000 Genome project, which has been public for many years, so we can be reasonably sure the data is good.  The following steps should help you replicate the issue.

1. Download the data file (and index), about 330MB:

       $ wget ftp://ftp.1000genomes.ebi.ac.uk/vol1/ftp/release/20130502/ALL.chr20.ph

[2018-11-14 14:11] wesm commented on #2951
Cool, would you mind transferring this to a JIRA issue where we can track this?

[2018-11-14 16:00] asfimport opened #42862 "[C++][Parquet] parquet::CompressionToString not recognizing brotli compression"
It looks like we just need to add a case to handle the brotli codec [here\|[https://github.com/apache/arrow/blob/9b4cd9c03ed9365f8e235f296caa166ea692c98f/cpp/src/parquet/types.cc#L122]]

**Reporter**: [Hatem Helal](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=hatem) / @hatemhelal
**Assignee**: Hatem Helal](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=hatem) / @hatemhe

[2018-11-14 16:01] asfimport commented on #42862
[Hatem Helal](https://issues.apache.org/jira/browse/PARQUET-1458?#comment-16686773) / @hatemhelal:
Looking into fixing this.

[2018-11-14 18:16] suvayu commented on #2951
Done: [ARROW-3792](https://issues.apache.org/jira/browse/ARROW-3792)

I opened one here because I wasn't sure if my example was sufficiently minimal :).

[2018-11-14 18:16] #2951 closed

[2018-11-15 00:25] asfimport commented on #42862
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1458?#comment-16687316) / @wesm:
Issue resolved by pull request 2963
<https://github.com/apache/arrow/pull/2963>

[2018-11-15 00:25] #42862 closed

[2018-11-15 07:00] asfimport opened #20199 "[Gandiva] Improve `make_in_expression`"
The `make_in_expression` in gandiva was not implemented correctly. Although [ARROW-3751](https://issues.apache.org/jira/projects/ARROW/issues/ARROW-3751) has fixed part of it, further improvement is still necessary. See `test_in_expr_todo` in [python/pyarrow/tests/test_gandiva.py](https://github.com/apache/arrow/pull/2936/files#diff-9ab0e0dc1f329321ff4555b043ee0f41) for details.

**Reporter**: [Si

[2018-11-19 00:17] guyrt opened #2989 "[js] npm package out of date"
The npm package is 8 months old:
https://www.npmjs.com/package/apache-arrow

It also lists v0.3.1, but packages.json shows v0.3.0.

It seems like a lot of goodness has hit master for javascript, particularly generics support. What needs to happen to get that published?

[2018-11-19 19:12] asfimport commented on #42840
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1370?#comment-16692138) / @wesm:
Working on adding more buffered read support to Arrow C++, possibly helpful, see ARROW-3782

[2018-11-19 19:25] asfimport commented on #42415
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-517?#comment-16692147) / @wesm:
I took a look through the codebase and didn't find any significant STL heap allocations. Closing

[2018-11-19 19:25] #42415 closed

[2018-11-19 19:30] asfimport commented on #42769
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1148?#comment-16692151) / @wesm:
Fixed as result of the monorepo merge

[2018-11-19 19:30] #42769 closed

[2018-11-19 19:30] asfimport commented on #42794
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1204?#comment-16692152) / @wesm:
Addressed via monorepo merge

[2018-11-19 19:30] #42794 closed

[2018-11-19 22:26] asfimport commented on #42812
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1271?#comment-16692363) / @wesm:
Issue resolved by pull request 2994
<https://github.com/apache/arrow/pull/2994>

[2018-11-19 22:26] #42812 closed

[2018-11-20 15:26] mboisson opened #3004 "Error when compiling arrow 0.11.1 with GCC 7.3.0"
I am getting the following when building arrow 0.11.1 with GCC 7.3.0 :
[code]

[2018-11-20 15:40] xhochy commented on #3004
@mboisson Can you post which command you used to run CMake and also the output of CMake?

[2018-11-20 15:44] mboisson commented on #3004
CMake command :
`cmake /dev/shm/mboisson/avx2/arrow/0.11.1/GCC-7.3.0/arrow-apache-arrow-0.11.1/cpp -DCMAKE_INSTALL_PREFIX=/home/mboisson/.local/easybuild/software/2017/avx2/Compiler/gcc7.3/arrow/0.11.1 -DCMAKE_C_COMPILER='gcc' -DCMAKE_Fortran_FLAGS='-O2 -ftree-vectorize -march=core-avx2 -fno-math-errno' -DCMAKE_CXX_FLAGS='-O2 -ftree-vectorize -march=core-avx2 -fno-math-errno' -DCMAKE_CXX_COMPILER=

[2018-11-20 15:50] wesm commented on #3004
Does upgrading to the latest Flatbuffers release fix it?

https://github.com/apache/arrow/blob/master/cpp/thirdparty/versions.txt

[2018-11-20 15:54] mboisson commented on #3004
That would be `c0698cc33f1e534bb59c455909b88cc2726089af`  (i.e. 1.10.0)

[2018-11-20 15:56] mboisson commented on #3004
It actually adds a bunch more errors, rather than fixing anything :
[code]

[2018-11-20 15:57] mboisson commented on #3004
This is by applying the following patch prior to starting from scratch :
[code]

[2018-11-20 17:15] wesm commented on #3004
Can you compile Flatbuffers from source on this machine? I'm trying to determine if it's an Arrow build system issue or a Flatbuffers issue. AFAIK we're able to build Arrow fine with stock gcc 7.3 so it may be something peculiar about your environment

[2018-11-20 20:05] mboisson commented on #3004
Turns out I can. Apparently, it seems to be some weird problem with `ccache` that we are using to speed up compilation.

[2018-11-20 20:41] mboisson commented on #3004
I only use `CMAKE_CXX_FLAGS`, here's a grep of my logfile for it
[code]

[2018-11-20 20:57] wesm commented on #3004
Hm it seems that Flatbuffers does pass -Werror when compiling: https://github.com/google/flatbuffers/blob/master/CMakeLists.txt#L159.

I found this thread https://github.com/google/flatbuffers/commit/bbb72f0b737e84553e19352d940f7e367f111c8e. You might want to report this issue to Flatbuffers. You can work around by adding `-Wno-implicit-fallthrough` to `$CXXFLAGS` for now

[2018-11-20 21:00] mboisson commented on #3004
Mmm, but I don't need to if I disable `ccache` strangely...

[2018-11-20 21:03] wesm commented on #3004
That's strange. I commented on https://github.com/google/flatbuffers/issues/4356. If you can provide instructions to reproduce it may help

[2018-11-20 21:09] mboisson commented on #3004
It's not trivial to replicate I'm afraid. I don't have a standard setup (i.e. straight out of the box ubuntu/centos/etc.)

[2018-11-24 15:30] frutti93 commented on #2905
Hi Wes,

sorry for the delay, I just created the issue:
[https://issues.apache.org/jira/browse/ARROW-3866](url)

[2018-11-24 18:03] suvayu opened #3026 "Building with -DARROW_GANDIVA=ON fails to detect Re2"
**Version:** release tarball of 0.11.1

### Error
`cmake` doesn't seem to find Re2 on my system.  The `FindRE2.cmake` in the release tarball was looking in `/lib`, and `/include`, so I replaced it with the version on `master`.  But the problem persists:

    -- RE2_HOME:
    CMake Error at cmake_modules/FindRE2.cmake:87 (message):
      Could not find re2 (missing headers).  Looked in system searc

[2018-11-24 18:09] wesm commented on #3026
Can you try from the master branch and open a JIRA issue if master does not work? Gandiva is not supported for end users in 0.11.x

[2018-11-24 19:56] suvayu commented on #3026
Okay thanks.

I tried with `master`, now cmake fails to detect llvm even before getting to Re2!

    -- Found LLVM 6.0.1
    -- Using LLVMConfig.cmake in: /usr/lib64/cmake/llvm
    CMake Error at /usr/lib64/cmake/llvm/LLVM-Config.cmake:175 (message):
      Target X86 is not in the set of libraries.
    Call Stack (most recent call first):
      cmake_modules/FindLLVM.cmake:31 (llvm_map_components_

[2018-11-25 00:33] asfimport opened #42863 "[C++][Parquet] Utilize revamped common hashing machinery for dictionary encoding"
@pitrou has recently made some significant improvements to hashing / dictionary encoding machinery in Apache Arrow

https://github.com/apache/arrow/commit/eaf8d32e5f292dca0aa5b5508041d5d39406224d

parquet-cpp is using a custom hash table

https://github.com/apache/arrow/blob/master/cpp/src/parquet/encoding-internal.h#L456

It would be nice to utilize common hash table machinery if possible. We sho

[2018-11-25 19:47] suvayu commented on #3026
Jira: [ARROW-3874](https://issues.apache.org/jira/browse/ARROW-3874)

[2018-11-25 19:47] #3026 closed

[2018-11-25 20:35] asfimport opened #20458 "[Python] Try to cast or normalize schemas when writing a table to ParquetWriter"
If we can cast safely to the file schema, it would improve usability to do so automatically. This auto-normalize behavior could be toggled on/off if so desired

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/browse/ARROW-3875) / @wesm

<sub>**Note**: *This issue was originally created as [ARROW-3875](https://issues.apache.org/jira/browse/ARROW-3875). Please see the [migration document

[2018-11-28 08:42] eromoe commented on #2485
Still got  ArrowIOError: Arrow error: Capacity error: BinaryArray cannot contain more than 2147483646 bytes, have 2147483664 .

pyarrow==0.11.1

[2018-11-28 13:12] wesm commented on #2485
The bud isn't fixed yet. See JIRA

[2018-11-28 15:42] asfimport commented on #42863
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1463?#comment-16702037) / @wesm:
Issue resolved by pull request 3036
<https://github.com/apache/arrow/pull/3036>

[2018-11-28 15:42] #42863 closed

[2018-11-30 00:37] asfimport commented on #42863
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1463?#comment-16704070) / @wesm:
Using the following setup

[code]

Here all values will end up represented in the dictionary as literal runs. I didn't find any appreciable difference in performance

[code]

I was mainly interested if the inner working of the hash table caused any overhead in this case. I would guess string dictionary wr

[2018-11-30 07:45] mkm177 opened #3058 "getvalue() fails for pyarrow BufferOutputStream"
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-14-5f2f926eb3b2> in <module>()
----> 1 buf = sink.getvalue()

AttributeError: 'pyarrow.lib.BufferOutputStream' object has no attribute 'getvalue'

Error above is encountered on
pyarrow 0.11.1
python 3.6.6

The documentation states th

[2018-11-30 14:03] wesm commented on #3058
I did

[code]

and

[code]

and

[code]

Can you provide information to reproduce your issue? Please also remember to use JIRA for bug reports

[2018-11-30 15:12] asfimport opened #20529 "[Python] Provide Python API to ArrayBuilder classes"
These classes can support both scalar and array appends. We might have to think a bit about how to support efficiently appending from strided NumPy arrays

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/browse/ARROW-3917) / @wesm

<sub>**Note**: *This issue was originally created as [ARROW-3917](https://issues.apache.org/jira/browse/ARROW-3917). Please see the [migration documentation

[2018-12-01 07:56] mkm177 commented on #3058
Thanks for the response. Noted...will use JIRA next time.

I reproduced the exacts steps you have above and get the same error message:
`conda create -n pyarrow-conda-test python=3.6 pyarrow`
creates the new conda environment.
Activate the new env.
Create a new jupyter python 3 notebook

[code]

Env details:
MacOS 10.13.6
conda v4.4.10
python v3.6.7
(pyarrow-conda-test) ******:anaconda3 ******$ co

[2018-12-01 15:03] wesm commented on #3058
You must have two versions of pyarrow installed. Probably an old one that you got using `pip` that's installed in your root environment

[code]

Try printing the `pa` module itself to see the import path.

[2018-12-02 02:08] mkm177 commented on #3058
I have only installed pyarrow in Conda environments. Never using pip. I followed the exacts steps you listed above and still have the same issue from the python prompt.
The only difference I see comparing our environments is that my GCC is v4.2.1 and yours is v7.3.0.

See below
[code]

[2018-12-02 02:56] wesm commented on #3058
You have `getValue` there instead of `getvalue`

[2018-12-02 03:38] asfimport opened #42864 "[C++][Parquet] Remove ChunkedAllocator code, now unused"
This code was initially lifted from the Impala codebase, where it's used for dictionary encoding. After PARQUET-1463, this is no longer used

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=wesm) / @wesm
**Assignee**: Wes McKinney](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=wesm) / @wesm
#### PRs and other links:
- [GitHub Pull Request #306

[2018-12-02 04:51] mkm177 commented on #3058
Ahh shoot... sorry for the typo.
This works from python prompt.

I fired up jupyter notebook from inside this environment and still get the same error messages as before.

[2018-12-02 05:00] wesm commented on #3058
Is jupyter installed in that environment? You might be picking up pyarrow from a different env

[2018-12-02 06:37] mkm177 commented on #3058
Yeah installing jupyter manually in the environment solved it.
I also found a number of other versions of pyarrow oldest being version 0.9 on the box. How that version got installed is a mystery, since I have only being playing with arrow for a week, and have always used conda environments for installs.

[2018-12-02 14:51] #3058 closed

[2018-12-03 03:44] asfimport commented on #42864
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1467?#comment-16706633) / @wesm:
Issue resolved by pull request 3069
<https://github.com/apache/arrow/pull/3069>

[2018-12-03 03:44] #42864 closed

[2018-12-03 23:22] asfimport opened #42865 "[C++][Parquet] onsolidate RecordReader, ColumnReader code paths"
The record-delimiting logic is central to reading nested data from columns. When `RecordReader` was created, I duplicated quite a bit of logic from `column_reader.h`, and never got around to refactoring further. We'll have to be careful about preserving backwards compatibility for flat column reads, though

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=we

[2018-12-03 23:35] asfimport opened #42866 "[C++][Parquet] DefinitionLevelsToBitmap can overwrite prior decoded data"
Bug exposed in ARROW-3930

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=wesm) / @wesm
**Assignee**: Wes McKinney](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=wesm) / @wesm
#### PRs and other links:
- [GitHub Pull Request #3080](https://github.com/apache/arrow/pull/3080)

<sub>**Note**: *This issue was originally created as [PARQUET-1469](

[2018-12-03 23:36] asfimport commented on #42866
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1469?#comment-16707983) / @wesm:
This is only likely to impact people reading files with the Arrow-related code paths

[2018-12-04 00:49] dakoner opened #3081 "pyarrow segfault reading Parquet files from GNOMAD"
I am getting segfault trying to run a basic program Ubuntu 18.04 VM (AWS).  Error also occurs out of box on Mac OS X.

$ sudo snap install --classic google-cloud-sdk
$ gsutil cp gs://gnomad-public/release/2.0.2/vds/exomes/gnomad.exomes.r2.0.2.sites.vds/rdd.parquet/part-r-00000-31fcf9bd-682f-4c20-bbe5-b0bd08699104.snappy.parquet .
$ conda install pyarrow
$ python test.py
Segmentation fault (core du

[2018-12-04 00:54] wesm commented on #3081
Can you please open a JIRA issue? Thanks

[2018-12-04 01:11] asfimport commented on #42866
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1469?#comment-16708043) / @wesm:
Issue resolved by pull request 3080
<https://github.com/apache/arrow/pull/3080>

[2018-12-04 01:11] #42866 closed

[2018-12-04 02:15] dakoner commented on #3081
Done: https://issues.apache.org/jira/browse/ARROW-3933

[2018-12-04 02:15] #3081 closed