[2018-12-04 17:38] gwerbin commented on #2485
I just got this same error. Would it at least be possible to indicate in the error message which column is the problematic one?

[2018-12-04 17:40] wesm commented on #2485
Let's continue discussion on JIRA

[2018-12-05 05:02] rajeshwar-nu opened #3099 "parquet cpp - improve examples"
It would be a great help to have examples of using parquet arrow high-level API for the following 2 cases

- Storing nested data types (storing nested data types is touted as major merit of parquet, so I think this case should be included as an example). Not sure if parquet arrow cpp supports this case as of yet
- Buffered or Batched writes to parquet file. Parquet is meant to be used for large am

[2018-12-05 13:34] wesm commented on #3099
Can you please open JIRA isuues to propose changes / additions?

[2018-12-06 04:49] asfimport opened #42867 "[C++][Parquet] Out of bounds access in statistics UpdateSpaced when writing optional list with null list slots"
Bug that arose in https://github.com/apache/arrow/pull/3074

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=wesm) / @wesm
**Assignee**: Wes McKinney](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=wesm) / @wesm
#### PRs and other links:
- [GitHub Pull Request #3114](https://github.com/apache/arrow/pull/3114)

<sub>**Note**: *This issue was ori

[2018-12-06 07:29] asfimport opened #20554 "[Python] query distinct values of a given partition from a ParquetDataset"
Right now the values of a given partition from a `ParquetDataset` is buried inside `ParquetDataset.pieces`, a bit inconvenient for the user to dig out this information. A helper function/method to perform this task in `ParquetDataset` class would be very helpful for the users.

A pure personal opinion on the name of this method: `ParquetDataset.select_distinct()` with partition_name as the positio

[2018-12-06 08:41] asfimport opened #42876 "[C++][Parquet] parquet cpp - improve examples"
It would be a great to have examples of using parquet arrow high-level API for the following 2 cases
- Storing nested data types (storing nested data types is touted as major merit of parquet, so I think this case should be included as an example). Ideally, an example of how to use `arrow::StructArray` nested with several primities types, list types and other nested types would cover every case of

[2018-12-06 09:18] rajeshwar-nu commented on #3099
Created https://issues.apache.org/jira/browse/ARROW-3949

[2018-12-06 09:33] asfimport commented on #42835
[Rajeshwar Agrawal](https://issues.apache.org/jira/browse/PARQUET-1352?#comment-16711196):
Any updates regarding this?

[2018-12-06 14:37] #3099 closed

[2018-12-06 18:36] asfimport commented on #42835
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1352?#comment-16711838) / @wesm:
The issue is still open. Not going to get done in 2018 (I would guess)

[2018-12-06 20:26] asfimport commented on #42867
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1471?#comment-16711989) / @wesm:
Issue resolved by pull request 3114
<https://github.com/apache/arrow/pull/3114>

[2018-12-06 20:26] #42867 closed

[2018-12-07 02:13] bcc791 opened #3118 "How to create an array of timestamps in apache arrow?"
I am trying to save an array of timestamps in Apache arrow and subsequently save it to a parquet file.
Following the apache arrow C++ examples,  first I was trying to create a timestamp builder:

`arrow::TimestampBuilder builder;`

However, I get this error:

`error: no matching function for call to ‘arrow::NumericBuilder<arrow::TimestampType>::NumericBuilder()’`

Note that I was able to successfu

[2018-12-07 03:39] wesm commented on #3118
`TimestampBuilder` does not have a nullary constructor because `TimestampType` requires a unit parameter. Try

[code]

where `type` is a `shared_ptr<DataType>` produced by `arrow::timestamp`

[2018-12-07 03:39] #3118 closed

[2018-12-07 22:24] jimfulton opened #3123 "pyarrow.hdfs.connect fails silently"
I'm trying to connect to HDFS using libhdfs and Kerberos.

I have JAVA_HOME and HADOOP_HOME set and `pyarrow.hdfs.connect` sets CLASSPATH correctly.

My connect call looks like:

[code]

This doesn't error but the resulting connection can't do anything.  They either error like this:

[code]

Or swallow errors (e.g. `exists` returning `False`).

Note that `connect` errors if the host is wrong but d

[2018-12-07 22:35] jimfulton commented on #3123
Certainly.

[2018-12-07 22:35] #3123 closed

[2018-12-08 01:37] wesm commented on #2262
No It has not yet been implemented

[2018-12-09 17:43] wesm commented on #2262
@damache would anyone from IBM like to get involved with Parquet development? We could really use the help.

[2018-12-10 01:40] jeffwong-nflx opened #3140 "Cannot run make install for C++ library"
I am trying to run the R package for arrow, which requires building the cpp files from source. When I follow the instructions in the README, I get an error at the `make install` step.

My dev environment runs:
Ubuntu 16.04
gcc 5.4
cmake 3.5.1
zstd 1.3.2
[code]

Error:

[code]

[2018-12-10 01:48] wesm commented on #3140
Can you please show the configure log file as described in the error message

[2018-12-10 01:50] jeffwong-nflx commented on #3140
`cat /data/arrow/cpp/debug/zstd_ep-prefix/src/zstd_ep-stamp/zstd_ep-configure-out.log`

[code]

[2018-12-10 01:52] wesm commented on #3140
What version of CMake do you have?

[2018-12-10 01:53] jeffwong-nflx commented on #3140
My dev environment runs:
Ubuntu 16.04
gcc 5.4
cmake 3.5.1
zstd 1.3.2

[2018-12-10 01:56] wesm commented on #3140
I renamed the issue since the problem isn't related to R. Please update to CMake >= 3.12 from PPA and see if the problem persists. We've unfortunately gotten a bit lazy about supporting older CMake versions (see https://issues.apache.org/jira/browse/ARROW-3449) and we run very new CMake in all of our CI systems

cc @kszucs @fsaintjacques @xhochy

[2018-12-10 01:58] wesm commented on #3140
According to https://askubuntu.com/questions/952429/is-there-are-good-ppa-for-cmake-backports/952929#952929 there is no good PPA for CMake but Kitware provides binaries for recent versions. You can also install CMake with conda or pip

[2018-12-10 02:00] wesm commented on #3140
I see the issue, it's the SOURCE_SUBDIR option

https://gitlab.kitware.com/cmake/cmake/merge_requests/63

I'm not sure how easy this one is to work around on older CMake but having the C++ library fail to build out of the box on Ubuntu 16.04 isn't too great

[2018-12-10 02:40] jeffwong-nflx commented on #3140
An old cmake was definitely part of the problem. Installing cmake 3.12 got me farther in the make

Now I am seeing this error when building the .so file for R

[code]

Line 203 of `src/arrow/CMakeFiles/arrow_shared.dir/build.make` refers to

`@$(CMAKE_COMMAND) -E cmake_echo_color --switch=$(COLOR) --green --bold --progress-dir=/data/arrow/cpp/debug/CMakeFiles --progress-num=$(CMAKE_PROGRESS_1) "Li

[2018-12-10 02:49] wesm commented on #3140
Boost from the Ubuntu package manager is not configured for static linking. Passing `ARROW_BOOST_USE_SHARED=ON` should make this work

@romainfrancois I think it's best to not provide any C++ build instructions in the R README as it may be hard to provide consistent information. On Linux distributions, `ARROW_BOOST_USE_SHARED=OFF` won't work in a lot of cases. We should consolidate C++ build instr

[2018-12-10 02:50] kou commented on #3140
Umm. It's strange that zstd is built without `-DARROW_WITH_ZSTD=ON` because I disabled Zstandard by default for old CMake: https://github.com/apache/arrow/pull/2970

You can't use the system Boost with `-DARROW_BOOST_USE_SHARED=OFF`. If you need to use the option, you need to use `DARROW_BOOST_VENDORED=ON`. It builds Boost for Apache Arrow C++.

[2018-12-10 02:53] wesm commented on #3140
Ah thanks you are right @kou that ZSTD should be disabled by default for CMake < 3.7, that is strange

[2018-12-10 03:44] jeffwong-nflx commented on #3140
@wesm thank you, that did the trick

[code]

For any other users trying out arrow, the solution to my build problem was

1) Upgrade cmake to at least 3.12

[code]

2) Get libboost

[code]

3) Get arrow

[code]

[2018-12-10 04:45] jeffwong-nflx opened #3143 "Reading partitioned datasets using RecordBatchFileReader into R"
I have a parquet dataset (which originally came from Hive) stored locally in the directory `data/`. It has 4 files in it

[code]

Using pyarrow I can read them via

`pq.read_table("data/foo1").to_pandas()`

I am trying to read them into R using `read_table("data/foo1")`, but I receive this error.

[code]

From debugging, I've traced it to this line https://github.com/apache/arrow/blob/d54a154263e1

[2018-12-10 05:40] kou commented on #3140
I got it.

`ARROW_WITH_ZSTD` is enabled forcedly when `ARROW_BUILD_TESTS` is `ON` or `ARROW_BUILD_BENCHMAKRS` is on. And `ARROW_BUILD_TESTS` is `ON` by default.

@wesm Can we disable building tests by default? If we enable building tests by default, users who use old CMake need to specify `-DARROW_BUILD_TESTS=OFF`.

[2018-12-10 12:52] fsaintjacques commented on #3140
Ok, I'll bump the priority of this one. I'll also pickup a UB16.04 image and try to compile from there.

[2018-12-10 12:57] wesm commented on #3140
See @kou comment -- there was a patch to restore CMake < 3.7 out of the box but there is a conflict with the build flags. Making Gandiva work on older CMake is not as high priority.

It might make sense to disable the tests by default since we are having even more non-developer users lately

[2018-12-10 13:03] wesm commented on #3140
I also opened https://issues.apache.org/jira/browse/ARROW-3984 which will help with reports of this nature

[2018-12-10 13:03] #3140 closed

[2018-12-10 13:09] wesm commented on #3004
See discussion in https://stackoverflow.com/a/45137452/776560

I opened https://issues.apache.org/jira/browse/ARROW-3985 to apply this advice

[2018-12-10 13:09] #3004 closed

[2018-12-10 19:15] SaeedAr opened #3151 "Pyarrow and asyncio"
I'm trying to use pyarrow in an asynchronous python code-base for processing stream of batches of data.
I found a sample [here](https://repl.it/@MicaelBergeron/pyarrow-asyncio) that basically wraps pyarrow RecordBatchStreamWriter with asyncio sleeps to make an asynchronous behavior. Is this the best possible way to use pyarrow streams asynchronously?

I also found some experimental support for asy

[2018-12-10 19:46] jeffwong-nflx commented on #3143
Will do, thanks

[2018-12-10 19:46] #3143 closed

[2018-12-11 02:49] zhijunfu opened #3154 "[Plasma] Remove unused interfaces for interacting with remote machine"
In legacy ray, interacting with remote plasma stores is done via plasma manager, which is part of ray, and plasma has a few interfaces to support it - namely Fetch() and Wait().
Currently the legacy ray code has already been removed, and the new raylet uses object manager to interface with remote machine, and these legacy plasma interfaces are no longer used. I think we could remove these legacy i

[2018-12-11 02:57] pcmoritz commented on #3154
Yes, if you are interested please go ahead and create a PR for this!

[2018-12-11 03:06] robertnishihara commented on #3154
I think this is a good idea. The `fetch` and `wait` APIs were never really used by other plasma users so they most likely are not the right abstractions.

[2018-12-11 09:39] zhijunfu commented on #3154
cool. I can take this:)

[2018-12-11 22:49] wesm commented on #3151
I don't see why not. Would you like to open some JIRA issues proposing changes to the library to provide asyncio support?

[2018-12-13 04:35] pcmoritz commented on #3154
Great, thanks! Can you create a JIRA here: https://issues.apache.org/jira/projects/ARROW?

[2018-12-13 06:00] zhijunfu commented on #3154
@pcmoritz sure.  https://issues.apache.org/jira/browse/ARROW-4015

[2018-12-13 14:44] zilder opened #3169 "[C++] Read nested structs"
Hi,

I've been trying to read `map <int32, int32>` from parquet file using `RowGroupReader::ReadTable` and got an error:
[code]
As I understand map is encoded as a list of structs of key-value pairs. Is there currently any way I can read this kind of data layout using `parquet-cpp`?

[2018-12-13 15:00] wesm commented on #3169
Not yet. The work will be done I would guess sometime next year https://issues.apache.org/jira/browse/ARROW-1644

[2018-12-13 15:00] #3169 closed

[2018-12-13 15:51] #3154 closed

[2018-12-13 20:14] wesm commented on #3143
Bumping this thread -- I might have missed it but can you open an issue? Thanks!

[2018-12-13 20:14] wesm commented on #3143
cc @romainfrancois -- can you look into this?

[2018-12-14 23:02] ismurray opened #3175 "red-arrow interface for FileOutputStream doesn't respect append=True"
It seems that the PR (#1978) that resolved Issue #2018 has not cascaded down through the existing ruby interface.

I've been experimenting with variations of the `write-file.rb` examples, but passing in the append flag as true  (`Arrow::FileOutputStream.open("/tmp/file.arrow", true)`) still results in overwriting the file, and trying the newer interface using truncate and append flags throws `Argu

[2018-12-14 23:08] wesm commented on #3175
Can you open a JIRA issue for this? I am sure that @kou or @shiro615 will be glad to have a look

[2018-12-15 00:10] wesm commented on #3175
Thanks

[2018-12-15 00:10] #3175 closed

[2018-12-16 11:49] fj-sanchez opened #3194 "ARROW-4090: [Python] Table.flatten() doesn't work recursively"
It seems that the pyarrow.Table.flatten() function is not working recursively nor providing a parameter to do it.
[code]
 output:

[code]

[2018-12-16 13:58] theseusyang opened #3195 "Can arrow support graph data structure by developing plugin?"
Hi All,

Can arrow support graph data structure by developing plugin? like neo4j to store some graph datasets.

[2018-12-17 15:49] dazzag24 opened #3203 "How to append to parquet file periodically and read intermediate data - pyarrow.lib.ArrowIOError: Invalid parquet file. Corrupt footer."
I'm adding new data to a parquet file every 60 seconds using this code:
[code]
This is working fine and the file grows every 60 seconds.
However unless I force the loop to exit I am unable to use the parquet file.  In a separate terminal I try to access the parquet file using this code:
[code]
which results in this error:
[code]

Is there a way to achieve this?
I'm assuming that if I call `writer.

[2018-12-17 16:14] wesm commented on #3203
Can you write to the mailing list?

[2018-12-17 16:30] dazzag24 commented on #3203
Sorry, which mailing list is that?

[2018-12-17 16:33] wesm commented on #3203
Either user@arrow.apache.org or dev@arrow.apache.org

[2018-12-17 20:30] wesm commented on #3194
Can you open a JIRA with a feature request? May involve adding an argument to `flatten`

[2018-12-18 12:01] dazzag24 commented on #3203
Done

[2018-12-18 16:34] asfimport opened #20663 "[C++] RFC: standardize ArrayBuilder subclasses"
Each builder supports different and frequently differently named methods for appending. It should be possible to establish a more consistent convention, which would alleviate dev confusion and simplify generics.

For example, let all Builders be required to define at minimum:
- `Reserve(int64_t)`
- a nested type named `Scalar`, which is the canonical scalar appended to this builder. Append other t

[2018-12-18 19:51] fsaintjacques commented on #3203
I don't see any email?

[2018-12-18 19:52] wesm commented on #3203
I don't think I did either. @dazzag24 make sure to first subscribe to the mailing list you write to

[2018-12-18 20:00] dazzag24 commented on #3203
Ah I didn't subscribe..

On Tue, 18 Dec 2018, 19:52 Wes McKinney <notifications@github.com wrote:

[2018-12-18 20:10] BACtaki opened #3216 "./bootstrap.sh fails on Windows when ARROW_BOOST_VENDORED flag is set"
Need to add a check in arrow/cpp/cmake_modules/ThirdpartyToolchain.cmake to use .\bootstrap.bat (instead of ./bootstrap.sh) to be able to use vendored boost libs when compiling arrow on Windows. I would be more than happy to submit a patch with this fix.

[2018-12-18 21:57] wesm commented on #3216
There's an issue open about this, please feel free to submit a patch: https://issues.apache.org/jira/browse/ARROW-1324

[2018-12-18 21:57] #3216 closed

[2018-12-19 00:01] gsakkis opened #3219 "[pyarrow] schema validation and filters"
Currently [schema validation](https://github.com/apache/arrow/blob/758bd557584107cb336cbc3422744dacd93978af/python/pyarrow/parquet.py#L900) of `ParquetDataset` takes place before filtering. This may raise a `ValueError` if the schema is different in some dataset pieces, even if these pieces would be subsequently filtered out. I think validation should happen after filtering to prevent such spuriou

[2018-12-19 00:37] wesm commented on #3219
Can you please open a JIRA issue? Can you also clarify there where you are intending to do filtering?

[2018-12-19 08:34] gsakkis commented on #3219
Sure, opened https://issues.apache.org/jira/browse/ARROW-4076

[2018-12-19 15:22] mviallet opened #3223 "Can't reload a pandas dataframe containing a list of datetime.time"
Hello,

this simple script writes a panda dataframe with a list of datetime.time. However, constructing back the pandas dataframe fails.

I initially realised that when doing a pd.read_parquet('example.parquet'), which fails with the same error.

This is using
pyarrow 0.11.1
pandas 0.23.4

[code]

[2018-12-19 15:41] wesm commented on #3223
Can you open a JIRA issue for this? Thanks

[2018-12-20 17:49] fj-sanchez commented on #3194
Done: https://issues.apache.org/jira/browse/ARROW-4090

[2018-12-20 18:30] #3194 closed

[2018-12-21 00:39] asfimport opened #20689 "[C++] Preserve "ordered" metadata in some special cases in dictionary unification"
In the event that all dictionaries are prefixes of a common dictionary, and all have ordered=true (note: this is not the same thing as being sorted), the resulting unified dictionary can also have ordered=true

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/browse/ARROW-4096) / @wesm

<sub>**Note**: *This issue was originally created as [ARROW-4096](https://issues.apache.org/jira/brow

[2018-12-21 00:41] asfimport opened #20690 "[C++] Add function to "conform" a dictionary array to a target new dictionary"
Follow up work to ARROW-554.

Unifying multiple dictionary-encoded arrays is one use case. Another is rewriting a DictionaryArray to be based on another dictionary. For example, this would be used to implement Cast from one dictionary type to another.

This will need to be able to insert nulls where there are values that are not found in the target dictionary

see also discussion at https://github

[2018-12-21 05:21] asfimport opened #20692 "[Python] Pretty printing very large ChunkedArray objects can use unbounded memory"
In working on ARROW-2970, I have the following dataset:

[code]

The object `arrow_arr` has 129 chunks, each element of which is 1MB of binary. The repr for this object is over 600MB:

[code]

There's probably a number of failsafes we can implement to avoid badness in these pathological cases (which may not happen often, but given the kinds of bug reports we are seeing, people do have datasets tha

[2018-12-21 16:37] asfimport opened #42868 "[C++][Parquet] Unable to read data from parquet file generated with parquetjs"
See attached file, when I debug:

`% ./parquet-reader feed1kMicros.parquet`

I see that the `scanner->HasNext()` always returns false.

**Reporter**: [Hatem Helal](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=hatem) / @hatemhelal
**Assignee**: Rylan Dmello](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=rdmello) / @rdmello
#### Original Issue Attachments:
- [feeds1kMicr

[2018-12-21 16:40] asfimport commented on #42868
[Hatem Helal](https://issues.apache.org/jira/browse/PARQUET-1482?#comment-16726884) / @hatemhelal:
I think this is a problem in parquet-cpp since I've confirmed that parquet-tools can read this file.

[2018-12-26 07:24] kwangyh opened #3262 "arrow query questions"
Hi ,I want to use np.where() in arrow array ,but this does not work ,can you give me some suggestion?

[2018-12-26 14:33] wesm commented on #3262
This is not implemented yet. There are various issues open related to filtering, see e.g. https://issues.apache.org/jira/browse/ARROW-1558. We would welcome some help

[2018-12-26 14:33] #3262 closed

[2018-12-27 15:54] asfimport commented on #42257
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-474?#comment-16729683) / @wesm:
This will be resolved by ARROW-1422 (the built-in IO interfaces are threadsafe, otherwise thread-safety is the responsibility of the implementation)

[2018-12-27 19:16] jlapacik opened #3270 "[Go] Slicing a binary array"
When slicing a binary array, the backing Go slice appears to not get re-sliced. For instance, given a binary array `arr` built from the following Go slice:

    []string{"a", "b", "c", "d", "e", "f", "g", "h", "i", "j"}

After slicing using `array.NewSliceData`:

    newSlice := array.NewSliceData(arr.Data(), int64(5), int64(10))

The following code:

[code]

Prints:

[code]

I expected:

[code]

[2018-12-27 21:54] jlapacik opened #3273 "[Go] Slicing a boolean array"
When accessing a boolean array, the offset of the underlying data buffer is not used, hence the behavior of slicing is incorrect. For example, given a boolean array `arr` built from the following go slice:

    []bool{true, true, false, false, false}

After slicing using `array.NewSliceData`:

    newSlice := array.NewSliceData(arr.Data(), int64(2), int64(5))

The following code:

[code]

Prints:

[2018-12-28 06:32] lmeyerov opened #3280 "[Python] from_pandas fails on mixed types"
I'm seeing variants of this elsewhere (e.g., https://github.com/wesm/feather/issues/349 ) --

Not all Pandas tables coerce to Arrow tables, and when they fail, not in a way that is conducive to automation:

Sample:

[code]

I would have expected behaviors more like the following:

- Coerce `toString` by default, with a default-off option to disallow toString coercions <-- my preference

- Provide

[2018-12-28 14:38] xhochy commented on #3280
This is definitely an issue people are facing often but I would really like to solve this with the latter two options. Implicit conversion is nice on a first-use basis but error-prone once you want to use this in a production-like setting. There you want to get errors instead of silent coercion on mixed types. Detecting failure due to implicit behaviours instead of explicit failures is rather hard

[2018-12-29 00:11] asfimport opened #20719 "[Python] When converting from Pandas, coerce mixed columns to String"
Continuing <https://github.com/apache/arrow/issues/3280> 

 

===

 

I'm seeing variants of this elsewhere (e.g., [wesm/feather#349](https://github.com/wesm/feather/issues/349) ) –

Not all Pandas tables coerce to Arrow tables, and when they fail, not in a way that is conducive to automation:

Sample:

`mixed_df = pd.DataFrame(\{'mixed': [1, 'b']}) pa.Table.from_pandas(mixed_df) => ArrowInvalid:

[2018-12-29 00:13] lmeyerov commented on #3280
Yep! https://issues.apache.org/jira/browse/ARROW-4131

I hear you on serving both direct users & framework devs, and cases like that, recommend defaults that veer to the greater population, and make sure overridable + machine-readable for the advanced folks. (Speaking as a team who'll be using both modes.)

[2018-12-30 13:04] kszucs commented on #3223
https://issues.apache.org/jira/browse/ARROW-4135

[2018-12-31 23:19] #3273 closed

[2019-01-01 10:17] fayeshine opened #3292 "python plasma store ArrowCapacityError"
[code]

[2019-01-01 23:52] asfimport opened #20730 "[Java] Arrow-to-JDBC"
ARROW-1780 reads a query from a JDBC data source and converts the ResultSet to an Arrow VectorSchemaRoot.  However, there is no built-in adapter for writing an Arrow VectorSchemaRoot back to the database.

ARROW-3966 adds JDBC field metadata:
- The Catalog Name
- The Table Name
- The Field Name
- The Field Type

  We can use this information to ask for the field information from the database via t

[2019-01-02 16:17] wesm commented on #3292
Can you provide a reproducible example?

[2019-01-02 16:41] dmadeka opened #3296 "Writing StructArrays"
Hi there,

Im trying to write a map type into parquet using a StructArray, but there doesnt seem to be an obvious way to do it. Im not sure what the roadmap is for writing nested structures into parquet - but Id love to help!

Dhruv

[2019-01-02 16:44] wesm commented on #3296
Let's discuss on the mailing list?

Some related JIRAs

* https://issues.apache.org/jira/browse/ARROW-1644
* https://issues.apache.org/jira/browse/ARROW-1207

[2019-01-02 16:44] #3296 closed

[2019-01-03 17:20] asfimport commented on #42868
[Hatem Helal](https://issues.apache.org/jira/browse/PARQUET-1482?#comment-16733248) / @hatemhelal:
@wesm, my colleague @rdmello  is working on a fix for this.  Could you help us out by adding him as a contributor on this project?  Thanks!

[2019-01-03 17:35] asfimport commented on #42868
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1482?#comment-16733266) / @wesm:
Done

[2019-01-04 21:17] asfimport commented on #42517
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-690?#comment-16734574) / @wesm:
Issue resolved by pull request 3268
<https://github.com/apache/arrow/pull/3268>

[2019-01-04 21:17] #42517 closed

[2019-01-06 19:05] smamessier opened #3323 "Parquet build instructions"
It looks like the instructions to build parquet from this repo don't work out of the box.
For example, `flex` and `bison` are missing. Is there a plan to also download and make these dependencies or is it expected from users to install those on their system?

[2019-01-06 19:36] wesm commented on #3323
Yes, these are system dependencies. Can you open a JIRA issue about properly documenting this? Thanks

[2019-01-07 09:04] asfimport opened #20759 "[C++/Python] Human readable arrow schema comparison"
When working with arrow schemas it would be helpful to have a human readable representation of the diff between two schemas.

This could be either exposed as a function returning a string/diff object or via a function raising an Exception with this information.

For instance:
[code]
 

**Reporter**: [Florian Jetter](https://issues.apache.org/jira/browse/ARROW-4176) / @fjetter

<sub>**Note**: *This

[2019-01-07 19:24] matthsims opened #3335 "ArrowIOError on file not found"
Is there a reason `ArrowIOError` is raised instead of `FileNotFoundError`, when a file is not found? There's really no good reason to force users to import (potentially downstream) libraries to catch an error that has a built-in analog.

For example, using pandas & feather-format:
[code]
[code]

[2019-01-10 06:29] asfimport opened #20802 "[C++] Support equality comparison between COO and CSX sparse tensors in SparseTensorEquals"
Currently SparseTensorEquals always returns false when it gets COO and CSX sparse tensors.

It should support comparing the items in the sparse tensors.

**Reporter**: [Kenta Murata](https://issues.apache.org/jira/browse/ARROW-4222) / @mrkn
**Watchers**: [Rok Mihevc](https://issues.apache.org/jira/browse/ARROW-4222) / @rok

<sub>**Note**: *This issue was originally created as [ARROW-4222](https://

[2019-01-10 07:17] rcoreilly opened #3365 "[Go] Make a separate tensor.Shape struct?"
I will be using arrow tensors for input / output to my neural network simulation.  It would be convenient to be able to just use the same code in tensor.tensorBase that manages shape, strides & names and computes offset, for managing my own struct array for the units in the layers in my network.  If all that code was simply packaged in a Shape struct that tensorBase anonymously embedded, that woul

[2019-01-10 07:39] rcoreilly commented on #3365
oops -- in copying the existing code for the time being, I now see that you're computing strides at the byte level, not the element level, so this is not actually usable as an abstract Shape struct.  Presumably there is a good reason for doing it this way, but obviously in the offset computation it does introduce an additional divide operation -- seems like it might be more efficient to do it in t

[2019-01-10 16:40] balaklava opened #3371 "python pyarrow.lib.ArrowNotImplementedError: lists with structs are not supported."
Hello. I cannot read a parquet file on a local file system and I have the following error: pyarrow.lib.ArrowNotImplementedError: lists with structs are not supported. I use Ubuntu. It would be nice, if somebody could help with it.

[2019-01-10 16:44] wesm commented on #3371
This is https://issues.apache.org/jira/browse/ARROW-1644.

[2019-01-10 16:44] #3371 closed

[2019-01-11 23:49] mvilim opened #3384 "[C++] Seg fault when running unit tests on fresh Arch Linux install"
First, let me say I appreciate all the work that has been put into this project. I have been following it with great interest and recently decided to include it in one of my projects.

However, I have run into an issue with a segmentation fault when trying to run the C++ unit tests (which previously worked for me). This issue appears to be something specific to my system (I am running Arch Linux).

[2019-01-12 00:50] wesm commented on #3384
Can you open a JIRA issue and provide the complete Dockerfile?

[2019-01-12 02:21] mvilim commented on #3384
I have opened [ARROW-4242](https://issues.apache.org/jira/browse/ARROW-4242). The Dockerfile listed above is already complete, but I have attached it to the JIRA as well.

[2019-01-12 03:00] cHYzZQo opened #3386 "R and -DARROW_TENSORFLOW=ON"
I'm trying to build libarrow for use with both R and python. I'd like to enable -DARROW_TENSORFLOW when building but when I do that the R package won't build and gives errors about missing symbols.

I'm guessing it's because the R package isn't setup to use the old GLIBCXX ABI that building with tensorflow requires. Is there a way to get it to build in this way?

[2019-01-13 18:44] REASY opened #3391 "Unable to run plasma_store on Windows OS"
I'm trying to run `plasma_store`  on `Microsoft Windows [Version 10.0.17134.523] x64`, but it fails with next error:
[code]
[Process Monitor](https://docs.microsoft.com/en-us/sysinternals/downloads/procmon) shows that it looks for the files `C:\Users\User\Envs\py_arrow\Lib\site-packages\pyarrow\plasma_store_server.exe`, but can't find it (yes, I don't have that file on that path):
![image](https:/

[2019-01-13 19:15] pcmoritz commented on #3391
Hey Reasy,

Thanks for getting in touch! Plasma is unfortunately not supported in
Windows at the moment. Contributions are welcome in this direction, the
main challenges in porting it would be:

- Port the socket code for communication between processes to Windows
- Making sure the event loop works in Windows, we are using ae from redis
- Implement a way to ship the shared memory files between pro

[2019-01-13 19:38] wesm commented on #3391
I didn't find an issue about windows support for plasma so I opened

https://issues.apache.org/jira/browse/ARROW-4248

[2019-01-13 19:38] #3391 closed

[2019-01-13 20:34] mehrdadn commented on #3391
I think @pcmoritz hit all the main points that I can remember... but it's been a while since I've looked at this; there might be other issues I'm unaware of or not remembering. This link may (or may not) be helpful: https://github.com/ray-project/ray/issues/631

[2019-01-13 23:18] wesm commented on #3386
The `ARROW_TENSORFLOW` option does not do anything special for R at the moment, but it does set some ABI flags which won't work in your platform: https://github.com/apache/arrow/blob/master/cpp/CMakeLists.txt#L507.

Can you open a JIRA issue and describe what you are trying to do with R and TensorFlow and Arrow together?

[2019-01-14 11:16] apiszcz opened #3394 "0.3.1 FutureWarning: .labels was deprecated in version 0.24.0."
feather with Pandas 0.24rc1
[code]

[2019-01-14 12:39] xhochy commented on #3394
This has already been fixed with https://github.com/apache/arrow/pull/3120 and will be part of `pyarrow==0.12`

[2019-01-14 12:39] #3394 closed

[2019-01-15 00:55] cHYzZQo commented on #3386
I'm not trying to do anything with tensorflow from R specifically. What I am trying to do is build a libarrow that I can build both my python and my R packages against without losing the python / arrow / tensorflow integration.

[2019-01-15 02:34] crboth opened #3400 "Is a bit width of zero supported for Rle/Bp encoding of dictionary indices?"
I'm designing a custom parquet decoder and some of the generated test data I'm working with is giving me trouble.
The page data itself is:
`0200 0000 5801 0058`
aka Definition Section of 2 bytes, `5801`
followed by the RLE_DICTIONARY bit width of 0,
followed by a VLQ int encoding the RLE count, (0x58 => 44) but without any data following the VLQ

I was wondering if this was an explicitly supported

[2019-01-15 05:08] wesm commented on #3386
I see. You'll have to propagate the compilation flags https://github.com/apache/arrow/blob/master/cpp/CMakeLists.txt#L508 when building the R package

[2019-01-15 14:39] xhochy commented on #3400
@crboth This question is better asked on the parquet mailing list dev@parquet.apache.org (subscribe first by mailing to dev-subscribe@parquet.apache.org).

[2019-01-15 14:39] #3400 closed

[2019-01-15 22:58] cHYzZQo commented on #3386
Makes sense, opened #3409 to make this a config var for the R package

[2019-01-15 22:58] #3386 closed

[2019-01-16 06:33] trxcllnt commented on #3195
Hi @theseusyang, we discussed this [on the mailing list](http://mail-archives.apache.org/mod_mbox/arrow-dev/201806.mbox/%3CCAJPUwMA-U34y6WgkfNNhLyarF5O%3DWXKVeDY7rw2yhycMcsEwXA%40mail.gmail.com%3E) briefly last summer, but I've been too busy to pick it back up again. I would also like to eventually see a native Graph Message type in Arrow, especially if we can align with [native format](https://gi

[2019-01-16 06:41] lmeyerov commented on #3195
In addition, the neo4j folks have expressed interest here. For an intuition, I believe they have been also doing things like neo4j<>spark (graphx?), which makes this even more natural.

There seems to be questions around physical data rep. There are different graph formats optimized for different uses: CSR, triples, property graphs, etc. One discussion was supporting several, and compute envs can

[2019-01-16 15:52] wesm commented on #3195
Are there any JIRA issues about this?

[2019-01-18 12:09] zilder opened #3424 "[C++] Can't access parquet statistics on binary columns"
Hi,

I'm trying to use per-column statistics (min/max values) to filter out row groups while reading parquet file. But I don't see statistics built for binary columns. I noticed that `ApplicationVersion::HasCorrectStatistics()` discards statistics that have sort order `UNSIGNED` and haven't been created by `parquet-cpp`. As I understand there used to be some issues in `parquet-mr` before. But do t

[2019-01-18 16:04] asfimport opened #20866 "[Release] Add script to test release verification script against master branch"
This should enable us to find problems with the verification script well before releases happen.

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/browse/ARROW-4292) / @wesm

<sub>**Note**: *This issue was originally created as [ARROW-4292](https://issues.apache.org/jira/browse/ARROW-4292). Please see the [migration documentation](https://github.com/apache/arrow/issues/14542) for furthe

[2019-01-18 16:33] sumerman commented on #3424
AFAICT this was a year ago https://github.com/apache/parquet-mr/commit/c6764c4a0848abf1d581e22df8b33e28ee9f2ced

[2019-01-18 16:36] wesm commented on #3424
Can you please open a JIRA issue? @majetideepak worked on this so should be able to help

[2019-01-18 16:42] sumerman commented on #3424
Ok. Which one of the two? Arrow or Parquet?

[2019-01-18 16:52] asfimport opened #42869 "[C++][Parquet] an't access parquet statistics on binary columns"
Hi,

I'm trying to use per-column statistics (min/max values) to filter out row groups while reading parquet file. But I don't see statistics built for binary columns. I noticed that `ApplicationVersion::HasCorrectStatistics()` discards statistics that have sort order `UNSIGNED and haven't been created by parquet-cpp`. As I understand there used to be some issues in `parquet-mr` before. But do the

[2019-01-18 16:59] zilder commented on #3424
Created an issue in Arrow project:
https://issues.apache.org/jira/browse/ARROW-4293

[2019-01-18 18:25] asfimport commented on #42869
[Deepak Majeti](https://issues.apache.org/jira/browse/PARQUET-1494?#comment-16746555) / @majetideepak:
This should be a Parquet JIRA. @wesm Can we move this Jira to the Parquet project?

`HasCorrectStatistics()` has to be updated to accept all statistics written by parquet-mr 1.10.0

parquet-mr implemented the new fixed min-max statistics in the following Jira that went into the 1.10.0 release

ht

[2019-01-18 19:55] wesm commented on #3424
This should be in PARQUET. I'll move the issue

[2019-01-18 19:55] #3424 closed

[2019-01-18 19:58] wesm commented on #3424
https://issues.apache.org/jira/browse/PARQUET-1494

[2019-01-21 10:45] asfimport commented on #42869
[Ildar](https://issues.apache.org/jira/browse/PARQUET-1494?#comment-16747842) / @zilder:
I've created a pull request for this issue: https://github.com/apache/arrow/pull/3441

[2019-01-21 13:30] fj-sanchez opened #3444 "[Python] Regression on pq.ParquetWriter incorrectly handling source string"
In the latest changes to filesystem.py some new functions have been added to check the source string when calling pq.ParquetWriter. With the current implementation some assumptions are done about the format of the string which means that if the string is provided following some of these patterns it will be automatically split/formatted and changed to something else.

To give you a specific example

[2019-01-21 14:31] wesm commented on #3444
Can you open a JIRA issues? There were no unit tests for this, so we'll have to add some

[2019-01-21 14:40] fj-sanchez commented on #3444
Should it be created as bug, test or improvement?

[2019-01-21 14:51] wesm commented on #3444
Seems like a bug to me, so that is a fine category

[2019-01-21 15:00] fj-sanchez commented on #3444
Done
https://jira.apache.org/jira/browse/ARROW-4311

[2019-01-22 05:34] asfimport opened #20889 "[Benchmarking] Performance Benchmarking Dashboard"
This is parent task to serve as a starting point for all performance benchmarking dashboard related tasks.

Original discussion started here: <https://lists.apache.org/thread.html/278e573445c83bbd8ee66474b9356c5291a16f6b6eca11dbbe4b473a@%3Cdev.arrow.apache.org%3E>

 

 

**Reporter**: [Areg Melik-Adamyan](https://issues.apache.org/jira/browse/ARROW-4317) / @aregm
#### Related issues:
- [[Benchmark

[2019-01-22 12:03] ccakes opened #3455 "[Rust] Writing optional fields"
I'm trying to write a dataset with optional fields but I can't figure out a way to do it using the existing API. While the only write methods are per-row group, I can't see a way to specify nulls via `ColumnWriterImpl.write_batch()`

Am I missing something obvious or is this something that isn't well supported until the Row writer implementation? I tried looking at the other lang libraries for ins

[2019-01-22 16:53] paddyhoran commented on #3455
cc @sunchao

[2019-01-22 21:11] wesm commented on #2883
Please update to 0.12.0 and let us know if it still doesn't work

[2019-01-23 08:50] assassin5615 opened #3463 "parquet build error"
Downloaded Arrow and followed the build instruction but got following error.

it says that thrift has been downloaded and installed. but only bin directory is installed. library is not built.

[2019-01-23 16:11] wesm commented on #3463
Can you open a JIRA issue and provide more complete description of your environment and how you invoked the build system?

[2019-01-23 17:15] fj-sanchez opened #3465 "Table to pandas conversion fails for list of bool"
When converting a Table with a list of bool to pandas it doesn't work and throws an error. For list of int is working correctly.

[code]

[2019-01-23 19:49] asfimport commented on #42869
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1494?#comment-16750388) / @wesm:
Issue resolved by pull request 3441
<https://github.com/apache/arrow/pull/3441>

[2019-01-23 19:49] #42869 closed

[2019-01-23 20:08] wesm commented on #3465
Can you please open a JIRA issue with the feature request / bug report? Thank you

[2019-01-24 01:43] assassin5615 commented on #3463
ok, created a one at https://issues.apache.org/jira/browse/ARROW-4348

[2019-01-24 02:10] #3463 closed

[2019-01-24 02:10] #3444 closed

[2019-01-24 07:16] sunchao commented on #3455
@ccakes at the moment we don't have a high-level API for this yet, so you have to provide values, repetition levels, and definition levels. Please check [here](https://docs.rs/parquet/0.12.0/parquet/column/index.html) for how to use the API, and [this tutorial](https://blog.twitter.com/engineering/en_us/a/2013/dremel-made-simple-with-parquet.html) for how to specify nulls via definition levels.

I

[2019-01-24 14:20] mbrobbel opened #3476 "Bintray repository signature verification fails"
Installation of the packages using the Bintray repository (in a Ubuntu xenial container) as instructed [here](https://github.com/apache/arrow/blob/master/site/install.md#c-and-glib-c-packages-for-debian-gnulinux-ubuntu-and-centos) fails for me:

[code]

[2019-01-24 14:49] kszucs commented on #3476
cc @kou

[2019-01-24 19:21] max-sixty opened #3479 "Creating an array from a pandas object column with mostly ints raises"
It looks like an object column with _mostly_ ints is interpreted as a column with all ints:

[code]

Tracking down the call within the pyarrow library:

[code]

- Is there a way, from the pandas API, of specifying the schema?
- Could pyarrow pass the pandas schema of the column vs (supposedly) reading it from the initial column values?

Thanks!

[2019-01-24 19:41] max-sixty commented on #3479
Thanks for the lightening-fast response @wesm

I was hoping that pyarrow could see that the column had an `object` type, and attempt to encode it as a string, rather than guessing based on the initial values. Is that reasonable?

[2019-01-24 19:50] TomAugspurger commented on #3479
Pandas doesn't currently pass a `schema` through. IIUC, we could add a `schema` argument to `to_parquet`, and pass it through at https://github.com/pandas-dev/pandas/blob/5761e359b65631db491349a65fc21d0da51dcc0f/pandas/io/parquet.py#L103-L113, with little effort.

That seems generally useful, but it wouldn't have helped with this exception right?

[2019-01-24 19:57] max-sixty commented on #3479
On the pandas / first question:

I think a user _could_ now pass `schema` as a kwarg to `to_parquet`, which would then be passed through here: https://github.com/pandas-dev/pandas/blob/5761e359b65631db491349a65fc21d0da51dcc0f/pandas/io/parquet.py#L113, (though an explicit arg may be slightly friendlier)

[2019-01-24 19:59] TomAugspurger commented on #3479
@max-sixty I thought that at first, but that `from_pandas_kwargs` is built internally. User-provided `kwargs` aren't passed there (they're sent to `write_table`.

[2019-01-24 21:00] max-sixty commented on #3479
Right, thanks @TomAugspurger

[2019-01-25 04:58] kou commented on #3476
Oh...
`signed-by` is available since APT 1.3: https://wiki.debian.org/DebianRepository/Format#Signed-By

Ubuntu 16.04 uses APT 1.2.24.

I'll consider how to fix it.

[2019-01-25 06:25] asfimport opened #42870 "[C++][Parquet] Enable reading from ByteArray and FixedLenByteArray decoders directly into arrow::BinaryBuilder or arrow::BinaryDictionaryBuilder"
Currently we are passing data through the `parquet::ByteArray` and `parquet::FixedLenByteArray`. I'm going to refactor the encoder/decoder classes to make them more extensible so we can avoid this intermediate layer

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=wesm) / @wesm
**Assignee**: Wes McKinney](https://issues.apache.org/jira/secure/ViewProfile.js

[2019-01-25 09:02] kou commented on #3476
@mbrobbel Could you open an issue for this case on JIRA? https://issues.apache.org/jira/projects/ARROW/issues

[2019-01-25 09:20] mbrobbel commented on #3476
https://issues.apache.org/jira/browse/ARROW-4368

[2019-01-25 09:20] #3476 closed

[2019-01-25 09:21] kou commented on #3476
Thanks!

[2019-01-25 11:40] fj-sanchez commented on #3465
Done https://jira.apache.org/jira/browse/ARROW-4370

[2019-01-26 05:40] pwais opened #3491 "parquet lz4 interop with spark appears broken"
Looks like a bug to me.  Here's a simple script:

[code]

Running it gives this error:
[code]

If we change `lz4` to `snappy` then the output is as expected:
[code]

There's clearly a disagreement here of some sort.  Since I believe Spark uses the official Java distro of Parquet, I'm inclined to report the issue here as a bug, though I could certainly understand if by now `Arrow` is regarded as HE

[2019-01-26 14:50] wesm commented on #3491
Can you open a JIRA issue about this?

LZ4 in parquet-cpp is broken, and has been for a while AFAIK. There was a discussion on the mailing list or JIRA as I recall

@xhochy @majetideepak we should disable LZ4 until we can run integration tests to check for compatibility. Thoughts?

[2019-01-26 14:54] xhochy commented on #3491
Yes, we should disable LZ4. I think the problem surfaced already some time ago that one of the implementation is using the framed format and the other one the non-framed and thus are incompatible.

[2019-01-26 15:05] majetideepak commented on #3491
+1. I also find the lack of compatibility checks among various writers disturbing. We hit into another (statistics) issue last week with a file written by the newer versions of Impala not being backward compatible with the parquet-cpp reader. Some details are the very bottom of this commit https://github.com/apache/impala/commit/9270346825b0bbc7708d458be076d7c26038edfc

[2019-01-27 04:13] rcoreilly commented on #3365
and, perhaps predictably, now that I've developed things further, there are requirements for my Shape that don't fit with arrow, so having it fully separate makes more sense.. closing.

[2019-01-27 04:13] #3365 closed

[2019-01-27 07:50] rcoreilly opened #3496 "[Go] tensor doesn't support access to Null bitmap data?"
It seems that the tensor interface does not provide access to the Null bitmap data in the underlying array.  The root cause appears to be that Data does not have the null bitmap data and associated IsNull / IsValid methods, and tensor only retains the Data and not the Array -- only the array has the actual null bitmap and associated methods.  So either keeping the array.Interface around or moving

[2019-01-27 07:54] rcoreilly opened #3497 "[Go] add DimNames() method to tensor Interface?"
It would be convenient to get access to the entire slice of dimension names via a DimNames() []string method, in addition to the existing DimName(i int) string method.

[2019-01-27 15:03] wesm commented on #3496
Can you please open a JIRA issue?

[2019-01-27 21:17] wesm commented on #3497
Can you please open a JIRA issue?

[2019-01-27 21:17] #3496 closed

[2019-01-27 21:18] wesm commented on #3497
I see now https://issues.apache.org/jira/browse/ARROW-4388

[2019-01-27 21:18] #3497 closed

[2019-01-27 21:19] wesm commented on #3491
Seems there are multiple JIRA issues that need to be associated with this

* One to disable LZ4 compression altogether in parquet-cpp
* Another to reconcile the differences (maybe there is one already)

Could someone make sure these issues are opened and then we can close this issue? Thanks

[2019-01-27 21:20] wesm commented on #3479
I'm closing this for now. If you have a well-scoped feature request can you please open a JIRA issue?

[2019-01-27 21:20] #3479 closed

[2019-01-27 21:20] #3465 closed

[2019-01-27 21:20] wesm commented on #3455
Can you open a JIRA for this, or otherwise close it?

[2019-01-27 21:20] wesm commented on #3335
Please open a JIRA issue if you would like to change something

[2019-01-27 21:20] #3335 closed

[2019-01-27 21:21] wesm commented on #3323
This is in https://github.com/apache/arrow/tree/master/cpp#system-setup now

[2019-01-27 21:21] #3323 closed

[2019-01-27 21:21] #3384 closed

[2019-01-27 21:21] #3195 closed

[2019-01-27 21:21] #3203 closed

[2019-01-27 22:33] camerondavison commented on #2358
Was this fixed? Why was it closed?

[2019-01-27 22:41] wesm commented on #2358
It's tracked in the ASF JIRA -- can you comment on ARROW-2797 or open a new JIRA if you need something different?

[2019-01-27 22:47] camerondavison commented on #2358
Ah. Okay. Just got excited that it was fixed. Got it. 👍

[2019-01-27 23:11] trxcllnt commented on #2656
I believe the original issue in this thread has been resolved by create-react-app updates. There's still a ][separate Webpack 4 bug](https://github.com/webpack/webpack/issues/8491) that causes webpack to incorrectly compile when a project has CommonJS and ESM side-by-side. Apparently it has been fixed in Webpack 5, but `create-react-app` is still on Webpack 4 [until Webpack 5 is out of alpha](http

[2019-01-28 02:25] asfimport opened #42871 "[C++][Parquet] Disable LZ4 codec"
As discussed in https://issues.apache.org/jira/browse/PARQUET-1241, the parquet-cpp's LZ4 codec is not compatible with Hadoop and parquet-mr. We must disable the codec until we resolve the compatibility issues.

**Reporter**: [Deepak Majeti](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=mdeepak) / @majetideepak
#### Related issues:
- [[C++] lz4 codec is not compatible with Hadoop Lz4

[2019-01-28 02:35] majetideepak commented on #3491
The LZ4 discussion is on this JIRA. https://issues.apache.org/jira/browse/PARQUET-1241
JIRA to disable LZ4 codec: https://issues.apache.org/jira/browse/PARQUET-1515

The JIRA https://issues.apache.org/jira/browse/PARQUET-1118 aims to build a corpus of files so that different Parquet implementations can validate. I think this is the easiest way to achieve compatibility.

[2019-01-28 14:32] #3491 closed

[2019-01-28 14:49] asfimport commented on #42871
[Antoine Pitrou](https://issues.apache.org/jira/browse/PARQUET-1515?#comment-16754055) / @pitrou:
The irony is that `fastparquet` switched to LZ4 block compression to ensure compatibility with `parquet-cpp`:

<https://github.com/dask/fastparquet/pull/315>

 

[2019-01-28 17:35] asfimport opened #15955 "[Docs] Docker documentation builds fail since the source directory is mounted as readonly"
[code]

https://travis-ci.org/kszucs/crossbow/builds/485348071

**Reporter**: [Krisztian Szucs](https://issues.apache.org/jira/browse/ARROW-4405) / @kszucs

<sub>**Note**: *This issue was originally created as [ARROW-4405](https://issues.apache.org/jira/browse/ARROW-4405). Please see the [migration documentation](https://github.com/apache/arrow/issues/14542) for further details.*</sub>

[2019-01-28 18:21] wesm commented on #2656
OK, if there is an action item or something to follow up on please open a JIRA issue. Closing this for now

[2019-01-28 18:21] #2656 closed

[2019-01-28 22:46] BradleyGrantham opened #3517 "[Python] pyarrow.hdfs.connect() failing"
`Python 2.7`
Trying to connect to hdfs using the below snippet. Using `hadoop-libhdfs`.
This is an error that is appearing in `v0.12.0`. It doesn't appear in `v0.11.1`.

[code]

From what I have read, it doesn't seem that `python2` support has been dropped but I know a lot of packages are doing that at the moment so apologies if I missed it.

Happy to open a JIRA ticket, just thought it safer to p

[2019-01-29 09:04] BradleyGrantham commented on #3517
Opened a JIRA ticket - https://issues.apache.org/jira/browse/ARROW-4413

I'll close the issue here

[2019-01-29 09:04] #3517 closed

[2019-01-29 15:33] zhijunfu opened #3523 "ARROW-4418: [Plasma] Replace event loop with boost::asio for plasma store"
It would be nice to move plasma store from current event loop to boost::asio to modernize the code, and more importantly to benefit from the functionalities provided by asio, which I think also provides opportunities for performance improvement.

What would you think? @pcmoritz @robertnishihara

[2019-01-29 16:28] asfimport opened #20981 "[Flight] Test Flight servers and clients with a generic gRPC services"
The Java implementation will fail to decode a schema message if the message also contains (empty) body buffers (see ArrowMessage.asSchema's precondition checks). However, clients using default Protobuf serialization will likely write an empty body buffer by default.

**Reporter**: [David Li](https://issues.apache.org/jira/browse/ARROW-4419) / @lidavidm
#### Related issues:
- [[Docs] Document how t

[2019-01-29 16:32] asfimport commented on #42870
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1508?#comment-16755178) / @wesm:
Issue resolved by pull request 3492
<https://github.com/apache/arrow/pull/3492>

[2019-01-29 16:32] #42870 closed

[2019-01-29 16:47] xhochy commented on #3523
@zhijunfu As there is already a JIRA issue for this, please discuss there.

[2019-01-29 16:47] #3523 closed

[2019-01-29 17:00] zhijunfu commented on #3523
@xhochy thanks. Could you kind share the related issue number?
I vaguely remembered there was a related one but I didn't find it in JIRA.

[2019-01-29 18:04] pitrou commented on #3523
Direct link to JIRA: https://issues.apache.org/jira/browse/ARROW-4418

[2019-01-29 21:13] asfimport opened #42872 "[C++][Parquet] Remove use of "extern template class" from parquet/column_reader.h"
These declarations are doing little to improve compile times, and they produce esoteric linking issues. Like parquet/encoding.h, I'll also refactor these classes into virtual interfaces and move the implementation into column_reader.cc

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=wesm) / @wesm
**Assignee**: Wes McKinney](https://issues.apache.org/jira/s

[2019-01-30 06:45] zhijunfu commented on #3523
Ok I got your point, I thought it was someone else created another JIRA issue earlier.

[2019-01-30 15:44] asfimport commented on #42872
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1519?#comment-16756242) / @wesm:
See macros in https://github.com/apache/arrow/blob/master/cpp/src/parquet/util/visibility.h#L57 used to work around differences between gcc, clang, and MSVC

"extern template class" also has the unfortunate effect of making template specializations trickier (they have to be declared BEFORE the use of "ext

[2019-01-30 15:45] asfimport commented on #42872
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1519?#comment-16756246) / @wesm:
Issue resolved by pull request 3525
<https://github.com/apache/arrow/pull/3525>

[2019-01-30 15:45] #42872 closed

[2019-01-31 12:51] tumido commented on #2624
@wesm, honestly, you've made my day! :slightly_smiling_face:

Thank you and the team for the all the work you do! :+1: :1st_place_medal: Hats off! :tophat: :womans_hat:

[2019-02-01 19:25] asfimport opened #21009 "[Packaging] Distribute in Fedora Repo"
Distribute Arrow in Fedora repo: 

<https://fedoraproject.org/wiki/New_package_process_for_existing_contributors>

Required to publish Arrow R package into CRAN.

**Reporter**: [Javier Luraschi](https://issues.apache.org/jira/browse/ARROW-4451) / @javierluraschi

<sub>**Note**: *This issue was originally created as [ARROW-4451](https://issues.apache.org/jira/browse/ARROW-4451). Please see the [mig

[2019-02-01 22:30] asfimport opened #42875 "[C++][Parquet] remove dependency on getopt in parquet tools"
**Reporter**: [Renat Valiullin](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=rip.nsk@gmail.com) / @rip-nsk
**Assignee**: Renat Valiullin](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=rip.nsk@gmail.com) / @rip-nsk
#### PRs and other links:
- [GitHub Pull Request #3545](https://github.com/apache/arrow/pull/3545)

<sub>**Note**: *This issue was originally created as [PAR

[2019-02-02 16:19] Riezebos opened #3546 "pyarrow: parquet datatype mapping for pandas object column"
## GitHub Issues for Apache Arrow
My question is a bit similar to https://github.com/apache/arrow/issues/2782, but I think the fix there doesn't apply here.

When writing a pandas df to parquet, it seems datatype mapping is inconsistent for columns with dtype `object`. Is this intended behavior? Is there a way to make mapping consistent with pandas dtype? Example below.

Using pyarrow 0.12. (Insta

[2019-02-03 23:36] wesm commented on #3546
@Riezebos pandas does not have "real" schemas, so in the case of `pt2` it seems that pyarrow defaults to INT32 in the absence of a better guess (when there are all nulls). You can pass `pt.schema` when calling `Table.from_pandas` to ensure the same schema is used in both cases

[2019-02-03 23:36] #3546 closed

[2019-02-04 14:59] asfimport opened #42873 "[C++][Parquet] Do not use "extern template class" with parquet::ColumnWriter"
As continued cleaning, similar to parquet::TypedColumnReader I will do similar refactoring for parquet::TypedColumnWriter, leaving the current public API for writing columns unchanged. This also makes symbol visibility less brittle

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=wesm) / @wesm
**Assignee**: Wes McKinney](https://issues.apache.org/jira/secur

[2019-02-04 21:07] asfimport opened #42874 "[C++][Parquet] Vectorize comparator interface"
The `parquet::Comparator` interface yields scalar virtual calls on the innermost loop. In addition to removing the usage of `PARQUET_TEMPLATE_EXPORT` as with other recent patches, I propose to refactor to a vector-based comparison to update the minimum and maximum elements in a single virtual call

cc @majetideepak @xhochy

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/secure/ViewPro

[2019-02-05 07:05] asfimport commented on #42874
[Uwe Korn](https://issues.apache.org/jira/browse/PARQUET-1523?#comment-16760517) / @xhochy:
This would probably benefit of arrow-compute kernel for vectorisation.

[2019-02-05 08:10] asfimport commented on #42875
[Micah Kornfield](https://issues.apache.org/jira/browse/PARQUET-1525?#comment-16760558) / @emkornfield:
I created https://issues.apache.org/jira/browse/PARQUET-1524 to track this instead since it seems like it is a parquet issue.

[2019-02-05 08:16] frutti93 opened #3561 "Drive letter removed when writing parquet file"
Hi everyone,

I encountered a problem while working with pyarrow: I am working on Windows 10. When I want to save a table using `pq.write_table(tab, r'E:\parquetfiles')`, I get the Error "No such file or directory".
After searching a bit, i found out that the drive letter is getting removed while parsing the `where` string, but I could not find a way solve my problem: I can write the files on my C

[2019-02-05 09:15] nevi-me commented on #3561
I can reproduce the behaviour, specifically:

`pa.write_table(dataframe, "D:/path")` ignores the drive name and defaults to C. In your case, it's looking for `C:/parquetfiles`.

I then tried writing to a non-existent drive, but to a path that exists on my C drive (`F:/Users/{myuser}/Desktop/file.parquet`), and this writes to the C drive.

Can you please open a JIRA (https://issues.apache.org/jira/

[2019-02-05 12:31] asfimport commented on #42874
[Deepak Majeti](https://issues.apache.org/jira/browse/PARQUET-1523?#comment-16760747) / @majetideepak:
I can work on this. I need to make some changes to the statistics API as well.

[2019-02-05 12:44] frutti93 commented on #3561
Thanks, just did:
[ARROW-4480](https://issues.apache.org/jira/browse/ARROW-4480)

As a workaround I now mounted my other harddrive as a folder on my C drive. This works, but does not resolve the core problem.

[2019-02-05 14:22] asfimport commented on #42873
[Uwe Korn](https://issues.apache.org/jira/browse/PARQUET-1521?#comment-16760855) / @xhochy:
Issue resolved by pull request 3551
<https://github.com/apache/arrow/pull/3551>

[2019-02-05 14:22] #42873 closed

[2019-02-05 15:27] asfimport commented on #42875
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1525?#comment-16760929) / @wesm:
You can Move issues. I'll go ahead and move this

[2019-02-05 15:54] asfimport commented on #42875
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1525?#comment-16760959) / @wesm:
Issue resolved by pull request 3545
<https://github.com/apache/arrow/pull/3545>

[2019-02-05 15:54] #42875 closed

[2019-02-05 17:36] asfimport commented on #42874
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1523?#comment-16761048) / @wesm:
OK. Do you want to try to remove the usages of "extern template class" while you are at it?

[2019-02-05 18:18] asfimport commented on #42874
[Deepak Majeti](https://issues.apache.org/jira/browse/PARQUET-1523?#comment-16761079) / @majetideepak:
Sure!

[2019-02-07 09:32] asfimport opened #21050 "[C++] Determine how we want to handle hashing of floating point edge cases"
We should document expected behavior or implement improvements to hashing floating point code:
1.  -0.0 and 0.0 (should these be collapsed to 0.0)
2. NaN (Should we reduce to a single canonical version).

**Reporter**: [Micah Kornfield](https://issues.apache.org/jira/browse/ARROW-4497) / @emkornfield

<sub>**Note**: *This issue was originally created as [ARROW-4497](https://issues.apache.org/jira/

[2019-02-07 11:25] DiegoRider opened #3580 "Memory leak reading parquet files with pyarrow"
I have many ~200MB files in a directory on hdfs. I'm trying to read them one by one and pick only the rows of data I am interested in, to not overload the memory in my machine. However I realized the memory of the downloaded datasets was not being freed. here is a simplified version of my code that still causes the error :

import pyarrow

hdfs = pyarrow.hdfs.connect()
files = hdfs.ls(path)
subdfs

[2019-02-07 11:33] DiegoRider commented on #3580
I am using pyarrow 0.11.1
and running my code in a jupyter notebook version 4.4.0

[2019-02-07 15:38] wesm commented on #3580
What about with pyarrow 0.12.0 (just released)? As discussed in http://arrow.apache.org/blog/2019/02/05/python-string-memory-0.12/, in pyarrow 0.11.1 and earlier, `to_pandas` can use an alarming amount of memory, so please try upgrading first.

Otherwise I would need a reproducible example to look at to be able to help you

[2019-02-08 12:31] DiegoRider commented on #3580
I'll try that, thanks. I did find a hack to fix it, by replacing
subdfs.append(subdf)
by
subdfs.append(subdf * 1).
I'm not sure how to give you a reproducible example, just thought you might want to know about this leak.

[2019-02-08 19:58] yogeshg opened #3594 "[Python] Error while creating a ParquetDataset on a path without '_common_dataset' but with an empty '_tempfile'"
I suspect that there's an error in this line of code:

https://github.com/apache/arrow/blob/master/python/pyarrow/parquet.py#L926

While validating schema in the initialisation of a `ParquetDataset`, we assume that if `_common_metadata` file does not exist, the schema should be inferred from the first piece of that dataset. The first piece, in my experience, could refer to a file named with an und

[2019-02-08 21:31] wesm commented on #3594
Can you open a JIRA issue?

[2019-02-08 21:38] yogeshg commented on #3594
Let's track this on Jira: https://issues.apache.org/jira/browse/ARROW-4516

[2019-02-08 22:06] #3594 closed

[2019-02-11 11:45] ratson opened #3605 "Writing dataset twice duplicate records"
I am not sure if this is a "feature" or a bug.
When writing dataset twice in same `root_path` is resulting duplicate records.

I have wrote [a test to demo this](https://github.com/ratson/bug-report/blob/parquet-dataset-rw/parquet_test.py#L27), where the last assertion should be passed but instead failed with 6 == 3.

The versions of dependencies are described in [Pipfile](https://github.com/ratso

[2019-02-11 13:40] xhochy commented on #3605
Yes, this is expected behaviour. When writing to a dataset, we write into files that have a freshly generated UUID as part of their filename. As UUID collisions are extremely unlikely, we always duplicate this data. When you want to update/delete/extend existing datasets, you need to write your own custom logic to deal with this. This logic could be as simple as deleting the existing dataset befor

[2019-02-11 14:29] ratson commented on #3605
If it is by design, then seems avoiding writing to the same path is simpler.
Is there any way to update part of the dataset (e.g. a single partition file) without writing all to new files? I would like to know if partial / incremental update to a dataset a bad idea.

[2019-02-11 14:36] xhochy commented on #3605
`partial / incremental update` is not a bad idea, it's just that you need some logic to know what's already in the dataset. This is the hard part.

[2019-02-11 15:01] ratson commented on #3605
@xhochy, thank you for the prompt reply.
Since I don't find any partial update example in the docs, I tried
https://github.com/ratson/bug-report/blob/parquet-dataset-partial-update/parquet_test.py#L20-L25
And it seems work, is using `pq.write_table` to update a dataset file directly won't cause problems?

[2019-02-11 15:03] xhochy commented on #3605
@ratson This will work. It might cause problems when your code/usecase gets more complicated, so as always, it's good to have a broad test suite ;)

[2019-02-11 15:06] ratson commented on #3605
Thanks, no more confusion.

[2019-02-11 15:06] #3605 closed

[2019-02-11 18:28] rip-nsk opened #3611 "Likely LICENSE.txt should be updated."
Should https://github.com/apache/parquet-cpp/blob/master/LICENSE.txt be merged with it?

[2019-02-12 08:01] dmadeka opened #3622 "PyArrow append row to an Array"
Is it possible to append a row to an Array (of arbitrary type) in a zero copy fashion?

Im thinking something along the lines of:

[code]

[2019-02-12 10:12] xhochy commented on #3622
Append in a zero-copy fashion to an Array is not possible as Arrow Arrays are immutable. We have `ArrayBuilder` classes in Arrow that support constructing arrays on an element-wise basis. They are not yet exposed to Python though: https://issues.apache.org/jira/browse/ARROW-3917

In general, zero-copy extension with pure Python objects will never be possible. Arrow is a language-independent in-mem

[2019-02-12 10:12] #3622 closed

[2019-02-12 10:13] xhochy commented on #3611
Yes, we should add https://github.com/apache/parquet-cpp/blob/642da055adf009652689b20e68a198cffb857651/LICENSE.txt#L204-L276 to the top-level `LICENSE.txt`. Can you make a JIRA/PR for this?

[2019-02-12 14:42] asfimport opened #21090 "[C++][Parquet] Denominate row group size in bytes (not in no of rows)"
Both the C++ [implementation of parquet writer for arrow](https://github.com/apache/arrow/blob/master/cpp/src/parquet/arrow/writer.cc#L1174) and the [Python code bound to it](https://github.com/apache/arrow/blob/master/python/pyarrow/_parquet.pyx#L911) appears denominated in the **number of rows** (without making it very explicit). Whereas:

(1) [The Apache parquet documentation](https://parquet.a

[2019-02-12 14:53] wesm commented on #3622
@dmadeka the way we build datasets without copying is using chunked arrays

[2019-02-12 14:57] wesm commented on #3611
Several entries in that file are no longer relevant (they weren't merged, or they're already reflected in the LICENSE)

[2019-02-12 16:58] asfimport opened #21093 "[C#] Extend Append/AppendRange in BinaryArray to support building rows"
This is a proposal to extend BinaryArray to provide the ability to call Append/AppendRange to grow list elements when building arrays, and to expose values in ArrowBuffer.Builder<T> through a property to facilitate algorithms that require introspecting the buffer data (sorting, filtering) when building an array.

**Example:**
[code]
 

This proposed change would add the concept of "current element

[2019-02-12 18:05] rip-nsk commented on #3611
https://issues.apache.org/jira/browse/ARROW-4546

[2019-02-12 22:41] asfimport opened #21096 "[C++] run-cmake-format.py is not supported on Windows"
I tried to fix it but no matter what option I pass for `--line-ending` to `cmake-format` it converts LF line endings to CRLF.

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/browse/ARROW-4548) / @wesm

<sub>**Note**: *This issue was originally created as [ARROW-4548](https://issues.apache.org/jira/browse/ARROW-4548). Please see the [migration documentation](https://github.com/apache/a

[2019-02-13 01:37] mbostock opened #3629 "UMD erroneously declares dependencies on “Arrow” package."
It seems that the UMD file in 0.4.0 erroneously declares a dependency on the “Arrow” package:

https://cdn.jsdelivr.net/npm/apache-arrow@0.4.0/Arrow.es5.min.js

It seems to be coming from here:

https://github.com/apache/arrow/blob/af60c2e730236cfbbd207e1c0bd655bbb230bae1/js/gulp/closure-task.js#L111

[2019-02-13 02:27] kou commented on #3629
Could you open an issue on JIRA https://issues.apache.org/jira/browse/ARROW ?

[2019-02-13 02:27] #3629 closed

[2019-02-14 15:54] dmadeka commented on #3622
@wesm Is there an example of that? Im not sure which method in `ChunkedArray` I'd use

[2019-02-15 00:52] BeamerIsHere opened #3654 "Installing on RHEL7 from source."
## GitHub Issues for Apache Arrow
Can Anyone help me with installing Arrow in RHEL7. From source or through repo.

We support GitHub issues as a lightweight way to ask questions and engage with
the Arrow developer community. We use the Apache Software Foundation's JIRA
instance for maintaining a queue of development work and as the public record
for work on the project. So, feel free to delete thi

[2019-02-15 05:06] wesm commented on #3654
Yes, follow the CentOS instructions on http://arrow.apache.org/install/. Please write on dev@arrow.apache.org if something doesn't work, or open a JIRA issue

[2019-02-15 05:06] #3654 closed

[2019-02-15 22:46] asfimport opened #21131 "[JS] add logging"
As discussed in https://github.com/apache/arrow/pull/3634, the javascript library will need some logging infrastructure. The goals for this implementation are a lightweight logger that can be easily configured to not write to console.

**Reporter**: [Dominik Moritz](https://issues.apache.org/jira/browse/ARROW-4588) / @domoritz

<sub>**Note**: *This issue was originally created as [ARROW-4588](http

[2019-02-16 21:36] yurivict opened #3668 "Please allow to use external packages for all dependencies (ex. zstd, flatbuffers, etc) to facilitate packaging"
Here: https://github.com/apache/arrow/blob/master/cpp/CMakeLists.txt#L218

Based on ```Repology```, ```zstd``` packages are available for about every OS: https://repology.org/metapackage/zstd/versions

[2019-02-16 22:18] yurivict opened #3670 "Please use the flatbuffers package"
see here: https://github.com/apache/arrow/blob/master/cpp/thirdparty/versions.txt#L56

```flatbuffers``` packages are available on all systems: https://repology.org/metapackage/flatbuffers/versions

[2019-02-16 23:58] wesm commented on #3668
hi @yurivict what are you asking for exactly? If the user does not have zstd installed, our build system builds the package from source. We should ensure that different kinds of system-level installed packages are properly detected in https://github.com/apache/arrow/blob/master/cpp/cmake_modules/FindZSTD.cmake, though

[2019-02-16 23:59] wesm commented on #3670
Can you please open a JIRA issue and articulate your ask more precisely

[2019-02-17 00:12] yurivict commented on #3668
There should be a switch to use only external packages, ex. ```USE_EXTERNAL_PACKAGES``` cmake variable.

My use case: I would like to create a FreeBSD port for ```arrow```. On FreeBSD (as in most systems) package builder doesn't allow ad-hoc file downloads started from the project build process. This is for security reasons. So there should a central switch that uses only external packages.

Users

[2019-02-17 00:13] yurivict commented on #3670
https://github.com/apache/arrow/issues/3668 should be sufficient.

[2019-02-17 00:13] #3670 closed

[2019-02-17 00:19] yurivict opened #3672 "cmake script assumes that double-conversion installs static libs, when it can install shared libs"
This line: https://github.com/apache/arrow/blob/master/cpp/cmake_modules/ThirdpartyToolchain.cmake#L580

The ```double-conversion``` project can alternatively build shared libraries, when ```BUILD_SHARED_LIBS=ON``` is used.

You should only use libraries that ```double-conversion``` cmake script provides, which is in the ```double-conversion_LIBRARIES``` variable.

[2019-02-17 03:53] asfimport opened #42877 "[C++][Parquet] an't build column reader test with MinGW"
[code]

**Reporter**: [Kouhei Sutou](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=kou) / @kou
**Assignee**: Kouhei Sutou](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=kou) / @kou
#### PRs and other links:
- [GitHub Pull Request #3676](https://github.com/apache/arrow/pull/3676)

<sub>**Note**: *This issue was originally created as [PARQUET-1532](https://issues.apache.o

[2019-02-17 20:24] wesm commented on #3668
Can you please open a JIRA issue? There is also a mailing list thread about improvements to the build system to enable packaging or Linux distributions (the same concerns apply to FreeBSD)

https://lists.apache.org/thread.html/56e3e5e44901a4ff4f62adc93bb0d34d4c4eac48c993146172e7684e@%3Cdev.arrow.apache.org%3E

I think this statement is a little bit judgmental -- we are absolutely not trying to "co

[2019-02-17 20:28] wesm commented on #3672
We use JIRA to manage project issues. Can you open an issue there?

[2019-02-17 20:57] #42877 closed

[2019-02-17 21:12] yurivict commented on #3668
JIRA issue: https://issues.apache.org/jira/browse/ARROW-4607

[2019-02-17 21:20] yurivict commented on #3668
I am only a volunteer FreeBSD port maintainer. I identify software that needs to be ported, create ports, and later maintain them. If a particular package is not ready to be ported and requires significant efforts, I can't invest too much time into it, because then I'll become a developer on a large number of software packages. I simply don't have enough resources for this, sorry!

Basically, cmak

[2019-02-17 21:23] yurivict commented on #3672
JIRA issue: https://issues.apache.org/jira/browse/ARROW-4608

[2019-02-17 21:32] wesm commented on #3668
I agree, though I take issue with the "should" and "just" words here (see http://www.humansystemsinaction.com/lullaby-language/). There is development to do here, and testing. We will also probably need to document which distros have adequate system-level dependencies to build the project, since not all of them well.

[2019-02-17 21:32] #3668 closed

[2019-02-17 21:36] kou commented on #3668
Thanks for opening the JIRA issue.
I'm working of this issue to improve MinGW package (and .deb packages) such as #3675. 0.13.0 or 0.14.0 will support more system libraries. You may be able to work on FreeBSD port with 0.13.0 or 0.14.0.

[2019-02-19 10:03] #3672 closed

[2019-02-20 21:19] jonathanapp opened #3722 "pyarrow.lib.ArrowIOError: Unable to load libjvm"
I'm seeing non-deterministic behavior with PyArrow and I'm unable to consistently read from HDFS using it.

Setup:

Namenode on **node A**

Datanode on **node B**

On node **B**, I can use command-line tools to read/write to HDFS:

[code]

I can also use pyarrow to read from the file:

[code]

Which gives this result:

[code]

So far, so good. The issue now is using PyArrow in Dask Distributed.

I

[2019-02-21 15:33] fsaintjacques commented on #3611
Resolved, I think the issue can be closed here.

[2019-02-21 15:56] asfimport opened #42878 "[C++][Parquet] The patch for PARQUET-1508 leads to infinite loop and infinite memory allocation when reading very sparse ByteArray columns"
In this loop

<https://github.com/apache/arrow/commit/3d435e4f8d5fb7a54a4a9d285e1a42d60186d8dc#diff-47fe879cb9baad6c633c55f0a34a09c3R739>

The branch of if dealing with null values does not increment variable 'i'. Therefore on chunks containing only NULLs once a thread enters the loop, it stays in that loop forever. I'm not entirely sure whether 'num_values' variable was meant to be the number of

[2019-02-21 15:59] asfimport commented on #42878
[Hatem Helal](https://issues.apache.org/jira/browse/PARQUET-1537?#comment-16774220) / @hatemhelal:
I have a fix for this in this PR:

 

<https://github.com/apache/arrow/pull/3721>

 

Could you help with a review?

[2019-02-21 16:16] asfimport commented on #42878
[Hatem Helal](https://issues.apache.org/jira/browse/PARQUET-1537?#comment-16774244) / @hatemhelal:
On closer inspection, that was hasty to claim that I had a fix.  I'm working on a proper fix + some tests.

[2019-02-21 17:26] jonathanapp commented on #3722
This was entirely due to launching scripts via `pssh`, which resulted in the wrong environment variables. Please ignore!

[2019-02-21 17:26] #3722 closed

[2019-02-21 21:26] asfimport commented on #42878
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1537?#comment-16774510) / @wesm:
Can you post a file that reproduces the issue? I can take a look

[2019-02-21 21:27] asfimport commented on #42878
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1537?#comment-16774511) / @wesm:
I moved this issue to PARQUET

[2019-02-21 23:41] asfimport commented on #42878
[Valery Meleshkin](https://issues.apache.org/jira/browse/PARQUET-1537?#comment-16774598):
I can't attach the original file, but I was able to reproduce it by writing something like the following with pyarrow:

[code]

[2019-02-22 12:56] asfimport opened #21192 "[C++] Consolidate random string generators for use in benchmarks and unittests"
This was discussed in here:

<https://github.com/apache/arrow/pull/3721>

For testing/benchmarking dictionary encoding its useful to control the number of repeated values and it would also be good to optionally include null values.  The ability to provide a custom alphabet would be handy for generating strings with unicode characters.

 

Also note that a simple PRNG should be used as the group ha

[2019-02-22 14:47] asfimport commented on #42878
[Valery Meleshkin](https://issues.apache.org/jira/browse/PARQUET-1537?#comment-16775216):
I have attached a file generated by the script from my previous comment. It reproduces the issue in my setup.

[2019-02-23 07:16] asfimport opened #21199 "[C++] Support GCP BigQuery Storage API"
Docs: <https://cloud.google.com/bigquery/docs/reference/storage/> 

Need to investigate the best way to do this maybe just see if we can build our client on GCP (once a protobuf definition is published to [https://github.com/googleapis/googleapis/tree/master/google)?](https://github.com/googleapis/googleapis/tree/master/google))

 

This will serve as a parent issue, and sub-issues will be added f

[2019-02-23 09:48] REASY opened #3739 "Python 3.6.7 & pyarrow 0.12.0 failing with OSError: Unrecognized filesystem: <class 'str'>"
I'm trying to use `pyarrow 0.12.0` to convert CSV file to parquet with python script:
[code]
It used to work with pyarrow `0.11.1`, but failing with `0.12.0`:
[code]
### Steps to reproduce
#### Create virtual environment
1.  `python3 -m venv env`
2. `source env/bin/activate`
`python -V` in virutal env gives me `Python 3.6.7`
#### Add dependencies
1. `pip install numpy pandas pyarrow`
2. check the

[2019-02-23 22:34] wesm commented on #3739
You were relying on passing a position argument to a keyword argument in

[code]

Try changing this to

[code]

[2019-02-23 22:34] #3739 closed

[2019-02-24 05:17] REASY commented on #3739
Thanks, @wesm, it fixed my issue.

[2019-02-24 07:36] asfimport opened #42879 "[C++][Parquet] Encryption key management"
C++ version of 1373

**Reporter**: [Gidon Gershinsky](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=gershinsky) / @ggershinsky
**Assignee**: Tham](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=thamha) / @thamht4190

<sub>**Note**: *This issue was originally created as [PARQUET-1538](https://issues.apache.org/jira/browse/PARQUET-1538). Please see the [migration documenta

[2019-02-25 13:17] asfimport opened #42880 "[C++][Parquet] Set shared library version for linux and mac builds"
It looks like this was previously implemented when parquet-cpp was managed as a separate repo (PARQUET-935).  It would be good to add this back now that parquet-cpp was incorporated into the arrow project.

**Reporter**: [Hatem Helal](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=hatem) / @hatemhelal
**Assignee**: Hatem Helal](https://issues.apache.org/jira/secure/ViewProfile.jspa?na

[2019-02-25 20:15] keyaaron opened #3748 "Hadoop classpath discovery broken in 0.12 when HADOOP_HOME is a symlink"
CLASSPATH discovery was recently changed in https://github.com/apache/arrow/commit/d91185000945cec96abad41a230d05d3cdefff93 to resolve ARROW-2113 and ARROW-3768.

Specifically, the logic used to find all jars under HADOOP_HOME uses the find command directly https://github.com/apache/arrow/blob/d91185000945cec96abad41a230d05d3cdefff93/python/pyarrow/hdfs.py#L144
This will not work when HADOOP_HOME

[2019-02-25 20:37] gjoseph92 opened #3749 "[Python] Error serializing bool ndarray in py2 and deserializing in py3"
## Repro

`np.bool` is the only dtype I've found that causes this issue. Both empty and non-empty arrays cause it.

The issue only manifests from py2 to py3; staying within the same version succeeds, as does serializing from py3 and deserializing in py2.

This appears to just be due to Python 2 `str` being deserialized in Python 3 as `bytes`; it should be `unicode` on the py2 end to come back as `

[2019-02-25 20:38] wesm commented on #3749
Can you please open a JIRA issue?

[2019-02-25 20:49] gjoseph92 commented on #3749
https://issues.apache.org/jira/browse/ARROW-4675

[2019-02-26 16:45] lalessan opened #3763 "[pyarrow-0.11.1] ImportError"
I installed pyarrow using conda-forge:

    conda install -q -y -c conda-forge pyarrow

    The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    arrow-cpp-0.11.1           |   py27h3bd774a_0         6.1 MB  conda-forge
    blas-1.0                   |              mkl           6 KB  defaults
    boost-c

[2019-02-26 21:13] dclong opened #3765 "Connecting to HDFS through a proxy?"
Does pyarrow support connecting to HDFS through a proxy?

[2019-02-27 03:35] wesm commented on #3765
It does if libhdfs does. Do you know?

[2019-02-27 08:44] dclong commented on #3765
I never used libhdfs before and I don't know whether it supports proxy. However, I do know that it's fairly easily to set proxy for JVM. libhdfs is implemented in C but the doc mentions JNI which makes me feel like that it's called via JVM. Do you know whether pyarrow invokes libhdfs via JVM?

[2019-02-27 14:40] xhochy commented on #3763
Please recreate your installation using either packages all from `defaults` or from `conda-forge`. Mixing both is not supported. Furthermore, you seem to get an old version of pyarrow. Does the problem still persist using `pyarrow==0.12.1`?

Please open an issue at https://issues.apache.org/jira/projects/ARROW if this still persists.

[2019-02-27 14:40] #3763 closed

[2019-02-27 15:52] wesm commented on #3765
Yes it does

[2019-02-27 23:11] asfimport opened #21232 "[C++] shared conversion framework for JSON/CSV parsers"
CSV and JSON both convert strings to values in a Array but there is little code sharing beyond `arrow::util::StringConverter`.

It would be advantageous if a single interface could be shared between CSV and JSON to do the heavy lifting of conversion consistently. This would simplify addition of new parsers as well as allowing all parsers to immediately take advantage of a new conversion strategy.

[2019-02-28 03:41] zhijunfu opened #3777 "[Plasma] add support in plasma client interfaces to work with multiple objects"
Right now the `Delete()` interface in plasma client supports deleting multiple objects in a single shot, so that we can save IPCs (inter-processing communication) between plasma clients and plasma store, which can reduce client latency and also improve the actual throughput for plasma store.

I'm thinking about adding support for other interfaces to work with multiple objects. It seems straightfor

[2019-02-28 06:15] emkornfield commented on #3777
@zhijunfu The developer mailing list (dev@arrow.apache.org) might be a better place to discuss this.

[2019-02-28 06:39] zhijunfu commented on #3777
@emkornfield Thanks. I created an [JIRA here](https://issues.apache.org/jira/browse/ARROW-4711), which should automatically update dev@arrow.apache.org.

[2019-02-28 09:02] asfimport opened #21238 "[C++] Improve C++ Orc Adapter performance and memory footprint"
Currently the Arrow C++ provide a naive adapter implementation that allow user to read orc file to Arrow RecordBatch. However, this implementation have several drawbacks:
- Inefficient conversion that incurs huge memcpy overhead
  - currently the ORC adapter are performing byte to byte memcpy to move data to ORC VectorBatch to Arrow RecordBatch regardless of the fact that ORC VectorBatch shares th

[2019-02-28 12:55] asfimport opened #21240 "[Benchmarking] Add portable machine and benchmark context detection"
The machine detection script (`make_machine_json.sh`) currently looks like it will only work properly on macOS. Ideally it should work more or less correctly on all of them macOS, Linux and Windows (some values may remain undetected on some platforms). 

This probably entails:
- extend `archery benchmark` (see https://jira.apache.org/jira/browse/ARROW-4827 and tentative implementation in <https://

[2019-02-28 15:15] #3611 closed

[2019-03-01 04:30] emkornfield commented on #3777
thanks, do you mind closing this issue?

[2019-03-01 04:53] #3777 closed

[2019-03-01 16:57] asfimport opened #21251 "[C++] Improve buffer symbolic index"
The array data `buffers` vector is index differently depending on the Array type. This feature would expose static constexpr named variables for buffer index.

**Reporter**: [Francois Saint-Jacques](https://issues.apache.org/jira/browse/ARROW-4729) / @fsaintjacques

<sub>**Note**: *This issue was originally created as [ARROW-4729](https://issues.apache.org/jira/browse/ARROW-4729). Please see the [

[2019-03-04 09:28] jezeniel opened #3804 "[Python] How to convert list of dicts in Pandas to pyarrow Table?"
I have a pandas dataframe. One column has a list of python dictionaries.
[code]

I tried creating a schema for this a  list of struct. But when I do this it is raising an error:
[code]
Is there a way to convert this structure? or currently it is impossible?

[2019-03-04 11:27] asfimport commented on #42880
[Hatem Helal](https://issues.apache.org/jira/browse/PARQUET-1540?#comment-16783267) / @hatemhelal:
This was discussed on the [mailing list](https://lists.apache.org/thread.html/420bd7b5b4a4bad62bf7d874c998c99204e1633a7d0cf47c00541c61@%3Cdev.arrow.apache.org%3E) and it makes sense for the SO versions to match up for arrow and parquet until an independent parquet C++ release is prepared.

[2019-03-04 23:08] BardiaAfshin commented on #2192
I'm loading a dataframe that has been created via pyspark  version 2.2.1 and saved in parquet format, I'm getting this very same error. What's the fix?

[2019-03-04 23:29] xhochy commented on #2192
@BardiaAfshin Can you provide a minimal reproducible example? https://stackoverflow.com/help/mcve

[2019-03-04 23:52] BardiaAfshin opened #3808 "nativefile"
## GitHub Issues for Apache Arrow

We support GitHub issues as a lightweight way to ask questions and engage with
the Arrow developer community. We use the Apache Software Foundation's JIRA
instance for maintaining a queue of development work and as the public record
for work on the project. So, feel free to delete this text and open an issue
here if you have a question or aren't sure whether some

[2019-03-04 23:53] #3808 closed

[2019-03-05 02:38] wesm commented on #3804
Can you please open a JIRA issue? It would be great if you could include the `phone_schema` declaration also

[2019-03-05 05:14] alokgogate commented on #2192
Downgrading to pyarrow version 0.8.0 worked for me.

[2019-03-05 17:37] BardiaAfshin commented on #2192
@alokgogate that's interesting because I thought this is a memory related issue. I did a top command on the system and saw that loading a 1 gig file was taking up the memory space quickly. I loaded the parquet structure in a much smaller sample set of 12 MB and it worked fine. I will try to goto your current version. Also for the record the version I'm using now is

[code]

[2019-03-05 17:39] BardiaAfshin commented on #2192
Also, I looked that you can do buffering when reading a file using something called a ```NativeFile``` object? but didn't find any sample code on how todo.

[2019-03-06 10:19] asfimport commented on #42880
[Hatem Helal](https://issues.apache.org/jira/browse/PARQUET-1540?#comment-16785475) / @hatemhelal:
This is a duplicate of ARROW-3185

[2019-03-06 10:20] #42880 closed

[2019-03-06 21:46] asfimport commented on #42868
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1482?#comment-16786156) / @wesm:
Issue resolved by pull request 3312
<https://github.com/apache/arrow/pull/3312>

[2019-03-06 21:46] #42868 closed

[2019-03-07 00:50] giveitatry168 opened #3825 "Build Errors: arrow_objlib.dir/ipc/json-internal.cc.o"
g++ (GCC) 6.3.1
rapidjson-v1.1.0
arrow-apache-arrow-0.12.1

/scratch_area/apache/arrow-apache-arrow-0.12.1/cpp/src/arrow/ipc/json-internal.cc: In member function 'typename std::enable_if<arrow::IsSignedInt<T>::value, void>::type arrow::ipc::internal::json::ArrayWriter::WriteDataValues(const T&)':
/scratch_area/apache/arrow-apache-arrow-0.12.1/cpp/src/arrow/ipc/json-internal.cc:389:18: error: 'usin

[2019-03-07 03:57] chenfj068 opened #3829 "[python]hadoop class path derived not correct"
When Hdfs use libhdfs driver,$HADOOP_CONF_DIR must be in the classpath, but the method _derive_hadoop_classpath just add jars to classpath but
[code]
So the core-site.xml,hdfs-site.xml are not in the classpath,the libhdfs can not load the correct configuration files

[2019-03-07 03:58] chenfj068 commented on #3829
Here is my hard code test, it works fine
[code]

[2019-03-07 17:14] mathemakitten opened #3836 "Question re: change in multi-threaded read in ParquetDataset read() method"
Hi there! I've been using Pyarrow 0.9.0 but recently switched over to 0.12.1. I noticed that in 0.9.0 I could pass `nthreads=num_threads` to the `ParquetDataset.read` method, but in the newest version I can only pass `use_threads=True`.

My question is now, how do I control how many threads are being simultaneously used to read data on a machine? When I pass `use_threads=True`, what is the default

[2019-03-07 18:12] hatemhelal commented on #3836
I had a look and that option ultimately finds its way [here](https://github.com/apache/arrow/blob/master/cpp/src/arrow/util/thread-pool.cc#L268).  I think for many machines the value will be determined by `std::thread::hardware_concurrency'.

[2019-03-07 20:09] mathemakitten commented on #3836
Gotcha, alright. Thank you, that's helpful to know. Do you know if there is any other way to control the number of threads allocated, as in the previous versions of Pyarrow?

[2019-03-08 03:03] chenfj068 opened #3838 "[Pyarrow] hdfs read file line by line not implemented"
pyarrow hdfs api, readline  and readlines are not IMPLEMENTED,but i need them,  would  this feature be implemented in new release version?
`
    def readline(self, size=None):
        """NOT IMPLEMENTED. Read and return a line of bytes from the file.

        If size is specified, read at most size bytes.

        Line terminator is always b"\\n".
        """

        raise UnsupportedOperation()

[2019-03-08 05:17] emkornfield commented on #3838
Hi @chenfj068,
I don't recall seeing anyone working on these.  The most recent work I could find was https://github.com/apache/arrow/pull/2253/files which mentions keeping them out because they were sub-optimal.  Depending on your use-case you might be able to use  [the csv reader](https://arrow.apache.org/docs/python/csv.html?highlight=read_csv) to get the lines you need.

[2019-03-08 05:17] fluffy-samurai opened #3839 "[PyArrow] 3.8 Deprecation Notice"
In running pytest against a project that has PyArrow v0.12.1, I see:
[code]

This is occurring during:
[code]

I think it is associated with how this line calls the function:
https://github.com/apache/arrow/blob/1c1bfe8ffc01e877713ae3aeadcd32ea3e597398/python/pyarrow/parquet.py#L290

Does this justify an email to the dev mailing list & how can I help?

[2019-03-08 05:27] emkornfield commented on #3825
Hi @giveitatry168,
You might be able to get better support on the [mailing list](dev@arrow.apache.org), giving more details about your environment (which OS are you running) and how how you are setting up the build environment (what args are you passing to cmake).

As a first guess, it might be that you are picking up an older version of rapidjson on your system.

[2019-03-08 05:31] emkornfield commented on #3748
Hi @keyaaron,
I opened a [JIRA-4802](https://issues.apache.org/jira/browse/ARROW-4802) to track this.  Would you be willing to submit a patch?

[2019-03-08 05:36] emkornfield commented on #3839
Hi @fluffy-samurai,
If you want to open a JIRA issue on https://issues.apache.org and submit a patch for this issue it would be helpful.  If you don't already have the right permissions on JIRA you can ask for help on the mailing list.

[2019-03-08 05:57] assassin5615 opened #3841 "can't download snappy"
I can build arrow without any problem on other boxes, but always encountered problem on one box that has Oracle Linux 6 installed while downloading snappy.

the error log says

[code]
I tried `wget https://github.com/google/snappy/releases/download/1.1.3/snappy-1.1.3.tar.gz` and got the "Unable to establish SSL connection" error.

I am not sure if this is related to the fact that snappy is actuall

[2019-03-08 10:57] hatemhelal commented on #3836
I missed this option when I was looking yesterday:

https://arrow.apache.org/docs/python/api/misc.html#multi-threading

You should be able to query and modify the number of threads used to read a parquet file like:
[code]
As I understand it, the API change was motivated by making parquet file reading use the same parallel settings as other pyarrow APIs.

[2019-03-08 12:36] maartenbreddels opened #3845 "ListArray with 64bit instead of 32bit offset"
I'm starting to appriciate Arrow more and more, and many new ideas I have with vaex fully align with arrow. I've recently been adding in string support in [vaex](https://github.com/vaexio/vaex/pull/182) and I am trying to follow the arrow specs, however have a bit of an issue with the int32 limitation of ListArray

This limits each element in the list to be ~2GB in size (which is not crazy), but a

[2019-03-08 14:41] mathemakitten commented on #3836
Ah, I see! That's very insightful. Thank you very much for your help!

[2019-03-08 14:41] #3836 closed

[2019-03-08 15:09] wesm commented on #3838
@chenfj068 if you would like to implement these, can you please open a JIRA issue? Closing the GitHub issue for now

[2019-03-08 15:09] #3838 closed

[2019-03-08 15:11] wesm commented on #3839
Anyone can open a JIRA issue AFAIK

[2019-03-08 15:13] wesm commented on #3841
I'm not sure what we can reasonably do about this. If you want to open a JIRA issue and suggest a remedy please go ahead

[2019-03-08 15:19] wesm commented on #3845
There is https://issues.apache.org/jira/browse/ARROW-750 about having binary and string arrays with 64 bit offsets.

Having arrays with > 2GB elements or binary arrays with > 2GB of data would be considered an anti-pattern in the context of database systems, regardless of whether the offsets are 32- or 64-bit. So in light of these it doesn't make sense to have the default type be 64-bit capable if

[2019-03-08 15:19] #3845 closed

[2019-03-08 15:19] wesm commented on #3845
We can discuss further either on the mailing list or on those JIRA issues

[2019-03-08 15:29] giveitatry168 commented on #3825
Thanks, @emkornfield !

It was build on RHEL 6 with ARROW_RAPIDJSON_URL=/scratch_area/.../cpp//thirdparty/rapidjson-v1.1.0.tar.gz. I've also verified the rapidjson package is present. Will also try the dev alias you suggested.

[2019-03-08 16:00] fsaintjacques commented on #3841
This wget works locally. @assassin5615 any success if you retry. I'd also suggest increasing verbosity of wget/curl.

[2019-03-08 23:38] dhirschfeld opened #3847 "[FeatureRequest] Add strptime functionality to read_csv"
I'd like to make use of the new `read_csv` function but it appears that the format of the dates I have isn't supported by `pyarrow`:

[code]

Since you can't usually get the date-format of your source data changed it would be good to allow the user to specify a format string (similar to [`strptime`](https://docs.python.org/3/library/time.html#time.strftime)) which would then allow for conversions

[2019-03-08 23:52] dhirschfeld commented on #3847
If my date format were slightly different it looks like it would work:
[code]

[2019-03-08 23:53] dhirschfeld commented on #3847
I looks like the `read_csv` closes the file-handle passed to it - is this the desired behaviour?
[code]
It seems to me if you pass in a file-handle it should be the users responsibility to close it?

In comparison, `pandas` doesn't close the file-handle:
[code]

[2019-03-08 23:53] dhirschfeld commented on #3847
Also, it seems `pyarrow` doesn't support `io.StringIO`:
[code]
It would be nice/convenient if it did.

[2019-03-10 00:05] ryan-williams opened #3855 "0.11.1 python source not on pypi?"
Python source tar.gz's present on pypi.org:
- [x] [0.12.1](https://pypi.org/project/pyarrow/0.12.1/#files)
- [x] [0.12.0](https://pypi.org/project/pyarrow/0.12.0/#files)
- [x] [0.11.1](https://pypi.org/project/pyarrow/0.11.1/#files)
- [x] [0.11.0](https://pypi.org/project/pyarrow/0.11.0/#files)

Is this intentional?

0.11.1 being missing is [causing problems](https://issues.apache.org/jira/browse/

[2019-03-10 04:24] emkornfield commented on #3847
I think all of these seem like valid issues (I'm not 100% sure on closing the file handle).  https://issues.apache.org/jira/browse/ARROW-3739 might have some overlap with the Timesamp converting.  Could you create separate JIRAs for each?

[2019-03-10 10:00] xhochy commented on #3855
@ryan-williams We can upload the sources for 0.11.1 to PyPI but this won't fix your problems as for compiling pyarrow from source, you need the Apache Arrow C++ binaries pre-installed.

But as far as I understand data flow, `pyarrow==0.11.1` should already be preinstalled on the workers: https://cloud.google.com/dataflow/docs/concepts/sdk-worker-dependencies

[2019-03-10 10:01] xhochy commented on #3855
@kou @kszucs Generating the source tarball would probably be just done by running the `manylinux1` docker of that release locally? Or is there a better way to do this?

[2019-03-10 14:48] ryan-williams commented on #3855
@xhochy thanks for the quick response!

I think both of your points are correct, but also that having the pyarrow sources on pypi is the simplest way to have things work as intended everywhere (including here; I assume the missing pyarrow sources are an oversight and worth correcting on their own, or at least figuring out why they're only being released sometimes?).

Beam/Dataflow don't have a way

[2019-03-10 21:59] kou commented on #3855
@xhochy I'm not sure but the following command lines will work:

https://cwiki.apache.org/confluence/display/ARROW/Release+Management+Guide#ReleaseManagementGuide-pipPackages

[code]

[2019-03-10 22:09] wesm commented on #3847
@dhirschfeld this isn't the right place for feature requests -- definitely use JIRA in the future for all of these. The strptime request is already in JIRA https://issues.apache.org/jira/browse/ARROW-3739

[2019-03-10 22:09] #3847 closed

[2019-03-10 22:18] wesm commented on #3855
Maintaining source installs from PyPI has not been a priority for us. Does someone want to push the tarballs? We might want to embolden the sdist step in the RM notes for furture releases

[2019-03-10 23:02] dhirschfeld commented on #3847
Noted! Thanks for the link - I'm following that issue now.

I'll open JIRAs for the remaining issues...

[2019-03-11 00:05] kou commented on #3855
I want pyarrow source package to build pyarrow with system deb/rpm Arrow C++ packages too.
So I'll upload pyarrow source packages for 0.11.1 and 0.12.0 when someone confirms that the `sdist upload` approach is correct.

[2019-03-11 05:08] assassin5615 commented on #3841
@wesm  @fsaintjacques  still can't use wget to download snappy. I'll close this issue as it's not really related to arrow. it's more like a wget issue or SSH configuration issue. thanks for your efforts.

[2019-03-11 05:08] #3841 closed

[2019-03-11 12:12] dhirschfeld commented on #3847
JIRAs opened:
* [`ARROW-4824`](https://issues.apache.org/jira/projects/ARROW/issues/ARROW-4824) `read_csv` should accept io.StringIO objects
* [`ARROW-4823`](https://issues.apache.org/jira/projects/ARROW/issues/ARROW-4823) `read_csv` shouldn't close file handles it doesn't own

[2019-03-11 12:44] xhochy commented on #3855
@kou Yes, the approach is correct. We should be more careful with this in future releases. I still dream of having a self-contained wheel one day.

[2019-03-11 12:47] xhochy commented on #3855
@kou Wait. Please only use `python setup.py sdist` and then upload using `twine`.

[2019-03-11 13:07] xhochy commented on #3855
@kou I've uploaded sources for `0.12.0` but was unable to pull the `apache-arrow-0.11.1` tag from github.

[2019-03-11 17:45] asfimport opened #21345 "[Python] Remove backward compatibility hacks from pyarrow.pandas_compat"
This code is growing less maintainable. I think we can remove these backwards compatibility hacks since there are released versions of pyarrow that can be used to read old metadata and "fix" Parquet files if need be

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/browse/ARROW-4830) / @wesm
#### Related issues:
- [[Python] Bump minimum support pandas version to pandas 1.0](https://gith

[2019-03-11 20:44] kou commented on #3855
@xhochy Thanks for confirming this! I've upload 0.11.1 from `apache-arrow-0.11.1` and update https://cwiki.apache.org/confluence/display/ARROW/Release+Management+Guide#ReleaseManagementGuide-pipPackages .

[2019-03-11 20:44] #3855 closed

[2019-03-12 10:54] asfimport commented on #42711
[Tham](https://issues.apache.org/jira/browse/PARQUET-1022?#comment-16790435) / @thamht4190:
Our application would like to have this feature. Our use case is when the application crashes (it's true we cannot develop a perfect system), so we cannot close the file that is opening at that time. We want to open, close multiple times, then we just need to open when we want to write data, then close the

[2019-03-12 12:58] asfimport commented on #42711
[Uwe Korn](https://issues.apache.org/jira/browse/PARQUET-1022?#comment-16790518) / @xhochy:
@thamht4190  The solution here is to write more files and combine them afterwards. Reading Parquet files that have no footer is not possible. Even with the possibility of modifying an existing file, you would loose all data in your crash scenario as in the second write, the data would be written over the fo

[2019-03-12 14:24] asfimport commented on #42711
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1022?#comment-16790596) / @wesm:
I think theoretically you can write row groups to disk separate from metadata. Not sure if there are many systems out there that implement this

[2019-03-12 16:29] asfimport opened #21354 "[C++] Persist CMake options in generated header"
(do this after we merged the CMake refactor)

 

We should export all compile-time options like ARROW_WITH_ZSTD or ARROW_PARQUET in a header file so that other libraries depending on Arrow C++ can also respect that in their builds.

**Reporter**: [Uwe Korn](https://issues.apache.org/jira/browse/ARROW-4840) / @xhochy

<sub>**Note**: *This issue was originally created as [ARROW-4840](https://issues.

[2019-03-13 02:15] asfimport commented on #42711
[Tham](https://issues.apache.org/jira/browse/PARQUET-1022?#comment-16791226) / @thamht4190:
Thanks for your suggestion @xhochy @wesm. I'm thinking between
- writing multiple files and merge it into a new single file later (but it seems to take long time to merge)
- or write row groups separately from metadata and concat into a single file later.

  Is there any feature of merging/concating files o

[2019-03-13 09:23] asfimport commented on #42711
[Uwe Korn](https://issues.apache.org/jira/browse/PARQUET-1022?#comment-16791492) / @xhochy:
There is no implementation of merging concatenating files in C++ yet but that would be much easier to implement than an Append mode. For merging files you would read the footer of all files, copy the binary content of the RowGroups into the new file and then compute a new footer from the information of exis

[2019-03-13 11:02] asfimport commented on #42711
[Tham](https://issues.apache.org/jira/browse/PARQUET-1022?#comment-16791578) / @thamht4190:
I do think so. I'll try merging files as your suggestion. Thanks @xhochy  a lot.

[2019-03-13 11:46] asfimport commented on #42868
[Tera G](https://issues.apache.org/jira/browse/PARQUET-1482?#comment-16791607):
Hi Everyone,

I see that this fix has been made in arrow's record reader (record_reader.cc). I am using the parquet's low-level API to pull the data from the parquet file in my application.

I am facing the exact problem fixed by this Jira while using the Parquet's low level API.(column_reader.cc).  

As the current fi

[2019-03-14 03:01] wesm commented on #3839
Can you open a JIRA issue?

[2019-03-14 15:48] quartox opened #3902 "Cannot read parquet from encrypted hdfs"
Using pyarrow 0.12 I was able to read parquet at first and then the admins added KMS servers and encrypted all of the files on the cluster. Now I get an error and the file system object can only read objects from the local file system of the edge node.

Reproducible example:

[code]

error:

[code]

If I specify a specific parquet file in that folder I get the following error:

[code]

Not sure if

[2019-03-14 15:54] wesm commented on #3902
Can you please open a JIRA issue? The task is either to document how to address this issue or make code changes to help (i.e. to point to a particular conf file). I don't have access to such a cluster to test so many someone can help on JIRA

[2019-03-14 16:12] quartox commented on #3902
https://issues.apache.org/jira/browse/ARROW-4874

[2019-03-14 16:12] #3902 closed

[2019-03-14 16:49] asfimport opened #21385 "[C++] MSVC Boost warnings after CMake refactor on cmake 3.12"
I haven't investigated if this was present before the refactor, but since we set `Boost_ADDITIONAL_VERSIONS` in theory this "scary" warning should not show up

[code]

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/browse/ARROW-4875) / @wesm

<sub>**Note**: *This issue was originally created as [ARROW-4875](https://issues.apache.org/jira/browse/ARROW-4875). Please see the [migration d

[2019-03-14 22:39] asfimport commented on #42868
[Rylan Dmello](https://issues.apache.org/jira/browse/PARQUET-1482?#comment-16793129) / @rdmello:
Hi `[~terag]`, I haven't looked at implementing these changes with the low-level API yet. I see that "column_reader.cc" has a similar TypedRecordReader method as "record_reader.cc", and that there's a similar conditional statement there that excludes DATA_PAGE_V2 pages.

I'm not super familiar with the

[2019-03-15 04:28] asfimport commented on #42868
[Tera G](https://issues.apache.org/jira/browse/PARQUET-1482?#comment-16793301):
Hi @rdmello, 

Thank you so much for your quick response. 

No, we have not yet started making those changes. I will really appreciate if you can make those changes.

Thanks again.

 

[2019-03-15 10:43] asfimport commented on #42711
[Tham](https://issues.apache.org/jira/browse/PARQUET-1022?#comment-16793530) / @thamht4190:
Uhm, after looking into C++ API, I think it requires a lot of work to either concat multiple files by binary blocks as @xhochy suggested or write data and metadata separately as @wesm suggested. It seems that current implementation is not designed for this purpose and seems tricky to do so. 

I also saw tha

[2019-03-16 08:33] asfimport opened #21429 "[GLib] Add support for arrow::DenseUnionBuilder"
**Reporter**: [Kouhei Sutou](https://issues.apache.org/jira/browse/ARROW-4920) / @kou

<sub>**Note**: *This issue was originally created as [ARROW-4920](https://issues.apache.org/jira/browse/ARROW-4920). Please see the [migration documentation](https://github.com/apache/arrow/issues/14542) for further details.*</sub>

[2019-03-16 08:34] asfimport opened #21430 "[GLib] Add support for arrow::SparseUnionBuilder"
arrow::SparseUnionBuilder doesn't exist yet.

**Reporter**: [Kouhei Sutou](https://issues.apache.org/jira/browse/ARROW-4921) / @kou

<sub>**Note**: *This issue was originally created as [ARROW-4921](https://issues.apache.org/jira/browse/ARROW-4921). Please see the [migration documentation](https://github.com/apache/arrow/issues/14542) for further details.*</sub>

[2019-03-17 13:29] daadaada opened #3947 "Roadmap of Arrow."
Hi all,

Where can I find the roadmap of the Arrow project?

I may contribute to this project but I don't want to re-implement components you are working on, and I don't want to go in the wrong direction.

Specifically, do you have the plan to support groupby, join etc. in the future?  Maybe I can help I guess.

[2019-03-17 15:23] hayesgb opened #3948 "Errors from jemalloc building pyarrow from source on OSX and Debian"
My attempts to build pyarrow from source are failing.  Have tried on both Debian and OSX.  When I run CMAKE in debug mode on OSX, the output is:

[code]

then I run make -j4, and get:

[code]

The output of log file is:

[code]

Any guidance I can get is greatly appreciated.

[2019-03-17 15:29] wesm commented on #3947
Hi @daadaada let's discuss on the mailing list dev@arrow.apache.org?

We do intend to implement an in-memory query engine. There is already DataFusion for Rust and we will be doing such work in C++ (for Python, R, etc. also). For example: I have written a document indicating some of the development areas that I and my team intend to work on in the project:

https://docs.google.com/document/d/12dWB

[2019-03-17 15:29] #3947 closed

[2019-03-17 15:31] wesm commented on #3948
hi @hayesgb, can you please open a JIRA issue? That's where we track issues. We can help you more there

[2019-03-17 15:46] wesm commented on #3839
https://issues.apache.org/jira/browse/ARROW-4934

[2019-03-17 15:46] #3839 closed

[2019-03-17 15:46] #3825 closed

[2019-03-17 15:47] #3804 closed

[2019-03-17 15:47] #3749 closed

[2019-03-17 15:48] wesm commented on #3829
Can you please open a JIRA issue? Are you able to submit a PR?

[2019-03-17 16:14] hayesgb commented on #3948
Thanks @wesm.  Opened a JIRA issue, and linked back to this as well.

[2019-03-18 05:55] chenfj068 commented on #3829
@wesm This issue has been resolved and the jira link is this  [ARROW-4820](https://issues.apache.org/jira/browse/ARROW-4820)

[2019-03-18 06:56] #3829 closed

[2019-03-18 12:20] wesm commented on #3829
Thank you =)

[2019-03-18 17:42] asfimport opened #42361 "[C++][Parquet] page level min / max written by parquet-cpp is not recognized by parquet-tools"
test parquet is created by
[code]
 

output from parquet-tools

 
[code]
 
 In the above "min/max not defined"

The parquet generated by `parquet-mr` has the correct page min  max.

 

It would be nice if it can show as ```Java
ST:[min: a, max: é, num_nulls: 90072]
[code]

[2019-03-18 18:28] asfimport opened #42881 "[C++][Parquet] Detect parquet-mr style dictionary_page"
parquet-mr incorrectly writes (dictionary_page_offset, first_data_page_offset) as (0, dictionary_page_offset)

So whenever parquet-cpp (pyarrow) reads the file, it sets `has_dictionary_page: False` and `dictionary_page_offset: None`

[code]

[code]

Is parquet-cpp still able to use the dictionary in this case?
It would be nice if parquet-cpp can recognize the parquet-mr issue and set `has_dictiona

[2019-03-18 21:21] rmoser commented on #3561
I was just about to file this issue, but I found I'm a bit late.

FYI, another workaround is to change the working directory to the drive where you want to save files.

So for your case above:
[code]

[2019-03-19 16:20] kyleabeauchamp commented on #1727
I'd like to upvote this; I encountered a use case where I wanted to improve compression ratio at the cost of compute and was sad to not have access to this knob.

[2019-03-19 16:25] kyleabeauchamp commented on #1727
PS: this benchmark suggests that Brotli in particular could gain another 10% or so compression ratio by a higher compression level: https://quixdb.github.io/squash-benchmark/#ratio-vs-decompression

[2019-03-19 16:50] wesm commented on #1727
Can you comment on the JIRA?

[2019-03-19 16:53] kyleabeauchamp commented on #1727
Done

[2019-03-21 10:07] asfimport commented on #42878
[Hatem Helal](https://issues.apache.org/jira/browse/PARQUET-1537?#comment-16797959) / @hatemhelal:
Issue resolved by pull request 3721
<https://github.com/apache/arrow/pull/3721>

[2019-03-21 10:07] #42878 closed

[2019-03-22 02:44] jpryda opened #4010 "R package fails to install on OSX"
I'm getting an error installing the R package on OSX (R version 3.5.2).

Following a successful homebrew install of apache arrow, on running `devtools::install_github("apache/arrow/r")` within RStudio the compilation + installation all but completes successfully:

[code]

[2019-03-22 05:58] chenfj068 commented on #3748
This issue has been resolved @emkornfield  we can close it.

[2019-03-22 06:24] #3748 closed

[2019-03-22 07:44] dreamryx opened #4014 "build error DCHECK"
When I want to build Arrow C++ libraries follow the step from [build steps](https://arrow.apache.org/docs/python/development.html#development).  I have got following errors:

[code]

How could I get through this? Thanks!

[2019-03-22 08:32] nasica88 commented on #4014
Wow, I encountered the same problem on my Redhat 7.4 ppc64le environment.
I built arrow successfully on the same platform, but there seems to be an unwelcome update on the latest release of arrow, I guess.
Any comment, pls ?

[2019-03-22 13:53] fsaintjacques commented on #4014
@dreamryx are you also compiling on ppc64?

[2019-03-22 14:04] mathemakitten opened #4016 "Adding links to main documentation page to flip between API doc versions?"
Hi! Would it possible to add the API docs for previous PyArrow versions as a drop-down link in the sidebar of this page? https://arrow.apache.org/docs/python/api.html

I find myself working in multiple environments with PyArrow versions ranging from 0.8.0 to 0.12+, and since the core Python API has changed quite a bit version-to-version, I have a hard time finding what I need sometimes. Or is ther

[2019-03-22 14:06] fsaintjacques commented on #4014
@nasica88 I'd first try removing the specifics DCHECK in the sse-util.h file.

[2019-03-22 14:11] fsaintjacques commented on #4016
Hello @mathemakitten, this seems like a legit request. I don't think we have versioned doc yet. The documentation system changed quite a bit lately.

I can suggest you to clone arrow repository, checkout the proper tag and read from there (you can try building the doc with docker-compose, but this also changed and markdown is readable).

Meanwhile could you open a ticket at https://jira.apache.org

[2019-03-22 14:15] fsaintjacques commented on #4010
Could you open a ticket at https://jira.apache.org/jira/projects/ARROW/issues/ARROW-4997?filter=allopenissues

We'll follow the discussion there. Meanwhile, you can check if boost is installed with brew.

[2019-03-22 14:43] jpryda commented on #4010
Will do.

`boost 1.69.0 is already installed and up-to-date`

[2019-03-22 15:41] asfimport opened #21499 "[Doc][C++] Add examples on how to construct with ArrayData::Make instead of builder classes"
**Reporter**: [Francois Saint-Jacques](https://issues.apache.org/jira/browse/ARROW-4999) / @fsaintjacques

<sub>**Note**: *This issue was originally created as [ARROW-4999](https://issues.apache.org/jira/browse/ARROW-4999). Please see the [migration documentation](https://github.com/apache/arrow/issues/14542) for further details.*</sub>

[2019-03-23 03:00] mathemakitten commented on #4016
Excellent, I will do both of those things! Thank you for the thorough response, @fsaintjacques. Much appreciated.

[2019-03-23 03:00] #4016 closed

[2019-03-24 21:58] wesm commented on #4014
Can you please open a JIRA issue? We need help from developers with access to ppc64le to be able to support it

[2019-03-24 22:03] #4010 closed

[2019-03-25 02:19] dreamryx commented on #4014
@fsaintjacques @nasica88 @wesm  Sorry for replying late.  Yes.  I do compile it on ppc64le.  When I add
`#include "logging.h"`  into sse-util.h,   the compilation passed. : )

[2019-03-25 05:18] nasica88 commented on #4014
@fsaintjacques  As you recommended, commenting our all DCHECK lines from the sse-util.h file also worked.  Still, including "logging.h" as @dreamryx did looks much more graceful.

[2019-03-25 12:59] asfimport opened #21504 "[C++] Implement support for using selection vectors in scalar aggregate function kernels"
The aggregate kernels don't support mask (the result of a filter). Add the the following method to `AggregateFunction`.

[code]

The goal is to add support for AST similar to:

[code]

**Reporter**: [Francois Saint-Jacques](https://issues.apache.org/jira/browse/ARROW-5005) / @fsaintjacques
#### Related issues:
- [[C++] C++ array kernels framework and execution buildout (umbrella issue)](https://gi

[2019-03-25 19:09] fsaintjacques commented on #4014
I've opened the following issue https://issues.apache.org/jira/browse/ARROW-5007 , this one can be closed.

[2019-03-26 08:02] vshih opened #4030 "`df.to_parquet('s3://...', partition_cols=...)` fails with `'NoneType' object has no attribute '_isfilestore'`"
According to https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#partitioning-parquet-files, writing a parquet to S3 with `partition_cols` should work, but it fails for me.  Example script:

[code]

Output:
[code]

[2019-03-26 18:06] emilk opened #4038 "Request: [Rust] [Parquet] Implement Send by using Arc over Rc"
It is currently not possible to pass a `SerializedFileWriter` from one thread to another because it is internally using `Rc`. Would it be possible to change this to using `Arc` instead so that `SerializedFileWriter` would implicitly implement the `Send` trait, thus allowing me to pass it from one thread to another?

I'm trying to build several parquet files at once, incrementally, and in parallel.

[2019-03-26 18:33] andygrove commented on #4038
It might be better to pass the filenames to the threads and build the `SerializedFileWriter` within the thread? Having the ability for one `SerializedFileWriter` to be shared between threads sounds potentially dangerous?

[2019-03-26 19:33] asfimport opened #21514 "[Python] Failed to convert 'float' to 'double' with using pandas_udf and pyspark"
Hi everyone,

I would like to report a (potential) bug. I followed an official guide on [Usage Guide for Pandas with Apache Arrow](<https://spark.apache.org/docs/2.4.0/sql-pyspark-pandas-with-arrow.html)>.

 However, `libarrrow` throws me error for type conversion from float -> double. Here is the example and its output.

 pyarrow==0.12.1

[code]
 
[code]

Please let me know if you would like to k

[2019-03-26 22:27] asfimport opened #21518 "[C++] Review hardcoded "lib" paths in Find$PACKAGE.cmake related to endogenous libraries"
See https://github.com/apache/arrow/pull/4024#discussion_r269200888. We should try to use a more portable pattern for finding these libraries (in the event that libraries are installed in `lib64`, for example)

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/browse/ARROW-5021) / @wesm

<sub>**Note**: *This issue was originally created as [ARROW-5021](https://issues.apache.org/jira/brow

[2019-03-27 05:55] emilk commented on #4038
I don't want to *share* a `SerializedFileWriter` between threads (that would require the [`Sync trait`](https://doc.rust-lang.org/std/marker/trait.Sync.html)), but I want to *send* it from one thread to another (the [`Send trait`](https://doc.rust-lang.org/std/marker/trait.Send.html)).

In short: I am writing s log consumer that splits a log stream into many parquet files based on some group type.

[2019-03-27 10:48] MasterSalami opened #4045 "[Python] Schema definition for dictionaries"
This issue is similar to https://github.com/apache/arrow/issues/3804 but I couldn't find a corresponding JIRA issue.
I have a pandas dataframe (created from json file) where one column contains a python dictionary (type):
[code]

The schema I wrote is :
[code]

The type pyarrow detects with `pa.DictionaryArray.from_pandas(df['type']).type` is also *struct<type_1: string, type_2: string>*.
However,

[2019-03-27 14:03] AndrewTsao opened #4048 "Request to update arrow library version in Vcpkg"
Apache arrow latest release is 0.12.*, Arrow release version in Vcpkg repo (https://github.com/Microsoft/vcpkg) is  0.11.1, request updates it. build it on windows is difficult. thank you.

[2019-03-27 21:41] kou commented on #4048
Could you open a pull request to https://github.com/Microsoft/vcpkg ?
Or could you find a volunteer in dev@arrow.apache.org mailing list?
http://mail-archives.apache.org/mod_mbox/arrow-dev/

[2019-03-27 21:41] #4048 closed

[2019-03-28 11:51] cmorgan opened #4065 "estimate for release to conda-forge containing "ARROW-4642: [R] change f to file in read_parquet_file()"?"
Hi,
When do you estimate a release to conda forge containing "ARROW-4642: [R] change f to file in read_parquet_file()"?
Thanks

[2019-03-28 15:51] sunchao commented on #4038
@emilk I think it will not be too difficult to replace `Rc` with `Arc` and implement `Send` for `SerializedFileWriter`. Can you file a JIRA for this? Also feel free to contribute a PR if you have something already.

[2019-03-28 18:03] MasterSalami commented on #4045
Found a way to do it, so here's a quick summary of the code. I'll admit it looks quite like a hack but it still works :

[code]
|   | type                                     | id    | name  |
|---|------------------------------------------|-------|-------|
| 0 | {'type_1': 'test_1', 'type_2': 'test_2'} | foo   | bar   |
| 1 | {'type_1': 'test_1', 'type_2': 'test_2'} | foo_1 | Bar_1 |

And it keep

[2019-03-28 22:40] somethingp opened #4072 "Dealing with no header rows when importing CSV"
So when I want to read in a csv with no header names, I can't set the parser options to header_rows=0. It throws an error, and has no way to pass in the header names within the options. It also doesn't just default to using index rows. In the code it looks like these options have been left as a "TODO." [(arrow/cpp/src/arrow/csv/reader.cc Line 139)](https://github.com/apache/arrow/blob/ce9c6e391427

[2019-03-29 01:32] wesm commented on #4065
hi @cmorgan I recommend opening an issue on https://github.com/conda-forge/r-arrow-feedstock about this. I suspect the maintainers will update the package after the 0.13 release goes out

[2019-03-29 01:32] #4065 closed

[2019-03-29 13:00] MissiontoMars commented on #3948
@hayesgb Has this issue been solved? Where is the JIRA issue? Please...

[2019-03-29 15:19] jacksonloper commented on #2213
I think this is still broken-ish.  The following dockerfile results in a pyarrow installation that is broken with the `_ZNK5arrow5Field8ToStringB5cxx11Ev` problem:

[code]

[2019-03-29 15:30] asfimport opened #21560 "[Benchmarking] Support for on-demand and automated benchmarks"
We want to be able to request for a benchmark comparison in a PR against master. This should be triggered via a github comment.

The automated benchmarks would track the master branch and be triggered either on each merge or nightly.

**Reporter**: [Francois Saint-Jacques](https://issues.apache.org/jira/browse/ARROW-5070) / @fsaintjacques
#### Related issues:
- [[C++] Implement benchmark compariso

[2019-03-29 16:32] wesm commented on #2213
@jacksonloper can we discuss this issue somewhere else, like on the ASF JIRA? I'm not sure where the problem is but we should identify the root cause and open an issue in the upstream project (e.g. if one of these other projects is causing the issue) or fix our packaging stuff otherwise

[2019-03-29 16:42] jacksonloper commented on #2213
Not a member of ASF JIRA.  But I also probably won't be much help.  Just letting you know its still broken  :).  Happy to create a more barebones broken-case, from a vanilla ubuntu docker or something if you want.

[2019-03-29 16:45] wesm commented on #2213
Can you create an account on https://issues.apache.org/jira and open a JIRA issue?

[2019-03-29 17:26] pgeez opened #4078 "write_table fails silently on S3 errors"
```pyarrow==0.12.1```

`pyarrow.parquet.write_table` called with `where=S3File(...)` fails silently when encountering errors while writing to S3 (in the example below, `boto3` is raising a `NoSuchBucket` exception). However, instead of using `S3File()`, calling `write_table` with `where=<filepath>` and with `filesystem=S3FileSystem()` does *not* fail silently and raises, as is expected.

#### Code

[2019-03-29 18:34] wesm commented on #4078
Can you please open a JIRA issue?

[2019-03-29 19:39] pgeez commented on #4078
https://issues.apache.org/jira/browse/ARROW-5072

[2019-03-29 20:02] wesm commented on #2213
It looks like this is https://issues.apache.org/jira/browse/ARROW-4809. I'll copy-paste your repro there

[2019-03-29 21:04] kou commented on #4078
Thanks!

[2019-03-29 21:04] #4078 closed

[2019-03-29 21:06] jacksonloper commented on #2213
Awesome thanks

[2019-03-29 22:45] dmadeka opened #4080 "Coercing column types in schemas"
When Im reading a collection of files (say `read_csv` into tables) and then concatenating them - is there a way for me to specify that double and int types can be merged. Currently, pyarrow throws an error on `concat_tables` saying the schemas dont match -- so I coerce each one to pandas, merge it back and then convert the dataframe back to a table

[2019-03-29 23:10] wesm commented on #4080
There isn't currently. You can write down the schema you want and use `table.cast(schema, safe=False)` for each table to do things in Arrow-land instead of converting to pandas. If you'd like to propose some improvements to the API for this use case please do open a JIRA issue

[2019-03-29 23:10] #4080 closed

[2019-03-31 21:18] max-sixty opened #4084 "COBOL bindings"
We'd like to move our AI pipelines written in COBOL to use Arrow - are there plans to add COBOL bindings?

There a recent resurgence in COBOL's use, particularly around sophisticated statistical techniques. [Here's](https://medium.com/@oceankidbilly/python-vs-r-vs-cobol-which-is-best-for-data-science-7b2979c6a000) an article showing its primacy over both python and R.

Thanks for everyone's contri

[2019-03-31 23:42] emkornfield commented on #4084
I think the priorities at this point are ALGOL and Basic, but maybe you
could contribute a patch?

On Sunday, March 31, 2019, Maximilian Roos <notifications@github.com> wrote:

[2019-04-01 00:13] andygrove commented on #4084
I think this discussion is very timely. Thanks for raising it.

On Sun, Mar 31, 2019 at 5:42 PM emkornfield <notifications@github.com>
wrote:

[2019-04-01 17:08] #4084 closed

[2019-04-02 21:29] sadikovi opened #4095 "[Rust] Column writer issue: check dictionary encoder when adding a new data page"
As part of my weekly routine, I glanced over code in Parquet column writer and found that the way we check when to add a new data page is buggy. The idea is checking the current encoder and deciding if we have written enough bytes for a page to construct. The problem is that we only check value encoder, regardless whether or not dictionary encoder is enabled.

Here is how we do it now: actual chec

[2019-04-02 21:31] sadikovi commented on #4095
@sunchao could you check if this is indeed a problem in the code? If so, I can open a JIRA ticket for it. It looks like I have not tested the code properly.

Thanks!

[2019-04-03 17:29] IlyaOrson opened #4104 "pyarrow.parquet.read_table raises non-file path error when given a windows path to a directory"
I think this might be a small bug with the read_table interface when used to load a directory full of parquets in Windows. It works just fine if I use directly a ParquetDataset object to read the table represented by the directory, or if I use `read_table` in a linux terminal.

Apparently the problem comes from the `_make_manifest()` method in `parquet.py`, I think around line ~1045. Either `_is_p

[2019-04-03 20:26] wesm commented on #4104
Can you please open a JIRA issue?

[2019-04-03 21:58] asfimport opened #21600 "[Flight] Test for cross-version Flight compatibility"
As Flight stabilizes, we should make sure that clients and servers in different versions can still communicate.

**Reporter**: [David Li](https://issues.apache.org/jira/browse/ARROW-5114) / @lidavidm
#### Related issues:
- [[Developer] Add scripts to facilitate integration testing between revisions of the codebase](https://github.com/apache/arrow/issues/16521) (relates to)

<sub>**Note**: *This is

[2019-04-03 23:06] yunqu opened #4106 "Building from source failed"
System information

OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubuntu 18.04 (Arm64 architecture)
Ray installed from (source or binary): source
Arrow version: apache-arrow-0.12.1
Python version: 3.6.7
Exact command to reproduce: detailed below

I followed steps [here](https://arrow.apache.org/docs/developers/python.html#build-and-test) but `make` after `cmake` failed miserably.

Steps

[2019-04-04 02:54] yunqu commented on #4106
This seems like a `cmake` problem. The error log has complaints like "https disabled or not supported by libcurl", while I actually have it supported nicely and tested successfully.

The default version that comes with Ubuntu 18.04 works. I had to downgrade its version. Now it is happy.

[2019-04-04 02:54] #4106 closed

[2019-04-04 05:52] kindred77 opened #4107 "Is there any demo for ORC format file read/write operation using c++?"
Is there any demo for ORC format file read/write operation using c++?

[2019-04-04 06:01] sunchao commented on #4095
@sadikovi I think you are right - this seems like a bug. Could you go ahead and file a JIRA for this? Thanks!

[2019-04-04 06:11] asfimport commented on #42868
[Tera G](https://issues.apache.org/jira/browse/PARQUET-1482?#comment-16809546):
Hi @rdmello, 

Did you get the time to look into the problem ?

Thanks.

[2019-04-04 10:42] fayeshine opened #4109 "cannot hold very large DataFrame"
I have a DataFrame which size should be about 6000000*1000, this error happens

[code]

[2019-04-04 14:13] bkietz commented on #4109
Thanks for reporting this. Could you please [open a JIRA issue](https://issues.apache.org/jira/secure/CreateIssue!default.jspa)?

[2019-04-04 15:51] thefragmenter opened #4111 "ModuleNotFoundError: No module named 'pyarrow._flight'"
`import pyarrow.flight` is returning an error
[code]

[2019-04-04 18:33] wesm commented on #4107
Have a look at the unit tests https://github.com/apache/arrow/blob/master/cpp/src/arrow/adapters/orc/adapter-test.cc

If you'd like to write some documentation please feel free to submit a PR

[2019-04-04 18:33] #4107 closed

[2019-04-04 18:34] wesm commented on #4109
Also, please provide a reproducible example of the issue if you can

[2019-04-04 18:46] wesm commented on #4111
Did you build pyarrow with Flight support? Flight is not available in the pip and conda packages in 0.13

[2019-04-04 18:46] #4111 closed

[2019-04-04 18:50] asfimport opened #16704 "[C++] arrow::internal::make_unique conflicts std::make_unique on MSVC"
MSVC appears to implement c++20 ADL, which includes function templates with explicit template arguments (previously these were not looked up through ADL):

https://ci.appveyor.com/project/ApacheSoftwareFoundation/arrow/builds/23604480/job/psvu16jasktacvy2#L2097

**Reporter**: [Ben Kietzman](https://issues.apache.org/jira/browse/ARROW-5121) / @bkietz

<sub>**Note**: *This issue was originally creat

[2019-04-04 19:52] zmjjmz opened #4115 "[Bug?][Parquet] Can write a jagged array column of strings to disk, but hit `ArrowNotImplementedError` on read"
# Description

I encountered an issue on a proprietary dataset where we have a schema that looks roughly like:

[code]

I was able to write this dataset to parquet no problem (using `pq.write_table`), but upon reading it (using `pq.read_table`) I encountered the following error: `ArrowNotImplementedError: Nested data conversions not implemented for chunked array outputs` (a full stacktrace is atta

[2019-04-04 23:30] IlyaOrson commented on #4104
Sure, I'll close this one for the [JIRA issue](https://issues.apache.org/jira/browse/ARROW-5122).

[2019-04-04 23:30] #4104 closed

[2019-04-05 15:13] Stella-Obot opened #4119 "Installation Error"
## GitHub Issues for Apache Arrow

We support GitHub issues as a lightweight way to ask questions and engage with
the Arrow developer community. We use the Apache Software Foundation's JIRA
instance for maintaining a queue of development work and as the public record
for work on the project. So, feel free to delete this text and open an issue
here if you have a question or aren't sure whether some

[2019-04-05 17:54] sadikovi commented on #4095
Created JIRA https://issues.apache.org/jira/browse/ARROW-5129.

[2019-04-05 17:54] #4095 closed

[2019-04-07 07:52] andrewbrown opened #4122 "Can't install arrow on Windows, v0.13.0.9000.zip not found"
I'm getting an error when I attempt to install arrow in R with `devtools::install_github("apache/arrow/r")` on Windows:

It's trying to download the static library `v0.13.0.9000.zip`, but [https://github.com/rwinlib/arrow/releases](https://github.com/rwinlib/arrow/releases) only has a release named https://github.com/rwinlib/arrow/archive/v0.13.0.zip

[code]

[2019-04-07 11:17] anthonyp2018 commented on #4014
I experienced the same problem on ARM A57 (Jetson Nano dev board).
Applying @dreamryx solution fixed it for me as well.

[2019-04-08 05:25] emkornfield commented on #4030
Hi @vshih would you mind filing an JIRA issue at https://issues.apache.org on the bug?

[2019-04-08 05:30] emkornfield commented on #4115
Hi @zmjjmz thanks for the detailed report.  Filing as a JIRA issue is the preferred method, would you mind doing so?

[2019-04-08 05:45] emkornfield commented on #4122
Hi @andrewbrown would you mind contacting the mailing list (dev@arrow.apache.org) or maybe open up an issue on the  rwinlib/arrow fork?

[2019-04-08 05:58] emkornfield commented on #4072
Hi @somethingp https://issues.apache.org/jira/browse/ARROW-4912 covers this but I don't think there is anyone actively working on it (if you have time and inclination, maybe you could submit a PR?)

[2019-04-08 05:59] emkornfield commented on #4014
Hi @anthonyp2018 if you have additional information could you add it to the JIRA referenced above?  Thanks.

[2019-04-08 05:59] #4014 closed

[2019-04-08 08:09] akddv opened #4124 "RecordBatchFileWriter fails to write string dictionary"
Hi,
I am a new user of the C++ library trying to output data that contains dictionary columns using RecordBatchFileWriter.

The following code seg faults, it is able to write a `Feather` file but seems to fail in `ipc::internal::WriteSchemaMessage` when I use the `RecordBatchFileWriter`:

[code]

Did I miss something here? Thanks for your help.

[2019-04-08 15:21] zmjjmz commented on #4115
Done https://issues.apache.org/jira/browse/ARROW-5140

[2019-04-08 18:28] fsaintjacques commented on #4119
[code]

This is an issue with either the server or your internet connection. You can close this issue.

[2019-04-08 18:30] fsaintjacques commented on #4124
Can you open a [JIRA](https://issues.apache.org/jira/projects/ARROW/issues) ticket and provide information about the stacktrace where it segfaults if possible?

[2019-04-08 18:33] fsaintjacques commented on #4109
2G is plasma server default maximum allocation pool.

[2019-04-09 00:59] akddv commented on #4124
Thanks, moved to [ARROW-5145](https://issues.apache.org/jira/browse/ARROW-5145).

[2019-04-09 00:59] #4124 closed

[2019-04-09 02:29] fayeshine commented on #4109
@fsaintjacques how to set plasma server maximum allocation pool

[2019-04-09 08:14] Zillibub opened #4128 "[Python] Read-only pd.DataFrame after reading"
## Can't change columns after reading DataFrame from pyarrow

The behavior of pandas dataframe is changing after reading it from pyarrow. It become unwritable and the writable flag cannot be changed. I am not sure if this is a proper behavior for pandas.

Example:
`df = pd.DataFrame(np.random.randn(100, 4), columns=list('ABCD'))`
Writing and reading:
[code]
After reading Dataframe setting new valu

[2019-04-10 08:40] vshih commented on #4030
Created - https://issues.apache.org/jira/browse/ARROW-5156

[2019-04-10 21:12] asfimport commented on #42868
[Rylan Dmello](https://issues.apache.org/jira/browse/PARQUET-1482?#comment-16814870) / @rdmello:
Hi `[~terag]`, sorry, I did take a look at this, but didn't really have the time to resolve this over the last few weeks.

I just opened a new Jira issue to add basic DataPageV2 support to the low-level API: https://issues.apache.org/jira/browse/PARQUET-1560 . I can add updates to that issue instead of

[2019-04-10 21:19] Warfront commented on #2549
Hello, do you fixed the problem?  i have the same problem. (pyarrow.lib.ArrowMemoryError)

[2019-04-10 21:21] emkornfield commented on #4030
Thanks.

[2019-04-10 21:21] #4030 closed

[2019-04-10 21:22] emkornfield commented on #4115
thanks.

[2019-04-10 21:22] #4115 closed

[2019-04-11 07:15] emkornfield commented on #4072
Going to close this for now, as I don't believe there is a workaround.

[2019-04-11 07:15] #4072 closed

[2019-04-11 07:18] emkornfield commented on #4109
@fayeshine  https://arrow.apache.org/docs/python/plasma.html provides a command line with parameters have you tried that?

[2019-04-11 07:52] emkornfield commented on #3765
Sounds like the conversation is over.  If this is still an issue please open a JIRA or contact dev@ mailing list.

[2019-04-11 07:52] #3765 closed

[2019-04-11 10:11] fayeshine commented on #4109
@emkornfield thanks, I have already set to 100GB, but this bug still happen

[2019-04-11 15:05] pitrou commented on #4128
Yes, Arrow is based around the idea of immutable data. It allows easy sharing of data between multiple threads or even process (if using shared memory / memory-mapped files). However, it means that modifying data requires allocating a new memory area.

Replacing the column with a new column is a reasonable solution, as you've found out.

[2019-04-11 15:05] #4128 closed

[2019-04-11 15:06] pitrou commented on #4122
Also @romainfrancois

[2019-04-11 15:07] #4119 closed

[2019-04-11 15:22] pitrou commented on #4045
Sorry for the delay in answering this. As you noticed, an issue already exists for the Parquet issue.
As for the Pandas-to-Arrow conversion issue, I opened [ARROW-5161](https://issues.apache.org/jira/browse/ARROW-5161).

[2019-04-11 15:22] #4045 closed

[2019-04-11 15:24] pitrou commented on #3948
The JIRA issue is [ARROW-4935](https://issues.apache.org/jira/browse/ARROW-4935).

[2019-04-11 15:24] #3948 closed

[2019-04-12 00:05] emkornfield commented on #4109
Hi fayeshine, actually looking at the error, I think the issue might be that you are creating a binary  value that has more then 2^31-1 bytes in it.  This is not currently supported in the existing layout for strings/list/variable width types(https://arrow.apache.org/docs/memory_layout.html).  There is a discussion on the mailing list about supporting larger types.

[2019-04-12 00:10] emkornfield commented on #3580
I think this is probably working as intended,  I think pandas dataframes are created as "immutable" without a memory copy if possible.  I think the slice operation, is also zero-copy and Per  pandas documentation https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.DataFrame.copy.html doesn't copy the actual data if possible.

[2019-04-12 00:10] #3580 closed

[2019-04-12 05:07] emkornfield commented on #4109
@fayeshine see explanation above, if that doesn't explain it, please file a [bug](https://issues.apache.org/jira/secure/Dashboard.jspa)

[2019-04-12 05:07] #4109 closed

[2019-04-12 05:20] fayeshine commented on #4109
@emkornfield when will we support larger types?

[2019-04-12 05:29] emkornfield commented on #4109
Hard to say, it will probably take a week or two to come to consensus on the [mailing list](http://mail-archives.apache.org/mod_mbox/arrow-dev/).   If we agree to support the larger types someone needs to contribute patches, the only type currently being worked on is lists.  If you have interest and time it might be easy to replicate the work on large list type  to other types.

[2019-04-15 08:04] MarkusBerroth commented on #4122
Hey,
I am also getting an Error if I want to install the R Package with devtools.

[code]

[2019-04-15 08:50] jbthummar opened #4154 "Unable to import apache-arrow npm package"
When I do in app.ts file in my project `const arrow =  require("apache-arrow"); `, it throws an error saying:

[code]

Node version :v8.10.0

Package.json
[code]

tsConfig.json
[code]

[2019-04-15 08:51] jbthummar commented on #4154
I am running this using below command:
`ts-node-dev --respawn --transpileOnly ./app.ts`

[2019-04-15 17:14] fsaintjacques commented on #4154
Hello,

Apache Arrow uses [JIRA](https://issues.apache.org/jira/projects/ARROW/issues) to track issues. Could you open a ticket?

Thank you

[2019-04-15 19:51] kou commented on #4154
You can't use apache-arrow npm package with Node.js 8.10.0.
apache-arrow npm package requires Node.js 11.12 or later: https://github.com/apache/arrow/blob/master/js/package.json#L114

[2019-04-15 19:51] #4154 closed

[2019-04-16 05:20] emkornfield commented on #4122
Also @jeroen who seems to own rwinlib.

[2019-04-16 11:11] jeroen commented on #4122
We only provide builds for released versions. It should be fixed in arrow now.

[2019-04-17 21:31] jkleint opened #4168 "PyArrow gives ArrowTypeError serializing Pandas nullable Int64"
With the new Pandas 0.24 [nullable integer types](http://pandas.pydata.org/pandas-docs/stable/user_guide/integer_na.html), Pandas `.to_parquet()` gives an `ArrowTypeError`.  Not sure if this is a Pandas or PyArrow issue.  This is with Python 3.7.2 and pyarrow 0.13.

[code]
[code]

[2019-04-18 14:17] asfimport opened #42882 "[C++][Parquet] SEGV in FromParquetSchema with corrupt file from PARQUET-1481"
Calling `parquet::arrow::FromParquetSchema` when reading the corrupt file attached to PARQUET-1481 results in a SEGV.  I'm not sure when this was introduced but I didn't observe this problem with our app that uses parquet-cpp v1.4.0.  Our team caught this while integrating Arrow 0.12.1 into MATLAB. 

To reproduce this, add the following lines to [parquet-reader.cc](https://github.com/apache/arrow/

[2019-04-18 14:22] asfimport commented on #42882
[Hatem Helal](https://issues.apache.org/jira/browse/PARQUET-1565?#comment-16821152) / @hatemhelal:
This is a somewhat esoteric problem but the fix seems to be to extend the switch case here [this switch case](https://github.com/apache/arrow/blob/master/cpp/src/parquet/arrow/schema.cc#L174) to handle the corrupted thrift metadata.

[2019-04-18 18:15] asfimport commented on #42357
[TP Boudreau](https://issues.apache.org/jira/browse/PARQUET-1411?#comment-16821379) / @tpboudreau:
I've been working on this enhancement and will likely have a WIP PR ready for initial review in a few days.

I'm new to parquet / arrow: should I (can I?) assign this issue to myself? Thanks. 

[2019-04-18 18:30] sunchao commented on #4038
Closing this due to inactivity. @emilk feel free to create a JIRA for this.

[2019-04-18 18:30] #4038 closed

[2019-04-19 10:48] #4122 closed

[2019-04-22 12:05] wesm commented on #2549
@Warfront if you can offer a reproducible example please open a JIRA issue

[2019-04-22 17:38] sburns opened #4184 "[PyArrow] null values not found when reading CSV"
👋, I'm having trouble getting `pyarrow.csv.read_csv` to parse null values:

[code]

But have no problem if I read the CSV w/ pandas and convert to a `Table`...

[code]

I've tried passing various arguments to `ConvertOptions(...,null_values=)` but from my reading of https://github.com/apache/arrow/blob/f7ef65e5fc367f1f5649dfcea0754e413fcca394/cpp/src/arrow/csv/options.cc#L28-L30

it seems like lit

[2019-04-22 17:50] wesm commented on #4184
Can you please open a JIRA issue with a minimal reproduction? Thanks

[2019-04-22 18:50] Warfront commented on #2549
@wesm the problem was that EC2 instance has not enought RAM memory.. i upgraded ram memory and Ready!

(I forget that i was working on a EC2 instance and i saw the ram memory of my pc and I did not find any problem)

Sorry for my english
Regards!!

[2019-04-22 20:59] sburns commented on #4184
Here you go, https://issues.apache.org/jira/browse/ARROW-5195

[2019-04-22 21:02] wesm commented on #4184
Thanks

[2019-04-22 21:02] #4184 closed

[2019-04-22 23:23] asfimport commented on #42357
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1411?#comment-16823563) / @wesm:
@tpboudreau I'll add you to the Contributor JIRA role and assign the issue to you

[2019-04-23 10:23] xhochy commented on #4168
@jkleint This is a `pyarrow` missing feature. The new types were implemented recently in `pandas` and no support for them was yet implemented in `pyarrow`. Can you open an issue about them over at  https://issues.apache.org/jira/projects/ARROW/issues ?

[2019-04-23 15:17] #42882 closed

[2019-04-23 18:59] wesm commented on #4168
@jorisvandenbossche what is pandas's expected memory layout for the new integer array types? The 0.23 -> 0.24 shift will present a bit of a compatibility headache (we'll need a flag whether to produce the new memory layout if the user has a new enough pandas)

[2019-04-23 19:10] jorisvandenbossche commented on #4168
The new integers are stored as pure numpy array for the values and a boolean mask array:

[code]

But, I am not sure it is up to pyarrow to add functionality to convert those (although you could argue to make an exception for it for the extension arrays added to pandas itself).
We need to have a general discussion about this on serialization and arrow conversion of ExtensionArrays, as also other e

[2019-04-24 03:12] chaokunyang opened #4195 "Use arrow as a general data serialization framework in distributed stream data processing"
## Motivate
We want to use arrow as a general data serialization framework in  distributed stream data processing. We are working on [ray](https://github.com/ray-project/ray), written in c++ in low-level and java/python in high-level. We want to transfer streaming data between java/python/c++ efficiently. Arrow is a great framework for cross-language data transfer. But it seems more appropriate fo

[2019-04-24 17:21] wesm commented on #4195
hi @chaokunyang -- thank you for doing this analysis. Unfortunately, this is not the preferred place to have this discussion. Would you like to start a thread on dev@arrow.apache.org about this?

[2019-04-25 11:38] chaokunyang commented on #4195
Ok, thank you, Wes. I've started a thread on dev@arrow.apache.org, so I'll close this issue.

[2019-04-25 11:38] #4195 closed

[2019-04-25 14:14] asfimport opened #21688 "[Format] Script for updating various checked-in Flatbuffers files"
Some subprojects have begun checking in generated Flatbuffers files to source control. This presents a maintainability issue when there are additions or changes made to the .fbs sources. It would be useful to be able to automate the update of these files so it doesn't have to happen on a manual / case-by-case basis

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/browse/ARROW-5213) / @

[2019-04-25 18:31] Raghava-NR opened #4206 "[Python] pyarrow.lib.ArrowIOError: Could not connect to socket Plasma"
Hi,
I have implemented a piece of code to store pandas df into plasma store.
Works like a charm in my local env. But in my dev env, I am able to connect to store via python shell and put and get objects from store. But I am not able to connect to it via API call.
When I am trying to connect to store in an API it throws me
pyarrow.lib.ArrowIOError: Could not connect to socket
error.
Thought it migh

[2019-04-25 18:32] wesm commented on #4206
Can you please send an email to the mailing list (dev@arrow.apache.org) or open a JIRA issue (if you think it's a bug)?

[2019-04-26 21:09] KamarajuKusumanchi opened #4215 "hdfs.connect() is trying to load libjvm in windows"
The following script
[code]
tries to load libjvm in windows 7 which is not expected.
[code]
There is no libjvm file in Windows Java installation.
[code]
I see the libjvm error with both 0.11.1 and 0.13.0 versions.

Steps to reproduce the issue (with more details):

Create the environment
[code]

`$ conda env create -f scratch_py36_pyarrow.yml`

Apply the following patch to lib/site-packages/pyarro

[2019-04-26 23:12] kjschiroo opened #4216 "pyarrow 0.13.0 linux package size"
I noticed that the size of the `pyarrow` linux package size went up pretty significantly for `python3` in `pyarrow == 0.13.0` compared to the previous versions. In `0.13.0` the linux wheel is 48.5 MB while in `0.12.1` it was at 12.4 MB. This is a bit surprising since it looks like the size for `python2` stayed pretty near the same.

This presents some challenges for some size limited use cases. In

[2019-04-26 23:34] wesm commented on #4216
See https://issues.apache.org/jira/browse/ARROW-5082

In https://github.com/apache/arrow/blob/master/python/manylinux1/build_arrow.sh try disabling Gandiva, Plasma, or other components that you do not require. We'd be happy to discuss further on the dev@arrow.apache.org mailing list

[2019-04-26 23:34] #4216 closed

[2019-04-29 14:54] wesm commented on #4215
Hi, can you please open a JIRA issue? I have never tested the HDFS integration on Windows, nor is it documented, so someone will need to do this testing and documentation work

[2019-04-29 15:28] KamarajuKusumanchi commented on #4215
Please find the JIRA issue at https://issues.apache.org/jira/browse/ARROW-5236 .

[2019-04-29 15:52] asfimport commented on #42850
[John Adcock](https://issues.apache.org/jira/browse/PARQUET-1405?#comment-16829371):
I'm being hit by this issue, I'm happy to try and help resolve it but would appreciate any tips on getting started with diagnosing where the problem is.  Is the column statistics comment above accurate?

[2019-04-29 20:58] asfimport commented on #42850
[Deepak Majeti](https://issues.apache.org/jira/browse/PARQUET-1405?#comment-16829711) / @majetideepak:
PARQUET-979 omits large statistics inside ColumnMetaData but missed omitting large statistics inside the DataPageHeader. I will fix this.
Disabling statistics when writing is a workaround, but I don't see any option to disable statistics in the Python API.
@wesm or @xhochy must correct me here.

[2019-04-29 21:22] asfimport commented on #42850
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1405?#comment-16829735) / @wesm:
We can add an option to not write statistics, can you open an ARROW JIRA about this?

[2019-04-29 22:11] asfimport commented on #42850
[Deepak Majeti](https://issues.apache.org/jira/browse/PARQUET-1405?#comment-16829769) / @majetideepak:
Filed https://issues.apache.org/jira/browse/ARROW-5241

[2019-05-01 05:58] hagsteel opened #4234 "[Rust] README invalid link"
In the README at https://github.com/apache/arrow/tree/master/rust/parquet the crate documentation goes to https://docs.rs/crate/parquet/0.14.0-SNAPSHOT which does not exist.

(Changing it to https://docs.rs/crate/parquet/0.13.0 works)

[2019-05-01 21:49] EvenOldridge opened #4237 "Pyarrow Parquet Pagesize question"
I'm trying to figure out how to specify page size in the parquet writer but I'm only seeing the option for chunk_size / row_group_size which I believe is block size.  How do you set page size?  I saw a reference to it being set as a default 1MB in a previous issue, but can't find any other references to change it.

[2019-05-01 22:04] wesm commented on #4237
see https://issues.apache.org/jira/browse/ARROW-2057. Let's discuss there

[2019-05-01 22:04] #4237 closed

[2019-05-01 22:37] asfimport opened #42883 "[C++][Parquet] Indicate if null count, distinct count are present in column statistics"
One can determine if the min/max statistics are present with `HasMinMax` but the same is not possible with null_count or distinct_count

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=wesm) / @wesm
**Assignee**: Andrew Wieteska](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=arw2019) / @arw2019
#### PRs and other links:
- [GitHub Pull Request

[2019-05-01 22:41] asfimport commented on #42853
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1413?#comment-16831298) / @wesm:
Duplicate of PARQUET-1523

[2019-05-01 22:41] #42853 closed

[2019-05-01 22:42] asfimport commented on #42450
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-567?#comment-16831301) / @wesm:
We are planning to address this use case downstream in Apache Arrow. I do not think it is useful to implement such logic in a Parquet-specific way, so best left to consumers of parquet-cpp

[2019-05-01 22:42] #42450 closed

[2019-05-01 22:45] asfimport commented on #42579
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-810?#comment-16831303) / @wesm:
I think this is an application-level concern.

We provide both low-level and high-level (Arrow) APIs for reading Parquet files, and examining their schemas. If the user is reading files with an expanded schema, at read time they can determine how to project the available columns into the target schema. I d

[2019-05-01 22:45] #42579 closed

[2019-05-02 17:31] coltonmorris opened #4239 "[Go] Building a record that contains a struct with a boolean field fails"
When I build a record that has a struct, and that struct has a field with the type `arrow.FixedWidthTypes.Boolean`, it later panics when trying to access the boolean value with the following error:
[code]

The following code successfully reads the string value, but not the boolean value:
[code]

[2019-05-02 19:35] #42366 closed

[2019-05-02 19:38] #42257 closed

[2019-05-02 19:57] asfimport commented on #42805
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1252?#comment-16831915) / @wesm:
As far as I can tell this is done. Resolving, please reopen if there is still an issue

https://github.com/apache/arrow/blob/master/cpp/cmake_modules/ThirdpartyToolchain.cmake#L903

[2019-05-02 19:57] #42805 closed

[2019-05-02 20:16] asfimport commented on #42874
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1523?#comment-16831926) / @wesm:
Issue resolved by pull request 4233
<https://github.com/apache/arrow/pull/4233>

[2019-05-02 20:16] #42874 closed

[2019-05-02 20:21] asfimport opened #42884 "[C++][Parquet] Parquet] Bad initialization in statistics computation"
The following lines are undefined if the first element is null.

https://github.com/apache/arrow/blob/250e97c70f497581bca412dfd2a654a1f9736064/cpp/src/parquet/statistics.cc#L159-L160

**Reporter**: [Francois Saint-Jacques](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=fsaintjacques) / @fsaintjacques
**Assignee**: Wes McKinney](https://issues.apache.org/jira/secure/ViewProfile.jspa?na

[2019-05-02 21:46] kou commented on #4234
master is for developers.
Could you use tag such as [apache-arrow-0.13.0](https://github.com/apache/arrow/tree/apache-arrow-0.13.0/rust/parquet) instead? It's for users.

[2019-05-02 21:46] #4234 closed

[2019-05-02 22:11] asfimport commented on #42884
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1567?#comment-16832035) / @wesm:
@fsaintjacques I moved this to PARQUET

[2019-05-03 02:20] asfimport commented on #42850
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1405?#comment-16832158) / @wesm:
Issue resolved by pull request 4230
<https://github.com/apache/arrow/pull/4230>

[2019-05-03 02:20] #42850 closed

[2019-05-03 16:59] daslu opened #4248 "ARROW_GANDIVA_JAVA flag missing in instructions"
Thanks for this beautiful project!

The build instructions
https://github.com/apache/arrow/blob/master/docs/source/developers/cpp.rst#optional-components
seem to be missing the new `-DARROW_GANDIVA_JAVA=ON` (in addition to `DARROW_GANDIVA=ON`).

See https://github.com/apache/arrow/pull/2817 for background.

[2019-05-03 21:45] asfimport opened #42885 "[C++][Parquet] onsolidate testing header files"
Among

- parquet/test-util.h
- parquet/test-specialization.h
- parquet/util/test-common.h

  It isn't clear what would would expect to find in each, nor is it obvious where to put new shared testing code. I will combine them all into parquet/test-util.h

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=wesm) / @wesm
**Assignee**: Wes McKinney](https://issues

[2019-05-04 16:08] Neverlord opened #4253 "Segfault when constructing an Arrow list of structs in C++"
I'm not entirely sure if I'm using the API correctly, but I can't find matching entries in the documentation or related examples. Sorry in case I'm missing something obvious.

I want to store a `std::map<K, V>` in Arrow. For that, I'm turning it into the equivalent of `List<Struct[key: K, value: V]>`, i.e., I'm using a `ListBuilder` that in turns contains a `StructBuilder` that in turn has two mor

[2019-05-04 21:33] emkornfield commented on #4248
@daslu could you file a [JIRA](https://issues.apache.org/) issue on this?  Would you have time to contribute a patch?

[2019-05-04 21:37] emkornfield commented on #4239
Could you file a [JIRA issue](https://issues.apache.org/jira/).  I'm not familiar with the Go code but this looks like a bug.

CC @sbinet

[2019-05-04 21:58] emkornfield commented on #4253
I don't think this is what is causing the segfault (need to look into that some more), but it does look like you are calling struct_builder->Append() twice, but you've only added in one key and one value.  I don't think this is correct.

[2019-05-05 03:27] emkornfield commented on #4253
I think the issue is how you define map_type.  Since you are passing it to the StructBuilder it should include the list:

[code]
also, note the way you are defining things is essentially making a map per row, if you want a single "global" map the list isn't necessary.

[2019-05-05 15:38] asafcombo opened #4254 "snappy compression seems not to work"
# Description
I'm using `pq.write_table(arrow_table,'pyarrow_test', compression='snappy')`.

I'm validating the compression with `python-snappy`, but I get that the compression is not valid.

# system
1.  run on aws `ec2`
2. os:  `Amazon Linux AMI 2018.03`
3. deleted the snappy distribution that comes pre installed.
4. installed `snappy-devel-1.1.0-3.el7.x86_64.rpm` and `snappy-1.1.0-3.el7.x86_64.

[2019-05-05 20:24] wesm commented on #4254
@asafcombo Snappy compression is performed at the level of data pages in the Parquet format, not at the level of the whole file. Take a look at the Parquet specification for more details about this https://github.com/apache/parquet-format -- we can also point you to the relevant code paths in parquet-cpp

[2019-05-05 20:24] #4254 closed

[2019-05-06 02:33] worker24h opened #4256 "Can't read data from parquet file in C++ library"
Specified the second param parquet::ReaderProperties When I used parquet::ParquetFileReader::Open, it can't work.
The following code：
[code]
The interface **Skip**  throw exception：
[code]

[2019-05-06 02:42] worker24h commented on #4256
I fixed the issued.
cpp/src/parquet/util/memory.cc: 273
if (*num_bytes > (buffer_size_ - buffer_offset_))
to
if (*num_bytes >= (buffer_size_ - buffer_offset_))

[2019-05-06 06:38] daslu commented on #4248
@emkornfield sure, thanks.

[2019-05-06 12:10] Neverlord commented on #4253
@emkornfield thank you for your quick response! Constructing `map_type` accordingly and calling `struct_builder->Append()` does the trick. 👍

[2019-05-06 12:10] #4253 closed

[2019-05-06 14:02] sbinet commented on #4239
I believe this has been fixed by #4229 which is now the new `master`.
(feel free to reopen if that's not the case on your end.)

[2019-05-06 14:02] #4239 closed

[2019-05-06 15:29] yngve-sk opened #4261 "[Javascript] Possible bug in countBy"
The ```countBy``` function is not returning correct histograms, as it seems to select the wrong array type for the indexing.

The following line in countBy seems to be causing the problems:

 ```const countByteLength = Math.ceil(Math.log(vector.dictionary.length) / Math.log(256));```

For example, if the dictionary length is 3, yet the indices length is 1 million, the result of this expression wil

[2019-05-06 16:54] asfimport commented on #42885
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1569?#comment-16834001) / @wesm:
Issue resolved by pull request 4252
<https://github.com/apache/arrow/pull/4252>

[2019-05-06 16:54] #42885 closed

[2019-05-06 20:15] kou commented on #4256
Could you open a JIRA issue at https://issues.apache.org/jira/browse/ARROW and submit a pull request?
See also: https://arrow.apache.org/docs/developers/contributing.html#how-to-contribute-patches

[2019-05-06 20:48] kou commented on #4261
Could you open a JIRA issue at https://issues.apache.org/jira/browse/ARROW ?
See also: https://arrow.apache.org/docs/developers/contributing.html#github-issues

[2019-05-06 21:11] yngve-sk commented on #4261
Done: https://issues.apache.org/jira/browse/ARROW-5274
Submitted a PR with the fix.

[2019-05-06 21:17] kou commented on #4261
Thanks!

[2019-05-06 21:17] #4261 closed

[2019-05-08 01:38] asfimport opened #42886 "[C++][Parquet] an't read data from parquet file in C++ library"
Specified the second param **parquet::ReaderProperties** When I used parquet::ParquetFileReader::Open, it can't work.
 The following code：
[code]
The interface **Skip** throw exception：

<font color="#FF0000">`Couldn't deserialize thrift: TProtocolException: Invalid data Deserializing page header failed.`</font>

 

**Reporter**: [worker24h](https://issues.apache.org/jira/secure/ViewProfile.jspa?n

[2019-05-08 01:43] asfimport commented on #42886
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1571?#comment-16835235) / @wesm:
I moved this from ARROW to PARQUET. Can you provide a way to reproduce the issue? Very large page statistics are a known limitation

[2019-05-08 01:49] asfimport commented on #42886
[worker24h](https://issues.apache.org/jira/browse/PARQUET-1571?#comment-16835237):
I had fixed the bug.

source file: cpp/src/parquet/util/memory.cc: 273

**change**
if (**num_bytes <font color="#FF0000">></font> (buffer_size_ - buffer_offset_))
\*to**
if (\*num_bytes <font color="#FF0000">>=</font> (buffer_size_ - buffer_offset_))

[2019-05-08 09:10] asfimport commented on #42886
[worker24h](https://issues.apache.org/jira/browse/PARQUET-1571?#comment-16835446):
parquet::ReaderProperties _properties;
 _properties = parquet::ReaderProperties();
 _properties.enable_buffered_stream(); // used buffer stream. Don't set buffer-sizeparquet_reader = parquet::ParquetFileReader::Open(_parquet, _properties);

Don't invoke interface <font color="#FF0000">_properties.set_buffer_size()</

[2019-05-08 15:51] asfimport commented on #42886
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1571?#comment-16835701) / @wesm:
Issue resolved by pull request 4275
<https://github.com/apache/arrow/pull/4275>

[2019-05-08 15:51] #42886 closed

[2019-05-09 16:23] asfimport opened #21761 "[Python] accept pyarrow values / scalars in constructor functions ?"
Currently, functions like \`pyarrow.array` don't accept pyarrow Arrays, or also not scalars of it:

[code]

Do we want to allow those / recognize those here? (the first case could even have a fastpath, as we don't need to do it element by element).

Also scalars are not supported:

[code]

And also in other functions we don't accept arrow scalars / values:

[code]
 

 

**Reporter**: [Joris Van de

[2019-05-09 16:41] joetl opened #4284 "timestamp_as_object support for pa.Table.to_pandas in pyarrow"
## pyarrow (Issue with timestamp conversion from arrow to pandas)
   pyarrow Table.to_pandas has option date_as_object but does not have similar option for timestamp. When a timestamp column in arrow table is converted to pandas the target datetype is pd.Timestamp and pd.Timestamp does not handle time > 2262-04-11 23:47:16.854775807 and hence in the below scenario the date is transformed to incorr

[2019-05-09 17:28] fsaintjacques commented on #4256
This issue can be closed.

[2019-05-09 18:03] #4256 closed

[2019-05-10 09:02] whjiang opened #4289 "0.13 FAILED to build with option -DARROW_NO_DEFAULT_MEMORY_POOL"
I tried to upgrade Apache Arrow to 0.13. But, when building Apache Arrow 0.13 with option `-DARROW_NO_DEFAULT_MEMORY_POOL`, I got a lot of failures.

It seems 0.13 assuming default memory pool always available.

[2019-05-10 09:02] ericjster opened #4290 "Consider string interning (pooling) as option for columns"
For datasets having many rows but few distinct string column values, string interning could save time and space, at an extra cost of bookkeeping and complexity of code and storage. There are several places to consider: format and interface.
Format changes would obviously introduce version dependencies for clients. Compression essentially does string interning on disk so it might be that it offers

[2019-05-10 09:03] whjiang commented on #4289
My cmake command is:
[code]

[2019-05-10 09:10] JackYangzg opened #4291 "pyarrow.hdfs.ls and pyarrow.hdfs.walk caused Segmentation fault when the path"
I Using pyarrow to communicate with hdfs through libhdfs3.so。
all Interfaces except ls and walk is all ok。
when I using ls to list files of a dir, if the file number > 1, the program will core dumped(Segmentation fault)。

I using C to call libhdfs3.so is fine.

system：suse12-sp2  or ubuntu16.04
hadoop: 2.7.6
pyarrow: 0.13.0
libhdfs3.so: latest in github

[2019-05-10 10:27] emkornfield commented on #4290
Thanks for the suggestion.  Could you describe how this is different then [dictionary arrays](https://arrow.apache.org/docs/python/data.html#dictionary-arrays) ?

[2019-05-10 12:59] wesm commented on #4289
Thanks for reporting; apparently we aren't testing that configuration. Can you please open a JIRA issue?

[2019-05-10 13:01] wesm commented on #4290
Indeed, @ericjster what you are describing sounds equivalent to dictionary encoding, which we have already

[2019-05-10 13:03] wesm commented on #4291
We don't support libhdfs3 version 2.3 that's currently available on conda-forge. I am not sure we want to continue supporting libhdfs3 at all because it is not maintained. You can try downgrading to `libhdfs3=2.2.31` in the meantime

[2019-05-10 13:03] #4291 closed

[2019-05-10 13:03] wesm commented on #4291
Related issue https://issues.apache.org/jira/browse/ARROW-1445

[2019-05-10 15:17] whjiang commented on #4289
ARROW-5300 is created.

[2019-05-10 15:18] wesm commented on #4289
Thanks

[2019-05-10 15:18] #4289 closed

[2019-05-10 18:13] xhochy commented on #4284
@joetl Can you open an issue in JIRA about this?

[2019-05-10 20:04] allan-simon commented on #2163
can it be added as a dependencies in your setup.py ?  (not a python expert) or can you at least state in your readme that cython and cmake is required ?

[2019-05-12 00:01] zhouyan opened #4294 "C++17 build error"
There are a few places in the source code that is not C++17 standard compliant when built under that standard, for example so far I am able to identify the following

[code]
which can be found in `cpp/src/arrow/json/parser.cc` around line 369

C++17 string_view does not have a `to_string` method which is causing compile errors when built against C++17. It is necessary to built it under C++17 if th

[2019-05-12 15:08] wesm commented on #4294
Hi can you please open a JIRA issue? PRs welcome. Note we have a PR pending that affects the DictionaryBuilder code path so you may want to wait for that to go in

[2019-05-13 08:45] K377U opened #4296 "Schema append does not work"
Im trying to use [Schema API](https://arrow.apache.org/docs/python/generated/pyarrow.Schema.html#pyarrow.Schema).

Schema append does not work.

[code]

Result:
[code]

[2019-05-13 08:52] K377U commented on #4296
Ah, ok. Now I got it. Append returns schema. Naming was confusing but API documentation actually said that it returns it implying the given data structure was not modified.

[2019-05-13 09:34] bnriiitb opened #4298 "Unable to load parquet files with same columns names but with different order"
Unable to load parquet files with **same columns names but with a different order**.

Scenario:

ABD-MacBook-Pro:ttt abd$ tree
.
├── testing1.paquet
└── testing2.paquet

I have two parquet files as mentioned above and was trying to load them using below command. The column names are the same in both the files but just the order is different and I was able to load these files using Spark. Could you

[2019-05-13 09:38] jorisvandenbossche commented on #4298
This is currently not yet supported by pyarrow (but certainly planned). More specifically, the current limitation is that all schemas of different pieces / files need to be identical (not only order, but also type). There are plans to improve this and have some schema normalization while reading parquet files.

For this specific issue, we already have an https://issues.apache.org/jira/browse/ARROW

[2019-05-13 09:42] bnriiitb commented on #4298
@jorisvandenbossche  Thank you very much for letting me know this.

[2019-05-13 13:13] wesm commented on #4296
I opened https://issues.apache.org/jira/browse/ARROW-5309 about improving the docstrings about this

[2019-05-13 13:13] #4296 closed

[2019-05-13 13:47] FabioBatSilva opened #4301 "[Rust] [Parquet] - How to flat map a RowIter ?"
Hi..

I have I iterator of parquet files/paths
and I'm trying to flatten it in order to get a iterator with all the rows in all files.

[code]

I think the prob is that to create a `RowIter` I need to borrow the `FileReader`.
And some how I need to keep both the reader and the row inter alive..

I tried creating wrapper iterator to hold both.
But that creates a struct member referencing other memb

[2019-05-13 14:55] lepmik opened #4302 "feather write/load changes dataframe"
![image](https://user-images.githubusercontent.com/3418096/57631448-ccef5e80-759f-11e9-8022-b143cfbd8990.png)

[2019-05-13 15:36] wesm commented on #4302
Can you please open a JIRA issue?

[2019-05-13 17:33] jorisvandenbossche commented on #4302
I suppose the reason is because your DataFrame will have integer column names, and writing/reading to/from parquet converted those to string column names.

Not sure if feather is supposed to restore that (with parquet we store pandas metadata, which we don't with feather I think)

[2019-05-13 17:42] #4298 closed

[2019-05-13 18:01] pitrou commented on #4294
Also @bkietz

[2019-05-13 20:35] wesm commented on #4302
That's right, so this may fall into the "won't fix" category

[2019-05-13 21:17] cornhundred commented on #1894
I'm getting a different error using updated versions of pandas and scipy

[code]

[code]

[2019-05-13 21:19] wesm commented on #1894
Can you report to pandas?

[2019-05-14 23:18] asfimport opened #42887 "[C++][Parquet] parquet-encoding-test failed with msvc"
std::vector.reserve should be replaced with resize

**Reporter**: [Renat Valiullin](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=rip.nsk@gmail.com) / @rip-nsk
**Assignee**: Renat Valiullin](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=rip.nsk@gmail.com) / @rip-nsk
#### PRs and other links:
- [GitHub Pull Request #4311](https://github.com/apache/arrow/pull/4311)

<sub>

[2019-05-15 10:11] lepmik opened #4314 "memory map feather files"
Are there any ways to memory map a feather file? If not, are there any plans to implement this?

[2019-05-15 15:20] asfimport commented on #42887
[Antoine Pitrou](https://issues.apache.org/jira/browse/PARQUET-1574?#comment-16840501) / @pitrou:
Issue resolved by pull request 4311
<https://github.com/apache/arrow/pull/4311>

[2019-05-15 15:20] #42887 closed

[2019-05-15 15:55] darrenleeweber opened #4318 "plasma API notes"
While working with the plasma API to create/seal an object for a table, using a custom object-ID, it would help to have a convenience API to get the size of the table.

The following code might help to illustrate the request and notes below:

[code]

The use case is a workflow something like this:
- process-A
  - generate a pandas DataFrame `df`
  - save the `df` to parquet, using pyarrow.parquet,

[2019-05-15 16:10] darrenleeweber commented on #4318
Copied to https://issues.apache.org/jira/browse/ARROW-5324 (where JIRA corrupted the formatting)

[2019-05-15 19:09] wesm commented on #4318
Thanks. Discussion can continue on JIRA

[2019-05-15 19:09] #4318 closed

[2019-05-15 19:31] rip-nsk opened #4320 "parquet cpp version"
Likely cpp/src/parquet/.parquetcppversion should be updated (to 1.10.1 ?)

[2019-05-15 19:41] wesm commented on #4320
parquet-cpp hasn't had a release since 1.5.0, so the next release would probably be 1.6.0. I've been too busy to set up the release scripts for a Parquet-only C++ release and no one has been asking for it, so it hasn't gotten done yet since the monorepo merge

1.10.1 is the Java version number

[2019-05-15 19:41] #4320 closed

[2019-05-16 18:46] darrenleeweber commented on #4318
BTW, I don't look for or watch for JIRA notifications, so don't expect anything addressed to me specifically to reach me via JIRA.

[2019-05-16 21:56] nevi-me commented on #4301
Hey @FabioBatSilva, may you please close this as you've opened a JIRA ticket and a PR, thanks btw.

[2019-05-16 22:43] asfimport opened #21815 "[JS] Implement Duration type, integration test support for Interval and Duration types"
Follow on work to ARROW-835

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/browse/ARROW-5356) / @wesm

<sub>**Note**: *This issue was originally created as [ARROW-5356](https://issues.apache.org/jira/browse/ARROW-5356). Please see the [migration documentation](https://github.com/apache/arrow/issues/14542) for further details.*</sub>

[2019-05-16 22:54] wesm commented on #4294
@zhouyan would you mind opening a JIRA issue?

[2019-05-16 22:56] wesm commented on #4314
If you pass a memory mapped file to the C++ reader API it does not copy anything, so we have already implemented it. We are already memory mapping by default in the Python API

https://github.com/apache/arrow/blob/master/python/pyarrow/feather.pxi#L78

[2019-05-16 22:56] #4314 closed

[2019-05-16 22:56] #4290 closed

[2019-05-16 22:57] wesm commented on #4168
Can we open a JIRA issue about this and close this issue?

[2019-05-16 22:57] #4206 closed

[2019-05-16 22:58] wesm commented on #4248
@daslu can you post a link to the JIRA issue?

[2019-05-16 22:58] #4215 closed

[2019-05-16 22:58] wesm commented on #4284
@joetl can you open a JIRA issue?

[2019-05-16 22:59] #4301 closed

[2019-05-16 22:59] #4302 closed

[2019-05-16 23:17] FabioBatSilva commented on #4301
👍

[2019-05-16 23:24] daslu commented on #4248
Hi, tomorrow finally I'll be able to create a ticket and a pull request, and post the links here.

[2019-05-16 23:42] joetl commented on #4284
Create Jira issue https://issues.apache.org/jira/browse/ARROW-5359

[2019-05-17 11:15] asfimport commented on #42868
[Tera G](https://issues.apache.org/jira/browse/PARQUET-1482?#comment-16842100):
Hi @rdmello, 

sorry for the delayed response. I was on vacation from last 2 weeks. 

I have attached the v2 file to PARQUET-1560 JIRA.

[2019-05-17 17:11] MicPie commented on #2562
Hello @naroom ,

did you found way to work around this error?

Kind regards
Michael

[2019-05-17 18:21] asfimport opened #42888 "[C++][Parquet] Fix undefined behavior in encoding.cc when num_dictionary_values is 0."
There is code that potentially references a nullptr.

**Reporter**: [Micah Kornfield](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=emkornfield@gmail.com) / @emkornfield
#### PRs and other links:
- [GitHub Pull Request #4336](https://github.com/apache/arrow/pull/4336)

<sub>**Note**: *This issue was originally created as [PARQUET-1581](https://issues.apache.org/jira/browse/PARQUET-15

[2019-05-17 19:12] asfimport opened #42889 "[C++][Parquet] Add ToString method ColumnDescriptor"
This can help in certain debugging scenarios.

**Reporter**: [Micah Kornfield](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=emkornfield@gmail.com) / @emkornfield
**Assignee**: Micah Kornfield](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=emkornfield@gmail.com) / @emkornfield
#### PRs and other links:
- [GitHub Pull Request #4338](https://github.com/apache/arrow/pull/4

[2019-05-18 22:58] daslu commented on #4248
Jira issue: https://issues.apache.org/jira/browse/ARROW-5373

Pull request: https://github.com/apache/arrow/pull/4345

Thanks

[2019-05-19 05:48] emkornfield commented on #4248
Thank you.

[2019-05-19 05:48] #4248 closed

[2019-05-20 11:30] thamht4190 opened #4349 "Crash at arrow::internal::CountSetBits"
I've got a lot of crash dump from a customer's windows machine. The stacktrace shows that it crashed at arrow::internal::CountSetBits.

[code]

[code]

[code]

Does anyone have any idea about this? Thanks!

[2019-05-20 12:13] pranav-kohli opened #4350 "Pyarrow hdfs3 ls command results in seg fault"
I am using pyarrow to connect to hdfs client on my mac.
However the ls command results in seg fault

[code]

pyarrow==0.13.0
hdfs3==0.3.0

[2019-05-20 13:04] asfimport commented on #42888
[Antoine Pitrou](https://issues.apache.org/jira/browse/PARQUET-1581?#comment-16843947) / @pitrou:
Issue resolved by pull request 4336
<https://github.com/apache/arrow/pull/4336>

[2019-05-20 13:04] #42888 closed

[2019-05-20 13:42] emkornfield commented on #4349
Hi @thamht4190

It looks like maybe this is running on a machine that doesn't have access to a native popcount instruction?

[2019-05-20 14:51] asfimport commented on #42415
[Deepak Majeti](https://issues.apache.org/jira/browse/PARQUET-517?#comment-16844020) / @majetideepak:
The `std::vector<int> buffered_indices_` inside `DictEncoder` can benefit using an arrow::MemoryPool. This is significant when there are many columns.

[2019-05-20 17:55] wesm commented on #4349
Can you open a JIRA issue? Any information you can give about the machine would be helpful

[2019-05-20 17:57] wesm commented on #4350
We don't support the latest version of libhdfs3 on conda-forge yet. It's unclear whether continuing to support this library is worthwhile because it is not maintained by a very large community

https://issues.apache.org/jira/browse/ARROW-1465

[2019-05-20 17:57] #4350 closed

[2019-05-20 18:01] asfimport opened #42890 "[C++][Parquet] Remove parquet::Vector class"
I'm not sure this code is needed anymore, added during the early days of the project in 2016

**Reporter**: [Wes McKinney](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=wesm) / @wesm
**Assignee**: Wes McKinney](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=wesm) / @wesm
#### PRs and other links:
- [GitHub Pull Request #4354](https://github.com/apache/arrow/pull/4354)

<

[2019-05-20 18:09] jorisvandenbossche commented on #4168
I think this is covered by the existing issues https://issues.apache.org/jira/browse/ARROW-5271 and https://issues.apache.org/jira/browse/ARROW-2428, which cover the general ExtensionArray topic. Or would you prefer to have a specific issue for nullable integers (that would be blocked by those issues)?

[2019-05-20 18:48] wesm commented on #4168
Yeah, it would be nice to have an issue specifically about nullable integers to make sure it gets done (it's easy for such a thing to fall through the cracks)

[2019-05-20 18:56] jorisvandenbossche commented on #4168
OK, opened https://issues.apache.org/jira/browse/ARROW-5379

[2019-05-20 21:41] asfimport opened #42891 "[C++][Parquet] rash tests with glog and MinGW build"
When we enable glog with MinGW build, Parquet tests are only crashed with the following error:

[code]

https://ci.appveyor.com/project/ApacheSoftwareFoundation/arrow/builds/24639044/job/munbig5qtkfxuqqc#L1553

Arrow tests aren't crashed.

See also: ARROW-5369

**Reporter**: [Kouhei Sutou](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=kou) / @kou
**Assignee**: Kouhei Sutou](https://i

[2019-05-20 21:41] asfimport commented on #42889
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1582?#comment-16844323) / @wesm:
Issue resolved by pull request 4338
<https://github.com/apache/arrow/pull/4338>

[2019-05-20 21:41] #42889 closed

[2019-05-21 03:43] thamht4190 commented on #4349
It seems to be so. I've checked. arrow has been built with x86 host machine for x64 machine, why my application has been built with x64 host machine for x64 machine. I'm not sure if it matters. I'll try to have the same build config for arrow and my application, then let see.

[2019-05-21 04:10] emkornfield commented on #4349
I think more details on the actual processor you are running into this on would be useful.

[2019-05-21 06:38] asfimport commented on #42890
[Uwe Korn](https://issues.apache.org/jira/browse/PARQUET-1583?#comment-16844561) / @xhochy:
Issue resolved by pull request 4354
<https://github.com/apache/arrow/pull/4354>

[2019-05-21 06:38] #42890 closed

[2019-05-21 07:26] asfimport opened #21840 "[C++] Crash at arrow::internal::CountSetBits"
I've got a lot of crash dump from a customer's windows machine. The stacktrace shows that it crashed at arrow::internal::CountSetBits.

 
[code]
[code]
[code]
 

 

**Environment**: Operating System: Windows 7 Professional 64-bit (6.1, Build 7601) Service Pack 1    (7601.win7sp1_ldr_escrow.181110-1429)
Language: English (Regional Setting: English)
System Manufacturer: SAMSUNG ELECTRONICS CO., LTD.

[2019-05-21 07:28] thamht4190 commented on #4349
I've got some info about machine our application is running on and created jira ticket here: https://issues.apache.org/jira/browse/ARROW-5381.

[2019-05-21 15:46] mfcabrera opened #4363 "parquet to pandas date type convention question"
I am not sure if this is a bug or an specification change. My technical knowledge of Parquet and Arrow is not the best but I am happy to provide more info if any.

I have a parque file with dates in one column. Using Pyarrow version 0.11.1 when I deserialized that into Pandas DataFrame (via pd.read_parquet) I get a type but when I use version 0.13.x I get a different type. I am aware this might be

[2019-05-21 16:05] mfcabrera commented on #4363
I noticed that this has to do with ARROW-3910 #3272 and I think I now understand why it was done. Still for one-way users (not interested in the roundtrip) this might be annoying but adding an extra line might not be the worst thing to do.

[2019-05-21 16:05] #4363 closed

[2019-05-21 16:54] asfimport commented on #42848
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1402?#comment-16845022) / @wesm:
Issue resolved by pull request 4359
<https://github.com/apache/arrow/pull/4359>

[2019-05-21 16:54] #42848 closed

[2019-05-21 17:26] wesm commented on #4363
Would you like to contribute something to the documentation, or open a JIRA about improving the documentation?

cc @jorisvandenbossche @nealrichardson

[2019-05-22 08:56] zhijunfu opened #4368 "[plasma] pin objects in plasma store"
Sometimes we want to "pin" an object in plasma store - we don't want this object to be deleted  even though there's nobody that's currently referencing it. In this case, we can specify a flag when creating the object so that it won't be deleted by LRU cache when its refcnt drops to 0, and can only be deleted by an explicit `Delete()` call.

Would this make sense to you? @pcmoritz @robertnishihara

[2019-05-22 12:27] guoyuhong commented on #4368
This is good feature, especially when there is a long-chain dependency. Currently, we found that an actor FO problem. The actor creation task depends on a plasma object put by user. After the the actor running for a long time, the object will be deleted by plasma LRU. Then, an Actor FO happens, the creation task cannot find the object put by user, so the FO is hanging forever.

[2019-05-22 14:46] wesm commented on #4368
Can you please open a JIRA issue for this feature?

[2019-05-22 14:46] #4349 closed

[2019-05-22 14:48] #4284 closed

[2019-05-22 14:48] #4168 closed

[2019-05-23 07:00] buaasun opened #4375 "[Gandiva] How to add custom native functions?"
Does gandiva support user-defined functions? How to add functions like
`sqrt(float), abs(float), mean(list), first(list)` without modify gandiva itself?

[2019-05-23 09:03] zhijunfu commented on #4368
@wesm  done, thanks. [ARROW-5402](https://issues.apache.org/jira/browse/ARROW-5402)

[2019-05-23 12:06] temerick opened #4377 "[plasma] enable Subscribe and GetNotification from Java"
Currently, these functions exist in the cpp API, but are not exposed via JNI.

If this is a feature that is in line with the project direction, I would be happy to implement it.

[2019-05-23 12:12] praveenbingo commented on #4375
I've started a thread around this on the mailing list so that information is easily available/searchable. Please let us continue the discussion on the same.

[2019-05-23 13:29] bkietz commented on #4294
https://issues.apache.org/jira/browse/ARROW-5404?filter=-1

[2019-05-23 13:29] wesm commented on #4294
Thanks!

[2019-05-23 13:29] #4294 closed

[2019-05-23 13:29] #4375 closed

[2019-05-23 13:29] wesm commented on #4377
Can you open a JIRA issue about this?

[2019-05-23 13:32] wesm commented on #4368
Thanks

[2019-05-23 13:32] #4368 closed

[2019-05-23 13:45] buaasun commented on #4375
Where can I get further information?

[2019-05-23 14:26] temerick commented on #4377
Done.

[2019-05-23 14:46] wesm commented on #4377
Thanks

[2019-05-23 14:46] #4377 closed

[2019-05-24 09:58] mfcabrera commented on #4363
@wesm I added a bit of documentation on the pandas integration doc. I hope that's enough/relevant.

[2019-05-24 11:04] Ingvar-Y opened #4382 "CSV reader doesn't remove BOM"
If a csv file starts with a byte-order mark, csv reader doesn't strip it and instead adds `\ufeff` to the first column name.

I found it out while trying to set `pyarrow.csv.ConvertOptions` when reader silently ignored the settings for the first column. As a couple of follow-up ideas, maybe a warning should be raised when `column_types` dictionary contains keys not matching column names, and maybe

[2019-05-24 12:21] wesm commented on #4382
Can you please open a JIRA issue?

[2019-05-24 13:30] Ingvar-Y commented on #4382
Done.

[2019-05-24 18:07] asfimport commented on #42804
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1243?#comment-16847789) / @wesm:
Issue resolved by pull request 4240
<https://github.com/apache/arrow/pull/4240>

[2019-05-24 18:07] #42804 closed

[2019-05-24 19:48] asfimport opened #42364 "[C++][Parquet] Add --dump options to parquet-reader tool to dump def/rep levels"
**Reporter**: [Renat Valiullin](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=rip.nsk@gmail.com) / @rip-nsk
**Assignee**: Renat Valiullin](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=rip.nsk@gmail.com) / @rip-nsk
#### PRs and other links:
- [GitHub Pull Request #4385](https://github.com/apache/arrow/pull/4385)

<sub>**Note**: *This issue was originally created as [PAR

[2019-05-24 21:46] #4382 closed

[2019-05-26 12:21] asfimport commented on #42364
[Uwe Korn](https://issues.apache.org/jira/browse/PARQUET-1586?#comment-16848419) / @xhochy:
Issue resolved by pull request 4385
<https://github.com/apache/arrow/pull/4385>

[2019-05-26 12:21] #42364 closed

[2019-05-27 00:03] Santosh-Gupta commented on #2691
Any update on this?

[2019-05-27 20:03] asfimport commented on #42357
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1411?#comment-16849172) / @wesm:
Issue resolved by pull request 4185
<https://github.com/apache/arrow/pull/4185>

[2019-05-27 20:03] #42357 closed

[2019-05-27 20:06] wesm commented on #2691
See the JIRA link, it is still open/unresolved

[2019-05-27 21:24] leungi opened #4399 "Error when installing R copy"
Running `devtools::install_github("apache/arrow", subdir = "r", ref = "apache-arrow-0.12.0")` returns the following error:

[code]

[2019-05-27 21:24] leungi commented on #4399
[code]

[2019-05-27 22:02] wesm commented on #4399
You need to have the Arrow C++ libraries installed on your system to be able to build the R package. We hope to provide a smoother installation experience sometime this year, please come on dev@arrow.apache.org if you would like to help

[2019-05-27 22:02] #4399 closed

[2019-05-28 20:04] asfimport commented on #42358
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1422?#comment-16850097) / @wesm:
@pitrou I ran into a snag working on this in the different semantics of `parquet::BufferedInputStream` versus `arrow::io::BufferedInputStream`. The only place this function is used in parquet-cpp is here

https://github.com/apache/arrow/blob/1a0e976/cpp/src/parquet/column_reader.cc#L156

The idea is that

[2019-05-28 21:19] leungi commented on #4399
Thanks for prompt reply @wesm.

I updated to `pyarrow 0.13`, and it worked!

[code]

On a side note, I did get the following error message, though it doesn't seem to affect the install, as I was able to load `arrow` in R, and managed to replicate the speed-up example from [r-spark-improvements](https://arrow.apache.org/blog/2019/01/25/r-spark-improvements/).

[code]

[2019-05-29 00:17] asfimport commented on #42358
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1422?#comment-16850249) / @wesm:
I went ahead and ported the "expanding-peek" logic to the Arrow `BufferedInputStream`.

[2019-05-30 20:56] zeyuanxy opened #4420 "[Python][Gandiva] Offset is ignored in Gandiva projector"
I used the test case in https://github.com/apache/arrow/blob/master/python/pyarrow/tests/test_gandiva.py#L25, and found an issue when I was using the slice operator `input_batch[1:]`. It seems that the offset is ignored in the Gandiva projector.

[code]
If we use the full record batch `input_batch`, the expected output is `[10, 15, 15, 17]`. So if we use `input_batch[1:]`, the expected output shou

[2019-05-30 21:12] zeyuanxy commented on #4420
If I understand correctly, I believe it is because of the offset is ignored here https://github.com/apache/arrow/blob/master/cpp/src/gandiva/annotator.cc#L75.

[2019-05-30 21:25] xhochy commented on #2163
This is already mentioned in the `setup_requires` section: https://github.com/apache/arrow/blob/c327af0d926c80855c6b1a07aa7dafc1ac1fc362/python/setup.py#L586

[2019-05-31 06:43] pravindra commented on #4420
Can you please open a jira for this ?

Adding offsets in the annotator will not work for validity buffers and bitmaps (they are not byte aligned). I guess we'll have to fix the loop in the evaluator to start at an offset instead of 0.

https://github.com/apache/arrow/blob/master/cpp/src/gandiva/llvm_generator.cc#L296

[2019-05-31 08:32] pravindra commented on #4420
On Fri, May 31, 2019 at 2:42 AM Zeyuan Shang <notifications@github.com>
wrote:

Can you please open a jira for this ?

Adding offsets in the annotator will not work for validity buffers and
bitmaps (they are not byte aligned). I guess we'll have to fix the loop in
the evaluator to start at an offset instead of 0.

https://github.com/apache/arrow/blob/master/cpp/src/gandiva/llvm_generator.cc#L296
-

[2019-05-31 15:13] asfimport commented on #42358
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-1422?#comment-16853105) / @wesm:
Issue resolved by pull request 4404
<https://github.com/apache/arrow/pull/4404>

[2019-05-31 15:13] #42358 closed

[2019-05-31 15:34] asfimport commented on #42562
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-770?#comment-16853123) / @wesm:
@majetideepak is this still an issue?

[2019-05-31 17:07] zeyuanxy commented on #4420
@pravindra Thanks for quick response! I have created a JIRA issue here https://issues.apache.org/jira/browse/ARROW-5471

[2019-05-31 21:29] #4420 closed

[2019-06-02 01:41] asfimport commented on #42562
[Deepak Majeti](https://issues.apache.org/jira/browse/PARQUET-770?#comment-16853859) / @majetideepak:
@wesm this should be resolved now.

[2019-06-02 01:41] #42562 closed

[2019-06-02 21:45] treyhakanson opened #4452 "Arrow TS Excessively Deep Type Instantiations"
Using the following versions of arrow and typescript:

- `@apache-arrow/ts`: 0.13.0
- `typescript`: 3.5.1

I get a slew of errors like the following on compilation:

[code]

I am new to Arrow and relatively new to Typescript, so please let me know any additional information that would be helpful and I am happy to provide. Thanks!

[2019-06-03 02:18] wesm commented on #4452
@trxcllnt @TheNeuralBit

You may want to open a JIRA issues with description how to reproduce

[2019-06-03 02:48] trxcllnt commented on #4452
@treyhakanson yeah, this was a breaking change introduced by TS 3.4 or so. I've fixed this in the JS builder branch which should get a PR here shortly.

[2019-06-03 12:04] mskyttner opened #4456 "arrow R package read_parquet() support, reading individual columns from parquet file"
I tried using the `arrow` R package for reading a parquet file with the released version of the package, following the instructions at "apache/arrow/r" and wonder if support for doing this may not be there yet?

Details of my attempts, with (hopefully) a reproducible build can be found here:

https://github.com/r-lib/vroom/issues/117#issuecomment-498225399

I wanted to read a single column from a

[2019-06-03 12:25] treyhakanson commented on #4452
@trxcllnt I'll downgrade my TS version for now and keep an eye on that branch. Thanks for the info!

[2019-06-03 12:29] treyhakanson commented on #4452
Downgrading to 3.2.4 did indeed solve the problem, closing 👍

[2019-06-03 12:29] #4452 closed

[2019-06-03 15:10] nealrichardson commented on #4456
Hi @mskyttner, thanks for the report. Regarding the build trouble you experienced, it turns out that in the 0.13 release (unofficial and still not on CRAN), Parquet support was not enabled by default. If you were to install the development version of the package (which also requires building the latest C++ library from source), it is enabled.

As for the interface of `read_parquet()` and the abili

[2019-06-03 15:35] wesm commented on #4456
Definitely yes. In Python we have a `columns` option to indicate which columns you want to read, which can be a single columns, so the same should be done in R.

I created https://issues.apache.org/jira/browse/ARROW-5492

[2019-06-03 15:35] #4456 closed

[2019-06-03 20:32] asfimport commented on #42256
[Wes McKinney](https://issues.apache.org/jira/browse/PARQUET-458?#comment-16855019) / @wesm:
There's multiple issues here preventing the library from reading the pages yet:

In DataPageV2

- the encoded rep/def levels prefix is not included in the data, it's part of the page header, so this logic is incorrect: https://github.com/apache/arrow/blob/master/cpp/src/parquet/column_reader.cc#L53
- the c

[2019-06-04 07:36] urmilarv commented on #4215
Hi, I am also facing same issue, but could not find issue fix details anya ny of JIRA ARROW-5236 OR 4215.
Please help. I have conda and spark installed on my local machine and trying to connect HDFS as mentioned below

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\vishurm\opt\miniconda3\lib\site-packages\pyarrow\hdfs.py", line
 183, in connect
    extra_

[2019-06-04 11:58] pulver opened #4469 "Header files missing if build directory includes "internal" anywhere in the path."
The following logic incorrectly omits header files from `PUBLIC_HEADERS` if the build directory has a parent directory that includes "internal" as a substring.
[code]
https://github.com/apache/arrow/blob/b6123a84d1bd40ed7fbe86a474c6b1c30f7e4b0e/cpp/cmake_modules/BuildUtils.cmake#L701

For example, if the arrow package is built in a subdirectory of `project-foo-internal` then header files are missi

[2019-06-04 13:26] wesm commented on #4469
Can you please open a JIRA issue about this bug?

[2019-06-04 21:50] brills opened #4472 "importing pyarrow and Tensorflow crashes"
Hi,

I'm not sure if this is resolved by the recent change to the linker script [1] as I browsed several related issues / PRs [2][3][4]. But currently with arrow 0.13.0 and tensorflow 1.13 or nightly (the "tf-nightly" pip package), if pyarrow is imported before tensorflow is, python crashes:

To reproduce:

To repreduce:

$ pip install tf-nightly
$ pip install pyarrow==0.13.0

$ python

  216726 s

[2019-06-04 21:51] xhochy commented on #4472
This is solved by the linked PRs. Please reopen if this persists after a 0.14 release.

[2019-06-04 21:51] #4472 closed

[2019-06-04 21:58] brills commented on #4472
Hi Uwe,

will there be a minor release soon?

[2019-06-05 04:29] asfimport commented on #42883
[Neal Richardson](https://issues.apache.org/jira/browse/PARQUET-1566?#comment-16856333) / @nealrichardson:
test, please disregard

[2019-06-05 14:42] wesm commented on #4469
https://issues.apache.org/jira/browse/ARROW-5517

[2019-06-05 14:42] #4469 closed

[2019-06-06 16:03] alexnixon opened #4489 "Consider shading the flatbuffers dependency (java)"
Hi,

Just a heads up here :-

After some [discussion](https://github.com/google/flatbuffers/issues/5368) with the Flatbuffers maintainer, it appears that FB generated code is not guaranteed to be compatible with _any other_ version of the runtime library other than the exact same version of the flatc used to compile it.

This makes depending on flatbuffers in a library (like arrow) quite risky, as

[2019-06-06 19:08] xhochy commented on #4489
@alexnixon can you open a JIRA about that?

[2019-06-07 00:19] treyhakanson opened #4495 "Field Metadata Not Read"
Field metadata is not read when using `@apache-arrow/ts@0.13.0`. Example below also uses `pyarrow==0.13.0`

Steps to reproduce:

Adding metadata:

[code]

Reading field metadata using `pyarrow`:

[code]

Reading field metadata using `@apache-arrow/ts`:

[code]

[2019-06-07 14:47] wesm commented on #4495
Can you please open a JIRA issue?

[2019-06-07 18:22] asfimport opened #21977 "[C++] Add options to ValueCount/Unique/DictEncode kernel to toggle null behavior"
**Reporter**: [Francois Saint-Jacques](https://issues.apache.org/jira/browse/ARROW-5530) / @fsaintjacques
#### Related issues:
- [[C++] C++ array kernels framework and execution buildout (umbrella issue)](https://github.com/apache/arrow/issues/25028) (is a child of)

<sub>**Note**: *This issue was originally created as [ARROW-5530](https://issues.apache.org/jira/browse/ARROW-5530). Please see the